<template>
  <div>
    <div class="mt-10 flex justify-between items-start">
      <ul class="bg-custom-light0 w-max mt-20">
        <li
          class="py-2 px-4 border border-custom-blue4 whitespace-nowrap"
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage === tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[40%] rounded">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div
              class="text-lg w-10/12 text-custom-blue4 mt-5 text-left mx-auto"
            >
              {{ tab.description }}
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "The Turf Club Bar and Grill",
      tabs: [
        {
          name: "The Turf Club Bar and Grill",
          imgs: [
            require("../../assets/saratoga-springs/dining/grill/1.png"),
            require("../../assets/saratoga-springs/dining/grill/2.png"),
            require("../../assets/saratoga-springs/dining/grill/3.png"),
            require("../../assets/saratoga-springs/dining/grill/4.png"),
          ],
          description:
            "Vintage equestrian memorabilia adorn the walls of this bar and grill, located next to the Lake Buena Vista Golf Course. Savor American favorites at this racetrack-inspired clubhouse with golf course and lakefront views",
        },
        {
          name: "The Artist's Palette",
          imgs: [
            require("../../assets/saratoga-springs/dining/art/1.png"),
            require("../../assets/saratoga-springs/dining/art/2.png"),
            require("../../assets/saratoga-springs/dining/art/3.png"),
          ],
          description:
            "Create a pleasing culinary picture with grab-and-go items, sandwiches, salads, and hot breakfast at this quick-service eatery. It's open for breakfast, lunch, and dinner; menu items range from Mickey waffles to rotisserie chicken.",
        },
        {
          name: "The Paddock Grill",
          imgs: [require("../../assets/saratoga-springs/dining/padock/1.png")],
          description:
            "Dine alfresco at this open-air eatery, which serves breakfast, lunch, and dinner. Gourmet menu times like the Saratoga burger, spice-crusted fish, classic cobb salad, and homemade potato chips make this restaurant stand out. ",
        },
        {
          name: "Backstretch Pool Bar",
          imgs: [
            require("../../assets/saratoga-springs/dining/pool/1.png"),
            require("../../assets/saratoga-springs/dining/pool/2.png"),
          ],
          description:
            "Enjoy classic snacks like pretzels, pizzas, sandwiches, and a variety of cocktails and mocktails at this poolside snack bar. Treats like ice cream are also available. ",
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
