<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in images" :key="index">
                <div class="overflow-hidden relative w-full pb-[40%]">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Disney's Saratoga Springs Resort & Spa
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                Disney's Saratoga Springs is the perfect getaway choice for
                horse racing enthusiasts. Fashioned after the New York town
                famous for horse racing, this resort blends Victorian style and
                New England charm. Savor the world-class dining of The Turf Club
                Bar and Grill, or express your inner artist at The Artist's
                Palette, where you can enjoy a lighter fare as you create a
                masterpiece on a tabletop easel. Relax in the ambiance of a New
                York spa-getaway, surrounded by sun-soaked golf course greens
                and the pristine Village Lake, while being only a short boat
                ride away from Disney's Springs.
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline"
              >
               What makes Disney's Saratoga springs Resort great!
              </h2>
            </div>
            <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      active: false,
      discriptions: [
        " Stay close to all the action and excitement at Disney's shopping and entertainment complex, which is just a short boat ride away. ",
        "Racing enthusiasts will love the nods to horse racing scattered throughout the resort, including a 'winners circle' statue, equine weather vanes, and more. ",
        "pamper yourself at Senses Spa, or sunbathe around one of the resort's five pools. ",
      ],
      names: [
        "Quick access to Disney Springs",
        "Enter the winner's circle",
        "Soak and sun",
      ],
      images_b: [
        require("../../assets/saratoga-springs/2.png"),
        require("../../assets/saratoga-springs/3.png"),
        require("../../assets/saratoga-springs/4.png"),
      ],
      images: [
        require("../../assets/saratoga-springs/1.png"),
        // require("../../assets/saratoga-springs/2.png"),
        require("../../assets/saratoga-springs/3.png"),
        require("../../assets/saratoga-springs/4.png"),
        require("../../assets/saratoga-springs/5.png"),
        require("../../assets/saratoga-springs/6.png"),
        require("../../assets/saratoga-springs/7.png"),
        require("../../assets/saratoga-springs/8.png"),
        // require("../../assets/saratoga-springs/9.png"),
      ],
    };
  },
};
</script>
