<template>
  <div class="px-16 pb-8">
    <h1 class="text-center text-3xl text-custom-blue6 font-medium">
      PRODUCT UNDERSTANDING CHECKLIST
    </h1>
    <p class="text-custom-blue6 text-lg pt-4">
      As former Disney Vacation Club Cast Members, we understand how important
      it is that you are comfortable purchasing your DVC resale membership with
      DVC Sales. This Product Understanding Checklist summarizes the key
      information you need to know about how your membership works once you
      close. If you have any questions, please contact us by emailing
      lori@dvcsales.com or call the office at (844) 382–7253. You may also call
      the Disney Vacation Club and ask to speak with a Quality Assurance Manager
      (800) 782-6767.
    </p>
    <div class="pl-4">
      <h1 class="text-custom-orange1 text-lg pt-4">
        HOW DO I BECOME A MEMBER?
      </h1>
      <p class="text-custom-blue6 text-lg pl-4">
        You become a member of the Disney Vacation Club by purchasing a real
        estate interest in a DVC resort.
      </p>
      <h1 class="text-custom-orange1 text-lg pt-4">
        HOW LONG DOES MY MEMBERSHIP LAST?
      </h1>
      <p class="text-custom-blue6 text-lg pl-4">
        The term or expiration of the vacation plan depends on your Home Resort.
        The expiration date for your selected resort is referenced in paragraph
        3 of your purchase agreement. You can view the all DVC Resort expiration
        dates here.
      </p>
      <h1 class="text-custom-orange1 text-lg pt-4">
        WHAT DO I OWN?
      </h1>
      <p class="text-custom-blue6 text-lg pl-4">
        Upon closing of the transaction, you will be provided with a deed. This
        represents your ownership of a percentage interest in a particular unit
        and its common elements. This interest is expressed as an annual
        allotment of Vacation Points which are then used to reserve your
        accommodations. These Vacation Points are your vehicle to using your
        membership
      </p>
      <h1 class="text-custom-orange1 text-lg pt-4">
        WHAT ARE THE YEARLY FEES?
      </h1>
      <p class="text-custom-blue6 text-lg pl-4">
        Each Member pays Annual Dues, which include real estate taxes and resort
        maintenance costs. The amount of dues paid is based on the number of
        points you own and your Home Resort. These dues can be paid annually or
        every month via direct debit from a US bank account. The current year’s
        estimated Annual Dues are referenced in paragraph 5 of your purchase
        agreement. You can also view the Annual Dues for all DVC Resorts here.
      </p>
      <h1 class="text-custom-orange1 text-lg pt-4">
        HOW DO I MAKE RESERVATIONS?
      </h1>
      <p class="text-custom-blue6 text-lg pl-4">
        You may book your reservation by calling Disney’s Member Services at
        (800) 800-9800 or by logging on to your account on the Disney Vacation
        Club website. Reservations are subject to availability on a first-come,
        first-served basis. At your home resort, you may reserve accommodations
        up to 11 months in advance of your check-in date. At all other DVC
        Resorts, reservations can be made up to 7 months before check-in.
      </p>
      <h1 class="text-custom-orange1 text-lg pt-4">
        WHEN DO I GET MY POINTS EACH YEAR?
      </h1>
      <p class="text-custom-blue6 text-lg pl-4">
        Vacation Points are deposited into your account of the 1st day of the
        month of your Use Year. For example, a contract with a February Use Year
        will have that year’s allocated points deposited on February 1st. Your
        Use Year is stated in your purchase agreement and on your deed. Your
        Vacation Points will expire if you not use or bank your points by the
        end of the 12-month period.
      </p>
      <h1 class="text-custom-orange1 text-lg pt-4">
        MAY I SAVE UNUSED POINTS?
      </h1>
      <p class="text-custom-blue6 text-lg pl-4">
        You may BANK up to 100% of your Vacation Points during the first 8
        months of your Use Year. You may also BORROW Vacation Points from the
        next Use Year to use in the current year. This means that you could have
        up to 3 years worth of Vacation Points available to book your
        reservation during the current Use Year. Please note that banking and
        borrowing Vacation Points are final transactions. The points will expire
        if not used during the Use Year to which they are moved.
      </p>
      <h1 class="text-custom-orange1 text-lg pt-4">
        MULTIPLE CONTRACTS:
      </h1>
      <p class="text-custom-blue6 text-lg pl-4">
        If you purchase another ownership interest with the same Use Year
        (regardless of the Home Resort), you will receive a separate deed.
        Disney will add this additional deed to your existing Membership Number
        with the same banking window. For existing members who purchase a
        different Use Year, you will be issued a new Member Number for that
        contract and have a different banking window. Regardless of how many
        Member Numbers you have, all contracts will be in one online account as
        long as the same names are on the title and deed. You may make a
        reservation up to 11 months in advance at your Home Resort with the
        number of points you own at that resort only. If combining points from
        multiple contracts with different Home Resorts to use for one
        reservation, you will need to wait until the 7 month booking window.
      </p>
      <h1 class="text-custom-orange1 text-lg pt-4">
        ARE THERE RESTRICTIONS WHEN PURCHASING A MEMBERSHIP ON THE RESALE
        MARKET?
      </h1>
      <p class="text-custom-blue6 text-lg pl-4">
        DVC memberships purchased on the resale market can be used for
        reservations at the original 14 Disney Vacation Club resorts and at
        non-Disney resorts around the world through the RCI program (also known
        as the Word Passport Collection). Resale buyers cannot use the Vacation
        Points associated with this ownership interest to book reservations for
        the Concierge, Disney Collection, or select Disney resorts (including
        Disney’s Riviera Resort). You also cannot use your Vacation Points to
        book accommodations for the Disney Cruise Line or Adventures by Disney.
        Some Incidental Benefits (also known as Membership Extras) such as
        discounts on dining, shopping, annual passes, and member exclusive
        events are not included.
      </p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
