<template>
   <buying-laout>
       <router-view/>
   </buying-laout>
</template>

<script>
import BuyingLaout from '../../layouts/buying/index.vue'
export default {
   components:{
       BuyingLaout
   }
}
</script>

<style>

</style>