<template>
  <div>
    <div class="mt-10 flex justify-between items-start px-3">
      <ul class="bg-custom-light0 w-max mt-20">
        <li
          class="py-2 px-4 border border-custom-blue4 whitespace-nowrap"
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage === tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[40%] rounded">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div
              class="text-lg w-10/12 text-custom-blue4 mt-5 text-left mx-auto"
            >
              {{ tab.description }}
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Storytellers Cafe",
      tabs: [
        {
          name: "Storytellers Cafe",
          imgs: [
            require("../../assets/grand-californian/dinning/cafe/1.png"),
            require("../../assets/grand-californian/dinning/cafe/2.png"),
          ],
          description:
            "An innovative menu for breakfast and dinner is at the heart of Storytellers Cafe. Start your day with shared mini pastries, including croissants, muffins, danishes, and entrees like Mickey waffles and breakfast burritos. Signature cocktails, mocktails, and hot beverages are also available. At dinner, enjoy savory entrees like Garlic Soy Glazed Chicken Wings and the American Wagyu Burger. End the meal with Bread Pudding and fresh strawberries. ",
        },
        {
          name: "Napa Rose",
          imgs: [
            require("../../assets/grand-californian/dinning/nopos/1.png"),
            require("../../assets/grand-californian/dinning/nopos/2.png"),
          ],
          description:
            "This fine dining establishment is the perfect place to celebrate special occasions and everyday victories. Warm, Craftsman-inspired decor nods to the beauty of the Golden State at this premier dining destination. Entrees include dishes that pay homage to California's culinary masterpieces, local farmers, and famous winemakers. The restaurant offers a prix fixe Vintner Menu and a la carte selections and is known for its impressive wine list",
        },
        {
          name: "Craftsman Grill",
          imgs: [
           require("../../assets/grand-californian/dinning/grill/1.png"),
          ],
          description:
            "Authentic craftsman ambiance provides the backdrop for breakfast, dinner, and refreshing drinks. From breakfast burritos and smoked salmon bagels to artisanal pizzas and handcrafted sandwiches, the Craftsman grill has it all. Plus, grab-and-go meals and snacks are also available. ",
        },
        {
          name: "Hearthstone Lounge",
          imgs: [
           require("../../assets/grand-californian/dinning/lounge/1.png"),
          ],
          description:
            "This lounge features small plates like avocado toast with burrata and gourmet pizzas. Designed after the Arts and Crafts architectural period, this lounge allows you to relax and enjoy the hotel's beautiful interior. ",
        },
        {
          name: "Napa Rose Lounge ",
          imgs: [
             require("../../assets/grand-californian/dinning/rose/1.png"),
          
          ],
          description:
            "The Napa Rose Lounge is part of the Napa Rose restaurants and offers early evening appetizers, late-night snacks, and exquisite nightcaps. Indoor and outdoor dining is available while taking a bite into California-inspired seasonal cuisine, including cheese plates, seafood, and meats. ",
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
