<template>
	<div class="flex items-center justify-center mt-5 px-6">
		<img :src="require(`../../assets/grand-californian/map.jpg`)" />
	</div>
</template>

<script>
	export default {
		data() {
			return {};
		},
	};
</script>