<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in images" :key="index">
                <div class="overflow-hidden relative w-full pb-[40%]">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Disney's Riviera Resort
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                The only DVC resort located at Disneyland, the Villas at
                Disney’s Grand Californian Hotel & Spa offer close access to all
                the magic of Disneyland. The excitement and thrills of Disney's
                California Adventure Park are minutes away. Enjoy world-class
                amenities, recreation, and dining at this one-of-a-kind resort!
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline"
              >
                What makes Disney's Grand californian Resort great!
              </h2>
            </div>
            <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      active: false,
      discriptions: [
        "Located steps away from Disney's California Adventure, resort guests can use an exclusive entrance to enter the park.",
        " With Craftsman-style theming and a rustic ambiance, the Grand Californian celebrates the beauty and wonder of the entire state. ",
        "Swim and splash together as a family at the resort's three pools: the Mariposa, the Redwood, and the Fountain. Enjoy water slides, whirlpool spas, and private cabana rentals to enhance your pool day.",
      ],
      names: [
        "Convenient theme park access",
        "Grand adventure",
        "Playful oasis",
      ],
      images_b: [
        `${require("../../assets/grand-californian/1.png")}`,
        `${require("../../assets/grand-californian/2.png")}`,
        require("../../assets/boardwalk-villas/6.png"),
      ],
      images: [
        `${require("../../assets/grand-californian/1.png")}`,
        `${require("../../assets/grand-californian/2.png")}`,
      ],
    };
  },
};
</script>
