<template>
  <div class="grid grid-cols-8 gap-4 px-3 py-6">
    <div class="bg-white md:col-span-3 col-span-8 border">
      <h5
        v-for="(desc, index) in description"
        :key="index"
        @click="active = index"
        class="border px-2 py-1  cursor-pointer text-md"
        :class="
          index === active ? 'bg-custom-blue2 text-white' : 'text-custom-blue6'
        "
      >
        {{ desc.name }}
      </h5>
    </div>
    <div class="bg-white  lg:col-span-4 md:col-span-5 col-span-8  b1">
      <div class="b2 h-full">
        <div class="b3 h-full">
          <div class="b4 h-full p-4 text-custom-blue6 text-md">
            {{ description[active].description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["description"],
  data() {
    return {
      active: 0,
    };
  },
};
</script>

<style scoped>
.b1 {
  border: 4px solid rgb(230, 230, 230);
}
.b2 {
  border: 4px solid #cccccc;
}
.b3 {
  border: 4px solid #999999;
}
.b4 {
  border: 4px solid #f9f5f1;
}
</style>
