<template>
  <div class="pb-6">
    <p class="text-center text-3xl text-custom-blue6 pb-6  font-medium">
      DOING THE RIGHT THING SINCE 1993
    </p>
    <div class="grid grid-cols-12 px-4 gap-4">
      <div class="col-span-2 flex flex-col space-y-3">
          <template v-for="(img, index) in images1">
            <img :src="img" :key="index" />
          </template>
      </div>
      <div class="col-span-8 text-custom-blue6 text-xl space-y-3">
        <template v-for="(desc, index) in descrptions">
          <p :key="index">{{ desc }}</p>
        </template>
      </div>
     <div class="col-span-2 flex flex-col space-y-3">
          <template v-for="(img, index) in images2">
            <img :src="img" :key="index" />
          </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      images1: [
        "https://dvcsales.com/wp-content/themes/dvcsales/images/family/verticalfullfamily.png",
        "https://dvcsales.com/wp-content/themes/dvcsales/images/family/familyoutside.png",
        "https://dvcsales.com/wp-content/themes/dvcsales/images/family/fullfamily.png",
        "https://dvcsales.com/wp-content/themes/dvcsales/images/family/fullfamilymasti.png",
        "https://dvcsales.com/wp-content/themes/dvcsales/images/family/Optimized-bearstanding.png",
      ],
      images2:[
         "https://dvcsales.com/wp-content/themes/dvcsales/images/family/couple.png",
         "https://dvcsales.com/wp-content/themes/dvcsales/images/family/markwithcert.png",
         "https://dvcsales.com/wp-content/themes/dvcsales/images/family/markwithmedal.png",
         "https://dvcsales.com/wp-content/themes/dvcsales/images/family/fullfamilywithteddy.png",
         "https://dvcsales.com/wp-content/themes/dvcsales/images/family/Optimized-bearandleo.PNG"
      ],
      descrptions: [
        " Thank you for visiting DVC Sales! We are former Disney Vacation Club cast members and sold directly for Disney for a combined 25 years.",
        "Mark has spent the majority of his career selling for both Marriott Vacation Club (7 years) and Disney. After 22 years at the Disney Vacation Club, Mark decided it was time for a change, and started DVC Sales.",
        "Mark and Lori met at Marriott and after several years, Lori also made the career move to Disney. She said yes to his proposal and they married in 1996",
        "They made the decision for Lori to stay home and raise their 2 boys while Mark continued his years with Disney, most of which were wonderful!",
        "Why leave a career at Disney?As the industry leader, Disney was a great place to work and grow for many years. Mark received countless awards for outstanding sales achievement over the years as he assisted thousands of families in creating lifelong memories with DVC.",
        "In more recent years, it became increasingly difficult for families to be able to afford to pay full price when buying directly from Disney. Over the years, there have been price increases every year, making DVC a luxury brand that many could not afford.",
        "More recently, buyers have become aware of the ability to purchase Disney on the resale market, saving thousands of dollars by doing so!",
        "After assisting thousands of members become DVC members over the years, Mark and Lori made the decision in early 2016 to open their own resale business. DVC Sales has become a leader in the resale industry, and they are doing what they love.",
      ],
    };
  },
};
</script>

<style></style>
