<template>
  <div id="chart " class="h-screen lg:px-16 md:px-8 px-4 py-16">
    <h1 class="text-center text-3xl text-custom-blue6 pb-6 font-medium">
      HOW MANY YEARS REMAIN FOR EACH RESORT?
    </h1>
    <apexchart
     class="w-full"
      type="bar"
      height="100%"
      :options="chartOptions"
      :series="series"
    ></apexchart>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";

export default {
  components: {
    apexchart: VueApexCharts,
  },
  data() {
    return {
      series: [
        {
          data: [
            36,
            41,
            39,
            21,
            21,
            21,
            47,
            39,
            43,
            21,
            21,
            36,
            45,
            49,
            33,
            21,
          ],
        },
      ],

      chartOptions: {
        title: {
          text: undefined,
          align: "left",
          margin: 10,
          offsetX: 0,
          offsetY: 0,
          floating: false,
          style: {
            fontSize: "30px",
            fontWeight: "bold",
            fontFamily: undefined,
            color: "#fff",
          },
        },
        legend: {
          show: false,
        },
        chart: {
          type: "bar",
          foreColor: "#214F73",
          fontSize: "24px",
        },
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
            distributed: true,
          },
        },

        colors: ["#214F73"],
        dataLabels: {
          enabled: true,
          style: {
            colors: ["#fff"],
          },
        },

        xaxis: {
          categories: [
            "Animal Kingdom",
            "Aulani",
            "Bay Lake Tower",
            "Beach Club",
            "Board Walk",
            "Boulder Ridge",
            "Copper Creek",
            "Grand CA",
            "Grand Floridian",
            "Hilton Head",
            "Old Key West",
            "Old Key West(57)",
            "Polynesian",
            "Riviera",
            "Saratoga Springs",
            "Vero Beach",
          ],
        },
      },
    };
  },
};
</script>

<style>
.apexcharts-legend {
  display: none;
}
.apexcharts-legend-series {
  display: none;
}
</style>
