<template>
  <div>
    <p class="text-center text-3xl text-custom-blue6 pb-6  font-medium">
      VACATION POINT CALCULATOR
    </p>
    <div
      class="flex md:flex-row flex-col items-center justify-center items-start pt-16 md:space-x-4 space-x-0 md:space-y-0 space-y-12 px-6"
    >
      <SelectResort class="lg:w-1/3 w-full" :options="resorts" />
      <Points class="lg:w-1/3 w-full " />
    </div>
    <div class="w-full flex justify-center">
    <div class="lg:px-16 md:px-8 px-4 pb-5 pt-6 lg:w-8/12 w-11/12 overflow-x-auto"><Table class="w-full"/></div>
    </div>
    <div class="px-16 pb-5">
      <p class="text-lg text-custom-blue6 font-display">
        You’ve probably heard how purchasing your Disney Vacation Club
        membership on our DVC Sales resale market can help you save thousands on
        your membership. However, how much will purchasing resale save you based
        on your desired membership preferences? That’s what our DVC Retail vs
        Resale calculator is for. This calculator will help determine the
        approximate savings you may expect by purchasing your membership resale.
      </p>
      <p class="text-custom-orange5 text-xl font-md pt-4">
        HOW TO USE THE VACATION POINT CALCULATOR
      </p>
      <div class="text-custom-blue6">
        <p class="text-lg">
          Find out how much you could save by purchasing your DVC membership on
          our resale market in three easy steps:
        </p>
        <p class="text-lg font-semibold"><span class="pr-2 pl-9 ">1-</span> Select your desired home resort</p>
        <p class="text-lg font-semibold"> <span class="pr-2 pl-9 ">2-</span> Move the slider to the amount of desired vacation points</p>
        <p class="text-lg font-semibold">
          <span class="pr-2 pl-9 ">3-</span> Compare your savings by purchasing directly from Disney or on our
          resale market!
        </p>
        <p class="text-lg">
          Want to learn more about how purchasing your DVC membership resale can
          save you? See our blog series where we discuss the benefits of
          purchasing your Disney Vacation Club membership on our resale market.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import SelectResort from "../../../components/calculator/select-resort/index.vue";
import Points from "../../../components/compare-prices/points/index.vue";
import Table from "../../../components/compare-prices/table/index.vue";
export default {
  data() {
    return {
      resorts: [
        "Aulani",
        "Animal King",
        "Bay Lake Tower",
        "Beach Club",
        "Board Walk",
        "Boulder Ridge",
        "Copper Creek",
        "Grand CA",
        "Grand Flordian",
        "Hilton Road",
        "Old Key West",
        "Polynesian",
        "Riviera",
        "Saratoga Springs",
        "Vero Beach",
      ],
    };
  },
  components: {
    SelectResort,
    Points,
    Table,
  },
};
</script>

<style></style>
