<template>
  <div class="px-16 pb-8">
    <h1 class="text-center text-3xl text-custom-blue6 font-medium">
      WHY USE DVC SALES?
    </h1>
    <p class="text-custom-blue6 text-lg pt-4">
      We are former Disney Vacation Club sales guides, with over 25 years of
      experience selling directly for the Walt Disney Company. We have assisted
      thousands of families over the years and would love to help you, too! Some
      buyers find a purchase of this size (online) to be a bit intimidating.
      It’s important to us that you feel comfortable with the entire process. We
      will assist you from searching for the right membership for your family
      and placing an offer, through right of first refusal (ROFR) and closing.
      We work closely with our Title company who handles all of the closing
      documents as well as any money that changes hands.
    </p>
    <p class="text-custom-blue6 text-lg pt-4">
      To read what other clients have to say about us simply click on our
      Testimonials here. We look forward to working with you!
    </p>
    <div class="px-16 pt-12">
         <img src="../../../assets/houses.png"/>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
