<template>
  <div>
    <div class="mt-10 flex justify-between items-start px-3">
      <ul class="bg-custom-light0 w-max mt-20">
        <li
          class="py-2 px-4 border border-custom-blue4 whitespace-nowrap"
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage === tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[40%] rounded">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div
              class="text-lg w-10/12 text-custom-blue4 mt-5 text-left mx-auto"
            >
              {{ tab.description }}
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Cape May Cafe",
      tabs: [
        {
          name: "Cape May Cafe",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-capeMayCafe1.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-capeMayCafe2.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-capeMayCafe3.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-capeMayCafe4.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-capeMayCafe5.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-capeMayCafe6.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-capeMayCafe7.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-capeMayCafe8.jpg"),
          ],
          description:
            "Come in for family-friendly dining with special appearances by Disney characters for breakfast. The all-you-care-to-enjoy breakfast includes house-made pastries, omelets, and Mickey waffles. Dinner selections include seafood boils, turf platters, parker rolls, and more. ",
        },
        {
          name: "Beaches & Cream Soda Shop",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream1.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream2.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream3.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream4.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream5.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream6.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream7.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream8.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream9.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream10.jpg"),
          ],
          description:
            "Sip on flavored sodas, malted milkshakes, and taste sweet treats at Beaches and Cream. The shop includes a full menu including burgers, chili-cheese tater tots, and other American comfort foods. Be sure to save room for dessert! Try their signature sundae, The Kitchen Sink, if you dare. It includes eight scoops of ice cream with all the toppings you could ever imagine served in (you guessed it) a kitchen sink.  ",
        },
        {
          name: "Beach Club Marketplace",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-BeachClubMarketplace1.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-BeachClubMarketplace2.jpg"),
          ],
          description:
            "Start your Disney day with a breakfast sandwich or Mickey waffles. Stop by for lunch and dinner with a selection of macaroni and cheese dishes, hot or cold sandwiches, and refreshing salads.",
        },
        {
          name: "Martha's Vineyard",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-Martha'sVineyard1.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-Martha'sVineyard2.jpg"),
          ],
          description:
            "Enjoy beach-inspired cocktails like the Cape Cod at this full bar and lounge. Draft beers (including Sam Adams Seasonal), imported wines, and select appetizers set the tone for your vacation. ",
        },
        {
          name: "Disney Resorts Private Dining",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-DisneyResortsPrivateDining.webp"),
          ],
          description:
            "Convenience, Comfort and Quality Whether you’re hungry for a late dinner or you just want some breakfast when you wake, private dining is the ticket. With Disney Resorts Private Dining, you can choose from a variety of American favorites—along with some specialty items particular to your Disney Resort hotel!",
        },
        {
          name: "Crew's Cup Lounge",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-DisneyResortsPrivateDining.webp"),
          ],
          description:
            "Try charcuterie boards, jumbo shrimp cocktail, and roasted prime rib at this nautical outpost, located next to the Yachtsman Steakhouse at Disney's Yacht Club. Sip on bourbon flights, beer, cider, wine, and specialty cocktails before or after your meal.",
        },
        {
          name: "Yachtsman Steakhouse",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse1.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse2.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse3.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse4.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse5.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse6.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse7.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse8.jpg"),
          ],
          description:
            "Nautical touches surround you in the airy dining room at this full-service restaurant located at Disney's Yacht Club. Watch as butchers hand-cut grain-fed beef in the dry-aging room, then prepare the cuts on an oak-fired grill in the open-air kitchen. Fan-favorite dishes include Prime New York Strip Steak with peppercorn-brandy sauce and the Truffle Macaroni & Cheese. An imaginative kid's menu is sure to please the pickiest of eaters in the family. Be sure to save room for a S’mores Sundae or Banana Bread Pudding for dessert! ",
        },
        {
          name: "The Market at Ale & Compass",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-TheMarketAtAle.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-TheMarketAtAle1.jpg"),
          ],
          description:
            "From dining to shopping, cruise over for a variety of provisions. Once inside, you’ll find breakfast favorites like Mickey waffles with bacon, tasty sandwiches and hot paninis at lunchtime and delightful coffee beverages to brighten your day—along with magical Disney merchandise.",
        },
        {
          name: "Ale & Compass Lounge",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-AleCompass.jpg",
)          ],
          description:
            "Lively spirits, delectable snacks, and high-quality liquors are all found at this nautical hideaway at Disney's Yacht Club. Crafted cocktails include the Captain’s Mai Tai and Spicy Pomegranate Margarita.",
        },
        {
          name: "Ale & Compass Restaurant",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-AleCompassRestaurant1.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-AleCompassRestaurant2.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-AleCompassRestaurant3.jpg"),
          ],
          description:
            "This full-service eatery at Disney's Yacht Club makes you feel like you've stepped inside a traditional New England lighthouse. This cozy restaurant is a comfortable place to refuel before starting your day of park hopping or is a place to kick up your feet after a day of thrills. There's something for everyone at breakfast, from fruit smoothies to omelets and caramel apple French toast. At dinner, dine on various entrees like the New England seafood pot pie, lemon-herb half chicken, pappardelle pasta, strip steaks, and more. Be sure to ask about the fresh catch of the day!",
        },
        {
          name: "Hurricane Hanna's Waterside Bar and Grill",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-HhurricaneHanna.webp"),
          ],
          description:
            "Located near Stromalong Bay, the Beach Club's pool area, this quick-service stop includes a full bar, cocktails, smoothies, salads, sandwiches, and snacks.",
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
