<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in images" :key="index">
                <div class="overflow-hidden relative w-full pb-[40%]">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Disney's Beach Club Villas
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                Relax with the charm of Disney's Beach Club Villas, modeled
                after the romance and elegance of New England beach cottages
                that dot the northeast. Amenities abound at the Beach Club and
                its sister resort, the Yacht Club, including a wide selection of
                dining locations, pools, and a white-sand beach. Shops,
                entertainment, restaurants are a short walk away at Disney's
                BoardWalk Inn. The resort is also within walking distance of
                Epcot.
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline"
              >
                What makes Disney's Beach club villas Resort great!
              </h2>
            </div>
            <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      active: false,
      discriptions: [
        "Stroll along the boardwalk and enter Epcot from the International Gateway or hop on a ferry to Disney’s Hollywood Studios.",
        "Pastel colors and a large central lobby offer a beach-like escape in the heart of Walt Disney World. ",
        "From world-class steaks to gourmet ice cream, you can find it all at the Yacht and Beach Clubs. ",
      ],
      names: [
        "Access to Epcot and Hollywood Studios",
        "Bright and sunny design",
        "Sophisticated dining",
      ],
      images_b: [
         require("../../assets/beach-club-villas/beach-club-villas-resort-overview2.jpg"),
        require("../../assets/beach-club-villas/beach-club-villas-resort-overview3.jpg"),
        require("../../assets/beach-club-villas/beach-club-villas-resort-overview4.jpg"),
      ],
      images: [
        require("../../assets/beach-club-villas/beach-club-villas-resort-overview.jpg"),
        require("../../assets/beach-club-villas/beach-club-villas-resort-overview2.jpg"),
        require("../../assets/beach-club-villas/beach-club-villas-resort-overview3.jpg"),
        require("../../assets/beach-club-villas/beach-club-villas-resort-overview4.jpg"),
        require("../../assets/beach-club-villas/beach-club-villas-resort-overview5.jpg"),
      ],
    };
  },
};
</script>
