<template>
  <div>
    <div class="mt-10 flex justify-between items-start px-4">
      <ul class="bg-custom-light0 mt-20 w-72 ">
        <li
          class="py-2 px-4 border border-custom-blue4 "
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
        <li
          class="py-2 px-4 border border-custom-blue4 "
          @click="changeView($event, 'Floor Plans')"
          :class="[
            { 'bg-custom-blue4 text-white': activePage == 'Floor Plans' },
          ]"
        >
          <a>
            Floor Plans
          </a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage == tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[50%] rounded">
                  <img :src="img" class="w-full h-full  absolute" />
                </div>
              </slide>
            </carousel>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ tab.description }}
            </span>
            <span class="text-custom-blue2 font-semibold text-2xl block mt-5">
              Amenities</span
            >
            <div class="ml-20 mt-5">
              <div
                class="mt-2 text-left flex justify-around list-disc text-custom-blue4"
              >
                <ul class="list-disc flex flex-wrap">
                  <li
                    v-for="(amenitie, index) in tab.amenities"
                    :key="index"
                    class="w-1/3 px-4"
                  >
                    {{ amenitie }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </template>
        <div v-if="activePage === 'Floor Plans'" class="w-full">
          <div class="text-center w-full">
            <h1 class="text-3xl font-semibold text-custom-blue4">
              Floor Plans
            </h1>
          </div>
          <div>
            <carousel
              :perPage="1"
              @page-change="(val) => navigation(val)"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>'
            >
              <slide v-for="(img, index) in floors.imgs" :key="index">
                <div class="overflow-hidden relative pb-[50%] rounded">
                  <img :src="img" class="w-full h-full  absolute" />
                </div>
              </slide>
            </carousel>
          </div>
          <div>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ floors.description[activeFloor].name }}
            </span>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ floors.description[activeFloor].size }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Deluxe Studio",
      activeFloor: 0,
      floors: {
        name: "Floor Plans",
        imgs: [
          require("../../assets/beach-club-villas/floor/1.png"),
          require("../../assets/beach-club-villas/floor/2.png"),
          require("../../assets/beach-club-villas/floor/3.png"),
          // require("../../assets/beach-club-villas/floor/4.png"),
        ],
        description: [
          {
            name: "Beach Club Villas Floor plan One Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Beach Club Villas Floor plan Studio Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Beach Club Villas Floor plan Studio Kadani Village",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Beach Club Villas Floor plan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Beach Club Villas Floor plan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Beach Club Villas Floor plan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Beach Club Villas Floor plan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
        ],
      },
      tabs: [
        {
          name: "Deluxe Studio",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-deluxe-room.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-deluxe-room2.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-deluxe-room3.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-deluxe-room4.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-deluxe-room5.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-deluxe-room6.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-deluxe-room7.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-deluxe-room8.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-deluxe-room9.webp"),
          ],
          description:
            "Sleeps up to 5 Adults Spacious accommodations include a kitchenette with small fridge and microwave, and porch or balcony",
          amenities: [
            "Toaster",
            "Internet - Free WiFi Service",
            "Microwave",
            "Telephone with voicemail",
            "High Chair",
            "Iron & Ironing Board",
            "Hair Dryer",
            "Mini-refrigerator",
            "Soaker Tub",
            "Flat-Panel TV",
            "DVD Player",
            "Coffee Maker",
            "In-Room Safe",
          ],
        },

        {
          name: "1 Bedroom Villa",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-1-bedroom-villa1.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-1-bedroom-villa2.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-1-bedroom-villa3.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-1-bedroom-villa4.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-1-bedroom-villa5.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-1-bedroom-villa6.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-1-bedroom-villa7.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-1-bedroom-villa8.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-1-bedroom-villa9.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-1-bedroom-villa10.webp"),
          ],
          description:
            "Sleeps up to 4 Adults Great for families, villas include a full kitchen and a split bathroom that features 2 sink areas.",
          amenities: [
            "Toaster",
            "Internet - Free WiFi Service",
            "Fully Equipped Kitchen with Refrigerator",
            "Microwave",
            "Telephone with voicemail",
            "High Chair",
            "Iron & Ironing Board",
            "Washer & Dryer",
            "Hair Dryer",
            "Flat-Panel TV",
            "Soaking Tub",
            "DVD Player",
            "Coffee Maker",
            "In-Room Safe",
          ],
        },
        {
          name: "2 Bedroom Villa",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-2-bedroom-villa.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-2-bedroom-villa1.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-2-bedroom-villa2.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-2-bedroom-villa3.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-2-bedroom-villa4.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-2-bedroom-villa5.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-2-bedroom-villa6.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-2-bedroom-villa7.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-2-bedroom-villa8.webp"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-2-bedroom-villa9.webp"),
          ],
          description:
            "Sleeps up to 8 Adults Great for a large family, villas include a full kitchen, dining area, washer and dryer",
          amenities: [
            "Toaster",
            "Internet - Free WiFi Service",
            "Fully Equipped Kitchen with Refrigerator",
            "Microwave",
            "Telephone with voicemail",
            "High Chair",
            "Iron & Ironing Board",
            "Washer & Dryer",
            "Hair Dryer",
            "Flat-Panel TV",
            "Soaking Tub",
            "DVD Player",
            "Coffee Maker",
            "In-Room Safe",
          ],
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
