<template>
  <div>
    <div class="mt-10 flex justify-between items-start">
      <ul class="bg-custom-light0 w-72 mt-20">
        <li
          class="py-2 px-4 border border-custom-blue4 "
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="(tab, index) in tabs"
          @click="changeView($event, tab.name)"
          :key="index"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage === tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[40%] rounded">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div
              class="text-lg w-10/12 text-custom-blue4 mt-5 text-left mx-auto"
            >
              {{ tab.description }}
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Jiko - The Cooking Place",
      tabs: [
        {
          name: "Jiko - The Cooking Place",
          imgs: [
            require("../../assets/animal-kingdom/dining/jiko/1.png"),
            require("../../assets/animal-kingdom/dining/jiko/2.png"),
            require("../../assets/animal-kingdom/dining/jiko/3.png"),
            require("../../assets/animal-kingdom/dining/jiko/4.png"),
          ],
          description:
            "You’ll feel like you’re in the heart of Africa as you enjoy South African wines and the warm, colorful atmosphere. Blending traditional African, Indian, and Mediterranean flavors, dishes change seasonally and vary from oven-fired flatbreads to oak-grilled filet mignon.",
        },
        {
          name: "Boma - Flavors of Africa",
          imgs: [
            require("../../assets/animal-kingdom/dining/boma/1.png"),
            // "../../assets/animal-kingdom/dining/boma/2.png",
            require("../../assets/animal-kingdom/dining/boma/3.png"),
            require("../../assets/animal-kingdom/dining/boma/4.png"),
          ],
          description:
            "You’ll feel like you’re in the heart of Africa as you enjoy South African wines and the warm, colorful atmosphere. Blending traditional African, Indian, and Mediterranean flavors, dishes change seasonally and vary from oven-fired flatbreads to oak-grilled filet mignon.",
        },
        {
          name: "The Mara",
          imgs: [
            require("../../assets/animal-kingdom/dining/mara/1.png"),
            require("../../assets/animal-kingdom/dining/mara/2.png"),
            require("../../assets/animal-kingdom/dining/mara/3.png"),
            require("../../assets/animal-kingdom/dining/mara/4.png"),
          ],
          description:
            "This quick-service eatery is named after a river that flows through Tanzania and Kenya. You'll find classic entrees and grab-and-go favorites here.",
        },
        {
          name: "Cape Town Lounge and Wine Bar",
          imgs: [
            require("../../assets/animal-kingdom/dining/cape/1.png"),
            require("../../assets/animal-kingdom/dining/cape/2.png"),
            require("../../assets/animal-kingdom/dining/cape/3.png"),
            // require("../../assets/animal-kingdom/dining/cape/4.png"),
          ],
          description:
            "Adjacent to Jiko, this lounge offers South African wines, appetizers, and a full bar. You may also order from the full menu and dine at the bar. ",
        },
        {
          name: "Victoria Falls Lounge",
          imgs: [
            require("../../assets/animal-kingdom/dining/victoria/1.png"),
            require("../../assets/animal-kingdom/dining/victoria/2.png"),
            require("../../assets/animal-kingdom/dining/victoria/3.png"),
            require("../../assets/animal-kingdom/dining/victoria/4.png"),
          ],
          description:
            "A host of South African beers and wines are featured at this intimate bar overlooking Boma restaurant. Take your drink and enjoy the flickering ambiance of the outdoor fire pit.",
        },
        {
          name: "Sanaa",
          imgs: [
            require("../../assets/animal-kingdom/dining/sanaa/1.png"),
            require("../../assets/animal-kingdom/dining/sanaa/2.png"),
            require("../../assets/animal-kingdom/dining/sanaa/3.png"),
            require("../../assets/animal-kingdom/dining/sanaa/4.png"),
          ],
          description:
            "Located at Kidani Village, experience the art of African cooking with Indian influences at this family-friendly restaurant. View African animals as they roam around the Sunset Savanna and the nearby observation overlook.",
        },
        {
          name: "Maji Pool Bar",
          imgs: [
            require("../../assets/animal-kingdom/dining/maji/1.png"),
            require("../../assets/animal-kingdom/dining/maji/2.png"),
            require("../../assets/animal-kingdom/dining/maji/3.png"),
            require("../../assets/animal-kingdom/dining/maji/4.png"),
          ],
          description:
            "The Swahili word meaning “water” this watering hole offers cocktails, wine, and draft beer along with sandwiches, salads, and snacks.",
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
