<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <template v-if="images">
                <slide v-for="img in images" :key="img">
                  <div
                    class="overflow-hidden relative w-full pb-[50%] rounded-md"
                  >
                    <img
                      :src="getlink(img)"
                      class="w-full h-full object-cover object-bottom absolute"
                    />
                  </div>
                </slide>
              </template>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Disney's Animal Kingdom
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                Disney’s Animal Kingdom Villas is a lodge-style resort featuring
                spacious accommodations in a setting that makes you feel like
                you're right in the heart of Africa. Over 30 species of African
                wildlife roam free amidst four lush, tropical savannas, which
                you may view at observation stations throughout the resort and
                from select guest room balconies. The resort is set in the
                middle of an expansive wildlife preserve. It features authentic
                African-inspired architecture and landscape design that allows
                for expansive views of the savanna and its many animal
                inhabitants. Thatched ceilings, large beams, a woven ceiling,
                hand-carved golden-tone furnishings, genuine African artifacts,
                and a vast mud fireplace greet you in the main lobby. Inside the
                guest rooms, you'll discover more African architecture with
                hand-carved columns, ornate floral hanging fixtures, golden-tone
                furnishings, and floor lamps that resemble swaying trees.
                Experience the untamed spirit of Africa with panoramic views
                from Arusha Rock, an elevated rock platform just outside the
                main lobby. Discover thousands of indigenous African shrubs,
                grasses, and trees—including the most recognized canopy tree in
                Africa, the Copper Pod. There are two places DVC members can
                call home at Disney’s Animal Kingdom Villas. Jambo House is part
                of the resort's central building and has been recognized for its
                environmentally responsible practices by the Florida Green
                Lodging Program. The Kidani Village Villas are separated from
                Jambo House and extend out and take the shape of a water
                buffalo’s horns or a piece of native African jewelry. There’s no
                shortage of exciting family activities at Disney’s Animal
                Kingdom Villas, from safaris to water slides to wildlife games.
                Amenities include two pool areas (complete with waterslides and
                hot tubs), a playground that overlooks a flamingo habitat, and
                wildlife viewing through observation stations located throughout
                the property.
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline"
              >
                WHAT MAKES THIS DISNEY VACATION CLUB RESORT
              </h2>
            </div>
            <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  methods: {
    getlink(link) {
      return require("../../assets/" + link);
    },
  },
  data() {
    return {
      active: false,
      discriptions: [
        "Located in the Animal Kingdom Park area, you'll be away from it all while remaining only a short bus ride to attractions on and off Walt Disney World property.",
        "Guests are transported to an African village, where you'll find authentic African decor and details through out the resort.",
        "A 21-acre African wildlife preserve surrounds the resort, which allows you to wake up and view giraffes, elephants, and zebras while sipping coffee from your private balcony.",
      ],
      images_b: [
        require("../../assets/animal-kingdom/b1.png"),
        require("../../assets/animal-kingdom/b4.png"),
        require("../../assets/animal-kingdom/b5.png"),
      ],
      names: ["Safari escape", "African lodging", "Wildlife observation"],
      images: [
        "animal-kingdom/1.png",
        "animal-kingdom/2.png",
        "animal-kingdom/3.png",
        "animal-kingdom/6.png",
        "animal-kingdom/7.png",
        "animal-kingdom/8.png",
        "animal-kingdom/9.png",
      ],
    };
  },
};
</script>
