<template>
  <div>
    <div class="mt-10 flex justify-between items-start px-4">
      <ul class="bg-custom-light0 mt-20 w-72 ">
        <li
          class="py-2 px-4 border border-custom-blue4 "
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
        <li
          class="py-2 px-4 border border-custom-blue4 "
          @click="changeView($event, 'Floor Plans')"
          :class="[
            { 'bg-custom-blue4 text-white': activePage == 'Floor Plans' },
          ]"
        >
          <a>
            Floor Plans
          </a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage == tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[50%] rounded">
                  <img :src="img" class="w-full h-full  absolute" />
                </div>
              </slide>
            </carousel>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ tab.description }}
            </span>
            <span class="text-custom-blue2 font-semibold text-2xl block mt-5">
              Amenities</span
            >
            <div class="ml-20 mt-5">
              <div
                class="mt-2 text-left flex justify-around list-disc text-custom-blue4"
              >
                <ul class="list-disc flex flex-wrap">
                  <li
                    v-for="(amenitie, index) in tab.amenities"
                    :key="index"
                    class="w-1/3 px-4"
                  >
                    {{ amenitie }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </template>
        <div v-if="activePage === 'Floor Plans'" class="w-full">
          <div class="text-center w-full">
            <h1 class="text-3xl font-semibold text-custom-blue4">
              Floor Plans
            </h1>
          </div>
          <div>
            <carousel
              :perPage="1"
              @page-change="(val) => navigation(val)"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>'
            >
              <slide v-for="(img, index) in floors.imgs" :key="index">
                <div class="overflow-hidden relative pb-[50%] rounded">
                  <img :src="img" class="w-full h-full  absolute" />
                </div>
              </slide>
            </carousel>
          </div>
          <div>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ floors.description[activeFloor].name }}
            </span>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ floors.description[activeFloor].size }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },

  data() {
    return {
      activePage: "Studio",
      activeFloor: 0,
      floors: {
        name: "Floor Plans",
        imgs: [
          require("../../assets/animal-kingdom/floor/Animal Kingdom Floorplan One Bedroom Jambo House.jpg"),
          require("../../assets/animal-kingdom/floor/Animal Kingdom Floorplan Studio Jambo House.9199fb6c.jpg"),
          require("../../assets/animal-kingdom/floor/Animal Kingdom Floorplan Studio Jambo House.9199fb6c.jpg"),
          require("../../assets/animal-kingdom/floor/Animal Kingdom Floorplan Three Bedroom Jambo House.jpg"),
          require("../../assets/animal-kingdom/floor/Animal Kingdom Floorplan Two Bedroom Jambo House.jpg"),
          require("../../assets/animal-kingdom/floor/Animal Kingdom Kadini Village Floorplan 1 Bedroom.jpg"),
          require("../../assets/animal-kingdom/floor/Animal Kingdom Kadini Village Floorplan 2 Bedroom Lock-Off.jpg"),
          require("../../assets/animal-kingdom/floor/Animal Kingdom Kadini Village Floorplan 2 Bedroom.jpg"),
        ],
        description: [
          {
            name: "Animal Kingdom Floorplan One Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Animal Kingdom Floorplan Studio Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Animal Kingdom Floorplan Studio Kadani Village",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Animal Kingdom Floorplan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Animal Kingdom Floorplan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Animal Kingdom Floorplan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Animal Kingdom Floorplan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
        ],
      },
      tabs: [
        {
          name: "Studio",
          imgs: [
            require("../../assets/animal-kingdom/Animal Kingdom Studio 1.jpg"),
            require("../../assets/animal-kingdom/Animal Kingdom Studio 5.jpg"),
            require("../../assets/animal-kingdom/Animal Kingdom Studio 6.jpg"),
            require("../../assets/animal-kingdom/Animal Kingdom Studio 11.jpg"),
            require("../../assets/animal-kingdom/Animal Kingdom Studio 13.jpg"),
            require("../../assets/animal-kingdom/Animal Kingdom Studio 16.jpg"),
          ],
          description:
            "1 queen-size bed, 1 double-size sleeper sofa Sleeps Up to 4",
          amenities: [
            "Kitchenette",
            "Voicemail ",
            "Small refrigerator",
            "Microwave",
            "Full bathroom",
            "Iron and ironing board",
            "Hair dryer",
            "In-room safe",
            "Wireless Internet",
            "Coffee maker",
            "Paper plates and bowls, & plastic utensils",
          ],
        },

        {
          name: "1-Bedroom Villa",
          imgs: [
            require("../../assets/animal-kingdom/Animal Kingdom Studio 1.jpg"),
            require("../../assets/animal-kingdom/Animal Kingdom Studio 1.jpg"),
          ],
          description:
            "1 king-size bed, 1 double-size sleeper sofa Sleeps Up to 4",
          amenities: [
            "Fully equipped kitchen",
            "Dishwasher",
            "Dishes",
            "Glasses",
            "Utensils",
            "Pots and pans",
            "Refrigerator",
            "Stove and oven",
            "Toaster",
            "Microwave",
            "Washer and dryer",
            "Whirlpool tub",
            "Iron and ironing board",
            "Coffee Maker",
            "Hair dryer",
            "Voicemail",
            "Portable Crib",
            "Wireless Internet ",
          ],
        },

        {
          name: "2-Bedroom Villa",
          imgs: [
            require("../../assets/animal-kingdom/Animal Kingdom Two Bedroom 1.jpg"),
            require("../../assets/animal-kingdom/Animal Kingdom Two Bedroom 12.jpg"),
            require("../../assets/animal-kingdom/Animal Kingdom Two Bedroom 14.jpg"),
          ],
          description:
            "1 King Bed and 2 Queen Beds and 1 Queen-Size Sleeper Sofa and 1 Twin-Size Sleeper Chair Sleeps up to 9 Adults",
          amenities: [
            "Dishwasher",
            "Dishes",
            "Glasses",
            "Utensils",
            "Pots and pans",
            "Refrigerator",
            "Stove and oven",
            "Washer and dryer",
            "Toaster",
            "Internet - Free WiFi Service",
            "Microwave",

            "Portable Crib",
            "Voicemail",
            "Hair Dryer",
            "Iron & Ironing Board",
            "Washer & Dryer",
            "Wireless Internet",

            "Coffee Maker",
            "Whirlpool Tub",
            "In-Room Safe",
            "Fully Equipped Kitchen",
          ],
        },
        {
          name: "3-Bedroom Grand Villa",
          imgs: [
            require("../../assets/animal-kingdom/Animal Kingdom Two Bedroom 14.jpg"),
          ],
          description:
            "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          amenities: [
            "Toaster",
            "Pots and pans",
            "Refrigerator",
            "Stove and oven",

            "Fully Equipped Kitchen",
            "Wireless Internet",
            "Microwave",

            "Voicemail",
            "Hair Dryer",
            "Iron & Ironing Board",

            "Dishes",
            "Glasses",
            "Utensils",
            "Washer & Dryer",
            "Portable Crib",

            "Coffee Maker",
            "Whirlpool Tub",
            "In-Room Safe",
          ],
        },
      ],
    };
  },
  methods: {
    navigation(e) {
      console.log("vale", e);
      this.activeFloor = e - 1;
    },
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
