<template>
  <div
    class="w-full bg-white flex flex-col h-54 items-center p-3 shadow-md rounded"
  >
    <p
      class="rounded-full bg-custom-orange5 text-white px-5 py-2 -mt-10 text-3xl"
    >
      2
    </p>

    <p class="text-custom-orange5 text-xl font-medium mt-6">
      POINTS ON THE CONTRACT
    </p>
    <p class="text-custom-blue6">
      Yearly Points
    </p>
    <div class="flex justify-between  space-x-2 pt-6">
      <button
        class="bg-custom-blue6 text-white rounded-full text-xl px-2.5 "
        @click="count > 0 ? (count = count - 5) : (count = 0)"
      >
        -
      </button>
      <input
        v-model="count"
        class="text-center w-24 border border-custom-blue6 rounded-md"
      />
      <button
        class="bg-custom-blue6 text-white rounded-full text-xl px-2 "
        @click="count = count + 5"
      >
        +
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      count: 160,
    };
  },
};
</script>

<style></style>
