<template>
  <div class="px-6">
    <div class="grid lg:grid-cols-6 md:grid-cols-3 sm:grid-cols-2 gap-4 mt-4">
      <div
        @click="(current = 0), (current_desc = description_data_basics)"
        class=" flex flex-col rounded items-center cursor-pointer justify-start py-3 px-2"
        :class="
          current === 0
            ? 'bg-custom-blue6 text-white '
            : 'border1 bg-white text-custom-blue6'
        "
      >
        <font-awesome-icon icon="briefcase" class="text-5xl" />
        <h5 class="text-sm">
          DVC Basics
        </h5>
      </div>
      <div
        @click="(current = 1), (current_desc = description_data_resale)"
        class=" flex flex-col rounded h-38 items-center cursor-pointer justify-start py-3 px-2"
        :class="
          current === 1
            ? 'bg-custom-blue6 text-white '
            : 'border1 bg-white text-custom-blue6'
        "
      >
        <font-awesome-icon icon="briefcase" class="text-5xl" />
        <h5 class="text-sm text-center">
          About DVC rescale memberships
        </h5>
      </div>
      <div
        @click="(current = 2), (current_desc = description_data_prcess)"
        class=" flex flex-col rounded h-38 items-center cursor-pointer justify-start py-3 px-2"
        :class="
          current === 2
            ? 'bg-custom-blue6 text-white '
            : 'border1 bg-white text-custom-blue6'
        "
      >
        <font-awesome-icon icon="briefcase" class="text-5xl" />
        <h5 class="text-sm text-center">
          Buying Process
        </h5>
      </div>
      <div
        @click="(current = 3), (current_desc = description_data_finance)"
        class=" flex flex-col rounded h-38 items-center cursor-pointer justify-start py-3 px-2"
        :class="
          current === 3
            ? 'bg-custom-blue6 text-white '
            : 'border1 bg-white text-custom-blue6'
        "
      >
        <font-awesome-icon icon="briefcase" class="text-5xl" />
        <h5 class="text-sm text-center">
          Taxes, Fess and Finances
        </h5>
      </div>
      <div
        @click="(current = 4), (current_desc = description_data_contact)"
        class=" flex flex-col rounded h-38 items-center cursor-pointer justify-start py-3 px-2"
        :class="
          current === 4
            ? 'bg-custom-blue6 text-white '
            : 'border1 bg-white text-custom-blue6'
        "
      >
        <font-awesome-icon icon="briefcase" class="text-5xl" />
        <h5 class="text-sm text-center">
          Contact & Support
        </h5>
      </div>
      <div
        @click="(current = 5), (current_desc = description_data_quest)"
        class=" flex flex-col rounded h-38 items-center cursor-pointer justify-start py-3 px-2"
        :class="
          current === 5
            ? 'bg-custom-blue6 text-white '
            : 'border1 bg-white text-custom-blue6'
        "
      >
        <font-awesome-icon icon="briefcase" class="text-5xl" />
        <h5 class="text-sm text-center">
          More Questions
        </h5>
      </div>
    </div>
    <Description :description="current_desc" />
  </div>
</template>

<script>
import Description from "./description/index.vue";
export default {
  data() {
    return {
      current: 0,
      current_desc: [],
      description_data_quest: [
        {
          name: "What are Membership Extras?",
          description: `Membership Extras are open to DVC members who purchase at least 125 vacation points directly from Disney. These Extras include special events and discounts on dining, merchandise, annual passes, and access to certain non-Disney resorts.It’s important to note that Disney describes Membership Extras as “incidental benefits” that are subject to change without notice at any time. Disney discourages potential members from basing their DVC purchase strictly on the availability of these extras since the benefits often change.The savings you get by purchasing a DVC resale contract don’t add up to the extra price of buying your membership directly, even when you factor in the discounts from Membership Extras. We go in-depth and explain why in`,
        },
        {
          name: "How many names can I put on the deed?",
          description:
            "You may list up to four (6) names on the deed of one DVC contract. All purchasers must be 18 years of age or older.",
        },
        {
          name: "What are the benefits of purchasing directly from Disney?",
          description: `When you purchase your real estate interest of at least 125 Vacation Points directly through Disney Vacation Development, Inc., you'll enjoy the following benefits:
Access to Membership Extras including using your vacation points on Disney Cruise Line, select Disney Resort hotels around the world, Adventures by Disney and the Concierge Collection.
Access to other offerings like exclusive Member events and discounts on dining and merchandise (of about 10%).
These incidental benefits are not the reason most members join the Club. They become DVC members because they want to stay in luxury accommodations at Walt Disney World or one of the Vacation Clubs around the country, including Disney's Vero Beach Resort, Disney's Hilton Head Island Resort, Disney's Aulani Resort and Spa and Disney's Grand California Resort.  Members don't typically use their points for Disney Cruises because they are far too costly. YOu would be better off renting your points and using the cash to pay for your cruise! YEars ago, this was a much more attractive option.  Any benefits a member gains by purchasing direct from Disney are insignificant compared to the thousands of dollars saved by buying a DVC Resale.  To learn more, please contact a team member at 407-205-1435. `,
        },
      ],
      description_data_contact: [
        {
          name:
            "I’m not finding a listing with my desired Home Resort. What do I do?",
          description:
            "If you’re not finding a contract on our DVC resale listings, don’t worry! New listings show up frequently. You may want to sign up for our buyers’ request form to be notified by email when a contract that meets your criteria is listed~ this way you'll be the first to know of the new listing!",
        },
        {
          name: "How do I create an account?",
          description:
            "You’ll need to create an account in order to list a contract for sale, place an offer or sign closing documents.  Simply click the button on the top right corner of this screen. You’ll be guided through a few prompts to create an account in just a few minutes.",
        },
        {
          name: "How do I change my password?",
          description:
            "After logging into your account, click the gear wheel in the left-hand corner of the page to access your settings. Then, click the “edit password” button.",
        },
        {
          name: "Why is DVC Sales asking for my personal information?",
          description:
            "Buying or selling a DVC membership means that you are entering into a real estate transaction. There is certain information that is required so that we can verify your identity, membership accuracy, and forms of payment. If you have any questions, please feel free to contact us or send us a message through our live chat feature to speak with us directly.",
        },
        {
          name: "Is my personal information safe?",
          description:
            "Your personal information is absolutely safe. We take your privacy and security seriously and we will not share your information with any third party other than as necessary to complete a real estate transaction. View our privacy policy here.",
        },
        {
          name: " How often will I receive notifications?",
          description:
            "Once you log in to your account, you may set up your communication preferences. You may add a mobile number to receive text messages and/or email notifications related to your offer. We’ll notify you throughout the offer, closing, and ROFR process.",
        },
        {
          name:
            "Does DVC Sales have a mailing list so I can be notified of new listings?",
          description:
            "Yes! Create an account with us and fill out our buyers’ request form. You'll be asked to specify the criteria you’re looking for in a membership like Home Resort, the size of the membership and more. When a listing is created that meets your criteria, you’ll receive an email immediately. This gives you the first opportunity to make an offer!",
        },
        {
          name: "What is the best way to contact DVC Sales?",
          description:
            "There are several ways for you to get in touch with our team! All of our contact information is listed here. Also, you can always use our built-in chat feature to chat with us online! ",
        },
      ],
      description_data_finance: [
        {
          name:
            "What if I want to purchase a DVC resale contract but I don’t live in the US?",
          description:
            "Our licensed and insured attorney-owned title company can complete closings for buyers worldwide.",
        },
        {
          name: "Who handles the financial transactions?",
          description:
            "Our licensed and bonded title company, Mason Title, handles funds and controls all financial transactions for DVC Sales purchases. We take the utmost care when handling financial transactions, and your privacy is very important to us. If you have any questions, feel free to contact us!",
        },
        {
          name: "How much are closing costs and what is included?",
          description:
            "Typically, closing costs average between $500 and $700 based on the purchase price on the contract. These fees are paid by the buyer. This fee includes a title search, providing the buyer with title insurance, and all of the document preparation and recording fees with the county where your property is based. Closing costs will differ from state to state. Florida, California, South Carolina, and Hawaii all have different laws to abide by and the fees differ as well Property taxes are included in your yearly dues at your Home Resort. At closing, all dues will be current but aren’t a part of closing costs. If points are available for the current Use Year, buyers will reimburse sellers for the yearly dues. You may pay your deposit directly through our secure payment system on our website",
        },
        {
          name: "What taxes do DVC members pay?",
          description:
            "As a DVC member, you’re responsible for paying property taxes at your Home Resort every year. These fees are included in your yearly maintenance fees",
        },
        {
          name: "What options are available for financing?",
          description:
            "If you’re considering financing your DVC resale purchase, you’ll need to contact a private lender. A common option for DVC financing is to get a home equity or signature loan from your bank. It’s important to know the rules and regulations for your specific loan, because not all lenders may be licensed to secure loans in particular states. We recommend Vacation Club Loans, and Timeshare Lending, as they specialize in financing DVC resale purchases. Certain companies work with DVC properties in particular areas. Vacation Club Loans will lend for all DVC properties. Timeshare Lending works with properties in California, Hawaii, and South Carolina (all non-Florida properties). Read more about financing options here.",
        },
        {
          name: "How much will I save by purchasing a DVC resale contract?",
          description:
            "Purchasing a DVC Resale will definitely save you money! Typically, most resale contracts sell for about 30%-50% less than buying direct from Disney. Our DVC resale vs. retail calculator will help show you what you could potentially save.  ",
        },
        {
          name: "Is a deposit required?",
          description:
            "Yes. Buyers are required to send a minimum 10% up to a maximum $5,000 deposit (no fee for use of a credit card) directly to our title company within three (3) days of signing the contract. Buying a DVC resale membership is just like any other real estate transaction. Deposits ensure that buyers are serious and are financially able to proceed with the transaction. Specific instructions on how to make your deposit are stated in the contract. Most buyers make their escrow deposit online using a credit card.  After closing, you’ll receive a welcome letter, your DVC member number, and a copy of your deed in the mail in about three to four weeks.",
        },
      ],
      description_data_prcess: [
        {
          name: "How do I make an offer?",
          description: `Making an offer is simple! 1. First, ${((
            <a href="https://www.dvcsales.com/create-account-2019/">
              create an online account
            </a>
          ),
          (
            <a href="https://www.dvcsales.com/listings/">Listing page</a>
          ))} , click on the + button on the desired contract, and click the green button to see listing details 2. Click "Make an offer," to enter your offer in the designated box, and click the green "make an offer" button.3. Wait for the seller to respond. We'll send you a text message or email as soon as they respond! Sellers have three (3) days to respond to an offer once it's made. If the seller accepts your offer, you'll receive either an immediate text message or email (depending on the communication preferences you selected when you created your account). If the seller counter the offer or declines, you will be notified by email. You may then submit another offer on the same listing, or make an offer on a different contract.`,
        },
        {
          name: "How does the buying process work?",
          description:
            "Once a buyer places an offer, it’s immediately presented to the seller. The seller may then accept, decline, or present a counter-offer. If both buyer and seller reach an agreement, both buyer and seller will sign the contract online electronically. The buyer is required to make their escrow deposit (typically using a credit card) for a minimum of 10% up to $5,000 on their credit card with no fee within 3 days of signing the agreement. Then, we will send your contract to our title company and Disney. Disney has 30 days to review the contract and decide whether to enact the Right Of First Refusal (ROFR). We will update you throughout the process. Typically, it takes about 45-50 days to close once a buyer and seller have reached an agreement.",
        },
        {
          name: "When can I go on vacation after closing?",
          description:
            "It takes about 7-14 days for Disney to complete the transfer of ownership. At that time, you’ll be sent a welcome letter in the mail with your member number (this could take up to three weeks). Once you have your member number, you can use it to create an account on the Disney Vacation Club website and book your vacation. Then enjoy creating magical memories with your family in a place you can call “home!” ",
        },
        {
          name: "What is ROFR?",
          description: `ROFR stands for “Right Of First Refusal”. Once a buyer and seller have a signed agreement, DVC Sales will send the contract to Disney for ROFR. Disney's Review Board can take up to 30 days to review the contract and decide whether or not they want to buy the contract themselves. If they do, the seller will receive the exact same amount of money as they agreed upon with their buyer. The buyer, however, will receive a refund of their escrow deposit and start the process of looking for a resale contract again. This process aims to ensure the price of DVC properties stays in line with current resale market value.The exact criteria Disney uses to enact ROFR isn’t public. However, one important factor is whether DVC feels that the selling price (including who pays closing costs, and annual dues) is below resale market value.  `,
        },
        {
          name: "How do I view current DVC resale listings?",
          description: `Our listings are updated automatically in real-time and are always accurate. You may view our current available contracts by clicking the ${(
            <a href="https://www.dvcsales.com/listings/">Listings</a>
          )}  tab at the top of this page.						`,
        },
        {
          name: "How do I sign the contract?	",
          description:
            "Our system is entirely digital, so you may sign your contract electronically using your mouse as a pen. No printing, scanning, or uploading are needed. We will send you a copy of the fully executed agreement once all parties have signed.",
        },
        {
          name: "Will I receive a copy of the contract and deed?",
          description:
            "Yes. Once a seller accepts an offer, a contract will be generated and sent to both parties. You will then be able to sign the contract and download it for your convenience.",
        },
        {
          name: " How long does closing take?	",
          description:
            "Closing typically takes 45-50 days once an offer has been accepted, the contract signed, and the deposit is made",
        },
        {
          name: "Do I need to be present during closing?",
          description:
            "No. The process of buying and selling your DVC membership can be done entirely online from anywhere in the world through our easy-to-use automated system!",
        },
      ],
      description_data_resale: [
        {
          name:
            "What are the advantages of purchasing a membership from DVC Sales?",
          description: `The most significant advantage of purchasing a DVC resale is the money you will save! As a resale buyer, you will likely save between 25-50% off  compared to purchasing directly from Disney. Use our ${(
            <a href="https://www.dvcsales.com/retail-vs-dvcresale/#selling-menu-compare-price">
              {" "}
              retail vs resale calculator
            </a>
          )} to see what your potential savings could be.Our team at DVC Sales has 25 years of experience selling DVC memberships for the Walt Disney Company. We know the ins and outs of becoming a DVC member, and we use this knowledge to help you through the DVC resale process. We're are happy to help you with any questions you may have. Reach out to us on our`,
        },
        {
          name:
            "Are Membership Extras worth purchasing my membership directly from Disney?",
          description: `Membership Extras are the 'incidental benefits' that DVC members (who purchase at least 125 vacation points directly from Disney) can access. These include discounts on dining, shopping, special pricing on Annual Passes, and access to member lounges and events. The discounts and benefits included with Membership Extras simply don’t add up to the savings you'll receive by purchasing a DVC membership on the resale market. We go in-depth and explain why in ${(
            <a href="https://www.dvcsales.com/what-about-the-disney-perks/">
              this blog series
            </a>
          )} It’s important to note that Disney specifies Membership Extras as “incidental benefits” that are subject to change without notice at any time. Disney discourages potential members from basing their DVC purchase strictly on the availability of these extras since the benefits can change.`,
        },
        {
          name:
            "What are the restrictions when purchasing a DVC resale contract?",
          description: `From time to time, Disney places certain restrictions on resale contracts. The most recent restrictions took place on January 19, 2019. After that date, anyone who purchases a resale contract can use their vacation points at any of the the original 14 DVC resorts. They cannot use vacation points to stay at Disney’s Riviera Resort or other DVC resorts that may be built in the future. Any member who purchased their membership before this deadline is “grandfathered-in” and may continue to use their points at any DVC resort.DVC resale members cannot use vacation points to book Disney Cruises, Adventures by Disney, the Concierge Collection, or stays at regular Disney hotels. Members rarely use their points in this way as it is a very expensive option. If a resale buyer would like to take a Disney cruise, for example, it would be more advantageous to rent out their points and use the money to take the cruise.`,
        },
        {
          name: "As a resale buyer, which resorts will I have access to?",
          description: `As a resale buyer, you will be able to use your DVC points at any of the original 14 DVC resorts (also referred to as “legacy resorts”) at Walt Disney World, Disneyland, Hawaii, Vero Beach, FL, and Hilton Head, SC. You’ll also have access to many more non-Disney resorts around the world through the Resort Condominium International (RCI) program.`,
        },
        {
          name:
            "Will I be treated differently if I purchase my DVC membership on the resale market?",
          description:
            "Absolutely not!  You will be treated with the same respect and superior customer service Disney is known for, regardless of how you initially purchased your DVC membership. You’ll call the same 800# to book your reservations, you will have the same Home Resort Priority as all DVC members, and will be greeted with a friendly “Welcome Home!” during your stay.",
        },
        {
          name: "Will I have access to the same benefits as other DVC members?",
          description: `Members who purchase DVC resale contracts enjoy many of the same benefits as those who choose to purchase directly while saving thousands of dollars on their membership. These benefits include access to Member Services, Disney resort benefits such as Extra Magic Hours and free transportation, and the ability to book vacations around the globe through the RCI program. There are some restrictions, however, which you can read more about ${(
            <a href="https://www.dvcsales.com/resale-restrictions/">here</a>
          )}`,
        },
        {
          name: "Why should I buy my DVC membership from DVC Sales?",
          description:
            "First, we are former Disney Vacation Club cast members with 25 years of experience selling DVC memberships directly for Disney. We’ve helped thousands of families make their DVC dreams come true! We know the process of buying and selling DVC memberships inside and out, and we use this knowledge to help you close as quickly as possible. Our automated online system makes creating a listing, placing an offer, and closing easy! With 600-800 daily website visitors (80% of which are buyers), there is a great chance an ideal buyer will see your listing within a short time. Most of our inventory is sold within 30-40 days.	",
        },
      ],
      description_data_basics: [
        {
          name: "What is Disney Vacation Club?",
          description:
            "Disney Vacation Club (DVC) is Disney's version of a timeshare. When you become a DVC member, you purchase real estate interest at a particular resort, referred to as your 'Home Resort.' Your real estate interest is expressed in the form of vacation points, which you use to book your reservation. Members receive an annual allotment of points at the same time every year (your 'Use Year') for a ",
        },
        {
          name: "What are the advantages of being a DVC member?",
          description:
            "As a DVC member, you will gain access to exclusive DVC resorts at not only Walt Disney World, but Disneyland, Vero Beach, FL, and Hilton Head, SC. You'll enjoy spacious accommodations and suites that go beyond the standard hotel rooms available on Disney property. DVC resort rooms have amenities like washers and dryers, full kitchens, and Villas that sleep up to 12 people. DVC members also enjoy Extra Magic Hours and free transportation to the parks and airport.",
        },
        {
          name: "What is a Use Year?",
          description:
            "A contract's Use Year refers to the month the vacation points are deposited into a member's account. For instance, a contract with a June Use Year means Disney will deposit that year's allocation of vacation points every year on June 1st. If you vacation around the same time every year, we suggest purchasing a contract with a Use Year no more than 6 months before your typical vacation. This allows you to bank points for the following year in case you cancel your reservation. If your vacation schedule is flexible, the Use Year is less of a concern. Keep in mind that over the life of the membership, your desired travel times will likely change.If you're already a DVC member and are looking to purchase additional points, you're probably considering purchasing a contract with the same Use Year as your current contract.  Staying with the same use year does make things a bit easier, but countless members have multiple use years and manage it without issue. Keep in mind that if you purchase a different use year, you will also be given a new member number. ",
        },
        {
          name: "What is Home Resort Priority?",
          description:
            "Your Home Resort is the resort at which you own a real estate interest. Also, your home resort that determines how much you'll pay in annual dues as well. Members receive priority booking at their home resort and can book vacations up to 11 months in advance. At non-home DVC resorts, your vacations can be booked no more than seven (7) months ahead of your desired travel dates. This booking window gives you the best opportunity to reserve a particular room and view you desire at your Home Resort. Home Resorts cannot be changed after a purchase is made, so it's important to choose a Home Resort you and your family will love to visit for years to come. ",
        },
        {
          name: "What are annual dues and how do they work?",
          description: `Determining the right number of points for your family depends on a few factors. An excellent place to start is to use our ${(
            <a href="https://www.dvcsales.com/dvc-resale-buying/#buying-menu-point-val-cal">
              DVC Vacation Point Calculator
            </a>
          )}. Pick your desired resort and potential check-in/out dates to get started. You'll see the resort's point chart for the entire year and a breakdown of how many points you'll need for each size of accommodation for the dates you choose. You'll also notice a difference in the points required for busier times of year vs. off-season. Keep in mind that your travel needs will likely change over the life of the membership and you may decide to purchase more points down the road. Our goal with the Vacation Point Calculator is only to assist buyers as they determine the right number of points needed for their family. ${(
            <a href="https://www.dvcsales.com/listings/">DVC resale listings</a>
          )} come in various sizes, some as low as 25 points per contract. However, if you purchase directly through Disney, new members must purchase a minimum of 125 Vacation Points.`,
        },
        {
          name: "What is the right number of points for you and your family?",
          description: `Determining the right number of points for your family depends on a few factors. An excellent place to start is to use our ${(
            <a href="https://www.dvcsales.com/dvc-resale-buying/#buying-menu-point-val-cal">
              DVC Vacation Point Calculator
            </a>
          )} Pick your desired resort and potential check-in/out dates to get started. You'll see the resort's point chart for the entire year and a breakdown of how many points you'll need for each size of accommodation for the dates you choose. You'll also notice a difference in the points required for busier times of year vs. off-season. Keep in mind that your travel needs will likely change over the life of the membership and you may decide to purchase more points down the road. Our goal with the Vacation Point Calculator is only to assist buyers as they determine the right number of points needed for their family. One of the advantages of purchasing a DVC resale is the flexibility in the number of points you may buy. Our ${(
            <a href="https://www.dvcsales.com/listings/">DVC resale listings</a>
          )} come in various sizes, some as low as 25 points per contract. However, if you purchase directly through Disney, new members must purchase a minimum of 125 Vacation Points.`,
        },
        {
          name: "May I rent out my points with DVC Sales?",
          description:
            "DVC Sales is not a point rental company. By purchasing DVC resale points, you do have the right to rent out your points through one of the point rental companies.",
        },
        {
          name: "How do I use my points to book a vacation?",
          description: `Once your purchase is complete, your membership information and point balance will be updated in the Disney system. That’s when the fun begins! Log on to the ${(
            <a href="https://disneyvacationclub.disney.go.com/">
              Disney Vacation Club website{" "}
            </a>
          )} to book your stay online, or call 800-800-9800 to reserve your next Disney vacation!`,
        },
        {
          name: "How do DVC accommodations differ from other Disney hotels?",
          description: `The rooms at DVC resorts offer spacious and luxurious accommodations compared to renting hotel rooms on Disney property. Many DVC Villas offer amenities like washers and dryers, full kitchens, balconies, and separate bedrooms. Each DVC resort offers world-class amenities like private pools, gyms, fabulous restaurants, walking trails, and more.DVC rooms are categorized as Deluxe Studios, One & Two-bedroom Villas, and Grand Villas. Deluxe Studios are very similar to regular hotel rooms but are more spacious and offer kitchenettes. One-Bedroom Villas accommodate up to 5 guests and one child under three years old, Two-Bedroom Villas fit up to 9 people and one child under three, and three-bedroom Grand Villas accommodate up to 12 people and one child under three. ${(
            <a href="https://www.dvcsales.com/animal-kingdom/">
              Learn more about DVC resorts and view floor plans here.{" "}
            </a>
          )}`,
        },
        {
          name: "What does it mean to bank, borrow, or hold DVC points?",
          description: `The ability to bank and borrow points is one of the great advantages of being a DVC member. In this system, you can save points from your current Use Year and “bank” them for next year. In the same way, you can “borrow” points from the upcoming year to use in the current year. This is beneficial if you’re wanting to reserve accommodations that use more than your yearly allotment of vacation points. You may use a maximum of three years worth of points by combining banked, current, and borrowed points together.When a reservation is canceled within 30 days of check-in, Disney places these points in a “holding account.” Holding account points must be used to book a trip within 60 days, cannot be banked, and expire at the end of the current Use Year.`,
        },
        {
          name: "Will I be able to take advantage of Disney Resort benefits?",
          description:
            "Absolutely! As a DVC member, you’ll enjoy the benefits of staying at a Disney resort, such as free transportation from the airport and theme parks, Extra Magic Hours, and resort amenities and activities.",
        },
        {
          name: "What is a holding account?",
          description:
            "To prevent unused Vacation Points from expiring, you must bank them from the current Use Year into the next. Points have a 2-year life, but must be banked by the deadline. You may also transfer them to another Disney Vacation Club Member or to another of your Memberships. If you have forgotten to bank your points by the deadline, the points will expire at the end of the current use year. You can extend the life of the Vacation Points if you transfer them into RCI. However, if you deposit them into RCI, they will no longer be able to be used for reservations for Disney Vacation Club.",
        },
        {
          name: "Home Resort Rules and Regulations",
          description: `By selecting the button below, you will be taken to the Disney Vacation Club website to view the latest version of Home Resort Rules and Regulations. ${(
            <a
              href="https://disneyvacationclub.disney.go.com/media/dvc/languagespecific/eng/member/vacationplanning/rulesandregulations/Home-Resort-Rules-and-Regulations-DRR-062718.pdf"
              target="_blank"
              rel="noopener"
            >
              Home Resort Rules and Regulations
            </a>
          )}`,
        },
      ],
    };
  },
  mounted() {
    this.current_desc = this.description_data_basics;
  },
  components: {
    Description,
  },
};
</script>

<style>
.border1 {
  border: 1px solid #214f73;
}
</style>
