<template>
  <div>
    <div class="mt-10 px-3 flex justify-between items-start">
      <ul class="bg-custom-light0 w-72 mt-20">
        <li
          class="py-2 px-4 border border-custom-blue4 "
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage === tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[40%] rounded">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div
              class="text-lg w-10/12 text-custom-blue4 mt-5 text-left mx-auto"
            >
              {{ tab.description }}
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "ʻAMAʻAMA – Contemporary Island Cooking",
      tabs: [
        {
          name: "ʻAMAʻAMA – Contemporary Island Cooking",
          imgs: [
            `${require("../../assets/aulani/dinning/amma/1.png")}`,
            require("../../assets/aulani/dinning/amma/2.png"),
            require("../../assets/aulani/dinning/amma/3.png"),
          ],
          description:
            " Sit back and relax at this beachfront eatery and let the sound of the ocean waves calm you.  The menu rotates throughout the year, highlighting fresh ingredients and modern twists on Hawaiian cuisine. ",
        },
        {
          name: "Disney Character Breakfast at Makahiki",
          imgs: [
            require("../../assets/aulani/dinning/amma/3.png"),
            require("../../assets/aulani/dinning/mamas/2.png"),
          ],
          description:
            "This full-service restaurant offers buffet and à la carte options in a family-friendly atmosphere with an open-air dining room.  Join your favorite Disney characters for breakfast, which includes tropical fruits, fresh pastries, and other specialties. At dinner, enjoy a fixed, three-course meal that infuses local ingredients into the main entrees. ",
        },
        {
          name: "mama’s snack stop",
          imgs: [
            require("../../assets/aulani/dinning/mamas/1.png"),
            require("../../assets/aulani/dinning/mamas/2.png"),
            require("../../assets/aulani/dinning/mamas/3.png"),
          ],
          description:
            "As a pit-stop near the Waikolohe Valley pool area, Mama’s Snack Stop serves up hot dogs, chicken tenders, yummy coconut shrimp, and more. ",
        },
        {
          name: "Ulu cafe",
          imgs: [
            require("../../assets/aulani/dinning/ulu/1.png"),
            require("../../assets/aulani/dinning/ulu/2.png"),
          ],
          description:
            "Conveniently located near the Wailana Pool, select from a variety of grab-and-go items, carryout meals, poke bowls, and snacks.   ",
        },
        {
          name: "Off the Hook",
          imgs: [require("../../assets/aulani/dinning/off-the-hook/1.png")],
          description:
            "This open-air, beachside lounge resembles a fisherman’s shack and serves various drinks and Hawaiian-inspired appetizers.",
        },
        {
          name: "The `Ōlelo Room",
          imgs: [require("../../assets/aulani/dinning/olelo/1.png")],
          description:
            "Inspired and infused with the Hawaiian language, this bar and lounge offers beer, wine, spirits, and Hawaiian appetizers.",
        },
        {
          name: "Ka Wa'a: A Luau at Aulani",
          imgs: [require("../../assets/aulani/dinning/kawa/1.png")],
          description:
            "Discover a culinary and cultural experience that infuses the legends, traditions, natural wonders, and the people of Hawaii at this one-of-a-kind dining experience",
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
