<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in images" :key="index">
                <div
                  class="overflow-hidden relative w-full pb-[50%] rounded-md"
                >
                  <img
                    :src="img"
                    class="w-full h-full object-cover object-bottom absolute"
                  />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Aulani, Disney Vacation Club Villas, Ko Olina, Hawaii
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                Experience the magic of Hawaii at Disney’s Aulani Resort and
                Spa. Located on the white-sand beaches of Oahu, the Villas of
                Aulani overlook the Pacific Ocean, a breathtaking lagoon, and a
                tropical cove that defines the term "paradise on Earth."
                "Aulani" means "messenger of a chief," and it's here that you'll
                explore everything the Hawaiian islands have to offer. Set back
                from the crowds of Waikiki but close enough to enjoy its
                attractions, Aulani is nestled between mountain ranges and
                calming ocean waves. In addition to all the world-class
                amenities you expect from a Disney Resort, there are
                island-themed activities for all to enjoy. Matched only by the
                spectacular beauty of the islands, the atmosphere and
                experiences of Aulani will put the Disney spark of magic into
                your Hawaiian getaway.
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="
                  text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline
                "
              >
                What makes Disney's Aulani Resort great!
              </h2>
            </div>
            <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      active: false,
      discriptions: [
        "Beachfront paradise: Situated on the leeward coast of O'ahu,the white-sand beaches of Ko Olina create the perfect backdrop for your Hawaiian escape.",
        "Cultural infusion: Disney Imagineers partnered with local historians and artisans to create a resort that celebrates ancient Hawaiian heritage.",
        "Aquatic adventures await: Water lovers will rejoice at the bounty of water-related activities at the resort, including the Waikolohe Valley swimming area, which includes several pools and a lazy river. There is also a snorkeling lagoon where you can swim with tropical fish.",
      ],
      names: ["Safari escape", "African lodging", "Wildlife observation"],
      images_b: [
        require("../../assets/animal-kingdom/b1.png"),
        require("../../assets/animal-kingdom/b4.png"),
        require("../../assets/animal-kingdom/b5.png"),
      ],
      images: [
        require("../../assets/aulani/1.png"),
        require("../../assets/aulani/2.png"),
        require("../../assets/aulani/3.png"),
        require("../../assets/aulani/4.png"),
        require("../../assets/aulani/5.png"),
        require("../../assets/aulani/6.png"),
        require("../../assets/aulani/7.png"),
        require("../../assets/aulani/8.png"),
      ],
    };
  },
};
</script>
