<template>
  <div
    class="bg-white flex flex-col h-54 pb-4 pt-3 items-center  shadow-md rounded"
  >
    <p
      class="rounded-full bg-custom-orange5 text-white px-5 py-2 -mt-10 text-3xl"
    >
      1
    </p>
    <p class="text-custom-orange5 text-xl font-medium mt-6">
      SELECT RESORT
    </p>
    <div class="px-3 w-full pt-6">
      <div
        @click="toggle = !toggle"
        class="border border-2 w-full border-custom-blue6 flex justify-between items-center   w-full cursor-pointer text-custom-blue6 font-medium py-2 rounded px-2 mt-4"
      >
        <p>
          {{ selected }}
        </p>
        <img
          v-if="toggle"
          :src="require(`../../../assets/upload.svg`)"
          class="w-6"
        />
        <img
          v-if="!toggle"
         :src="require(`../../../assets/down-arrow.svg`)"
          class="w-6"
        />
      </div>
    </div>
    <div
      v-if="toggle"
      class="px-3 grid grid-cols-2 gap-2 bg-white text-center w-full pt-2"
    >
      <template v-for="(opt, index) in options">
        <p
          class="border border-custom-blue6  font-medium py-2 rounded cursor-pointer"
          :class="
            selected === opt
              ? 'bg-custom-blue6 text-white '
              : 'text-custom-blue6'
          "
          @click="(selected = opt), (toggle = !toggle)"
          :key="index"
        >
          {{ opt }}
        </p>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: ["options"],

  data() {
    return {
      selected: "Select Resorts",
      toggle: false,
    };
  },
};
</script>

<style></style>
