<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in images" :key="index">
                <div
                  class="overflow-hidden relative w-full pb-[50%] rounded-md"
                >
                  <img
                    :src="img"
                    class="w-full h-full object-cover object-bottom absolute"
                  />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Bay Lake Tower at Disney's Contemporary Resort
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                The crescent-shaped Bay Lake Tower blends modern architectural
                sensibilities with the trademark visual cues of its influential
                neighbor, Disney’s Contemporary Resort. Defined by glass-wrapped
                columns and warm woven woods, Bay Lake Tower is conveniently
                located within walking distance of restaurants, tennis courts, a
                health club, and other recreational activities. After a
                fun-filled day at Magic Kingdom, walking back to your room is a
                breeze and only takes a few minutes. Enjoy views of the
                courtyard, pool, Bay Lake, and Magic Kingdom from the Sky Way
                Bridge, which connects Bay Lake Tower with Disney's Contemporary
                Resort. The bridge links you to shops, restaurants, and the
                monorail station inside the Contemporary.
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline"
              >
                What makes Disney's Bay lake tower Resort great!
              </h2>
            </div>
           <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      active: false,
      names: ["Rooms with a view", "Modern elegance", "Steps away from attractions"],
      images_b: [
        require("../../assets/animal-kingdom/b1.png"),
        require("../../assets/animal-kingdom/b4.png"),
        require("../../assets/animal-kingdom/b5.png"),
      ],
      discriptions: [
        "Enjoy spectacular views of Magic Kingdom and Seven Seas Lagoon. View nightly fireworks from your balcony,or watch the sunrise over Bay Lake every morning.",
        "Clean, stylish, and minimalistic details mark Bay Lake Tower and provide a calming space after a day of park hopping.",
        "The Sky Way Bridge connects Bay Lake Tower with the nearby Contemporary Resort and is only steps away from the Magic Kingdom, getting you as close to the magic as possible.",
      ],
      images: [
        `${require("../../../static/bay-lake-tower/bay-lake-tower-contemporary-overview1.jpg")}`,
        require("../../../static/bay-lake-tower/bay-lake-tower-contemporary-overview1.jpg"),
        require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview2.jpg"),
        require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview3.jpg"),
        require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview4.jpg"),
        require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview5.jpg"),
        require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview6.jpg"),
        require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview7.jpg"),
        require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview8.jpg"),
      ],
    };
  },
};
</script>
