<template>
	<div>
		<div class="text-center mt-5 text-2xl">
			<button
				class="rounded-md px-3 py-1 shadow-lg focus:outline-none active:shadow-none"
				:class="[
					activeChart == '2021'
						? 'bg-custom-blue4 text-white '
						: 'border border-custom-blue4 text-custom-blue4',
				]"
				@click="activeChart = '2021'"
			>
				2021
			</button>
			<button
				class="rounded-md px-3 py-1 shadow-lg focus:outline-none active:shadow-none"
				:class="[
					activeChart == '2022'
						? 'bg-custom-blue4 text-white '
						: 'border border-custom-blue4 text-custom-blue4',
				]"
				@click="activeChart = '2022'"
			>
				2022
			</button>
		</div>
		<div class="max-w-3xl mx-auto overflow-hidden mt-5">
			<img
				:src="require(`../../assets/bay-lake-tower/chart-${activeChart}.png`)"
				class="w-full"
				alt=""
			/>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				activeChart: "2021",
				showImage: false,
			};
		},
	};
</script>