<template>
  <div>
    <div class="mt-10 flex justify-between items-start px-4">
      <ul class="bg-custom-light0 mt-20 w-72 ">
        <li
          class="py-2 px-4 border border-custom-blue4 "
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
        <li
          class="py-2 px-4 border border-custom-blue4 "
          @click="changeView($event, 'Floor Plans')"
          :class="[
            { 'bg-custom-blue4 text-white': activePage == 'Floor Plans' },
          ]"
        >
          <a>
            Floor Plans
          </a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage == tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[50%] rounded">
                  <img :src="img" class="w-full h-full  absolute" />
                </div>
              </slide>
            </carousel>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ tab.description }}
            </span>
            <span class="text-custom-blue2 font-semibold text-2xl block mt-5">
              Amenities</span
            >
            <div class="ml-20 mt-5">
              <div
                class="mt-2 text-left flex justify-around list-disc text-custom-blue4"
              >
                <ul class="list-disc flex flex-wrap">
                  <li
                    v-for="(amenitie, index) in tab.amenities"
                    :key="index"
                    class="w-1/3 px-4"
                  >
                    {{ amenitie }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </template>
        <div v-if="activePage === 'Floor Plans'" class="w-full">
          <div class="text-center w-full">
            <h1 class="text-3xl font-semibold text-custom-blue4">
              Floor Plans
            </h1>
          </div>
          <div>
            <carousel
              :perPage="1"
              @page-change="(val) => navigation(val)"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>'
            >
              <slide v-for="(img, index) in floors.imgs" :key="index">
                <div class="overflow-hidden relative pb-[50%] rounded">
                  <img :src="img" class="w-full h-full  absolute" />
                </div>
              </slide>
            </carousel>
          </div>
          <div>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ floors.description[activeFloor].name }}
            </span>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ floors.description[activeFloor].size }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Deluxe Studio - Lake View",
      activeFloor: 0,
      floors: {
        name: "Floor Plans",
        imgs: [
          
          require("../../assets/bay-lake-tower/floor/1.png"),
          require("../../assets/bay-lake-tower/floor/2.png"),
          require("../../assets/bay-lake-tower/floor/3.png"),
          require("../../assets/bay-lake-tower/floor/1.png"),
        ],
        description: [
          {
            name: "Bay Lake Tower Floor plan One Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Bay Lake Tower Floor plan Studio Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Bay Lake Tower Floor plan Studio Kadani Village",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Bay Lake Tower Floor plan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Bay Lake Tower Floor plan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Bay Lake Tower Floor plan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Bay Lake Tower Floor plan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
        ],
      },
      tabs: [
        {
          name: "Deluxe Studio - Lake View",
          imgs: [
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView1.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView2.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView3.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView4.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView5.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView6.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView7.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView8.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView9.webp"),
          ],
          description:
            "Sleeps up to 4 Adults Sleeps up to 4 Adults Spacious accommodations include a kitchenette with small fridge and microwave, and balcony",
          amenities: [
            "Toaster",
            "Internet - Free WiFi Service",
            "Microwave",
            "Telephone with voicemail",
            "High Chair",
            "Iron & Ironing Board",
            "Hair Dryer",
            "Mini-refrigerator",
            "Soaker Tub",
            "Flat-Panel TV",
            "DVD Player",
            "Coffee Maker",
            "In-Room Safe",
          ],
        },
        {
          name: "Deluxe Studio - Standard View",
          imgs: [
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView6.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView2.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView4.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView7.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView3.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView1.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView5.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView8.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView9.webp"),
          ],
          description:
            "Sleeps up to 4 Adults Sleeps up to 4 Adults Spacious accommodations include a kitchenette with small fridge and microwave, and balcony",
          amenities: [
            "Toaster",
            "Internet - Free WiFi Service",
            "Microwave",
            "Telephone with voicemail",
            "High Chair",
            "Iron & Ironing Board",
            "Hair Dryer",
            "Mini-refrigerator",
            "Soaker Tub",
            "Flat-Panel TV",
            "DVD Player",
            "Coffee Maker",
            "In-Room Safe",
          ],
        },
        {
          name: "Deluxe Studio - Theme Park View",
          imgs: [
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioThemeBlackView1.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioThemeBlackView2.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView2.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView7.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioThemeBlackView3.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView5.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView8.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView9.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView3.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioThemeBlackView4.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView1.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-DeluxeStudioLakeView4.webp"),
          ],
          description:
            "Sleeps up to 4 Adults Sleeps up to 4 Adults Spacious accommodations include a kitchenette with small fridge and microwave, and balcony",
          amenities: [
            "Toaster",
            "Internet - Free WiFi Service",
            "Microwave",
            "Telephone with voicemail",
            "High Chair",
            "Iron & Ironing Board",
            "Hair Dryer",
            "Mini-refrigerator",
            "Soaker Tub",
            "Flat-Panel TV",
            "DVD Player",
            "Coffee Maker",
            "In-Room Safe",
          ],
        },
        {
          name: "1 Bedroom Villa - Standard View",
          imgs: [
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaStandardView1.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaStandardView2.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaStandardView3.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaStandardView4.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaStandardView5.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaStandardView6.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaStandardView7.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaStandardView8.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaStandardView9.webp"),
          ],
          description:
            "Sleeps up to 5 Adults Sleeps up to 5 Adults Great for families, villas include 2 full bathrooms, a full kitchen with an island, private balcony",
          amenities: [
            "Toaster",
            "Fully Equipped Kitchen with Refrigerator",
            "Internet - Free WiFi Service",
            "Microwave",

            "High Chair",
            "Telephone with voicemail",
            "Hair Dryer",
            "Iron & Ironing Board",

            "DVD Player",
            "Washer & Dryer",
            "Soaker Tub",
            "Flat-Panel TV",

            "Coffee Maker",
            "Whirlpool Tub",
            "In-Room Safe",
          ],
        },

        {
          name: "1 Bedroom Villa - Lake View",
          imgs: [
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaLakeView.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaLakeView1.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaLakeView2.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaLakeView3.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaLakeView4.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaLakeView5.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaLakeView6.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaLakeView7.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaLakeView8.webp"),
          ],
          description:
            "Sleeps up to 5 Adults Sleeps up to 5 Adults Great for families, villas include 2 full bathrooms, a full kitchen with an island, private balcony",
          amenities: [
            "Toaster",
            "Fully Equipped Kitchen with Refrigerator",
            "Internet - Free WiFi Service",
            "Microwave",

            "High Chair",
            "Telephone with voicemail",
            "Hair Dryer",
            "Iron & Ironing Board",

            "DVD Player",
            "Washer & Dryer",
            "Soaker Tub",
            "Flat-Panel TV",

            "Coffee Maker",
            "Whirlpool Tub",
            "In-Room Safe",
          ],
        },
        {
          name: "1 Bedroom Villa - Theme Park View",
          imgs: [
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView1.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView2.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView3.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView4.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView5.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView6.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView7.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView8.webp"),
          ],
          description:
            "Sleeps up to 5 Adults Sleeps up to 5 Adults Great for families, villas include 2 full bathrooms, a full kitchen with an island, private balcony",
          amenities: [
            "Toaster",
            "Fully Equipped Kitchen with Refrigerator",
            "Internet - Free WiFi Service",
            "Microwave",

            "High Chair",
            "Telephone with voicemail",
            "Hair Dryer",
            "Iron & Ironing Board",

            "DVD Player",
            "Washer & Dryer",
            "Soaker Tub",
            "Flat-Panel TV",

            "Coffee Maker",
            "Whirlpool Tub",
            "In-Room Safe",
          ],
        },
        {
          name: "2 Bedroom Villa - Standard View",
          imgs: [
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaStandardView.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaStandardView1.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaStandardView2.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaStandardView3.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaStandardView4.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaStandardView5.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaStandardView6.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaStandardView7.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaStandardView8.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaStandardView9.webp"),
          ],
          description:
            "Sleeps up to 9 Adults Sleeps up to 9 Adults Great for large families, villas include 3 full bathrooms and a full kitchen with an island",
          amenities: [
            "Toaster",
            "Fully Equipped Kitchen with Refrigerator",
            "Internet - Free WiFi Service",
            "Microwave",

            "High Chair",
            "Telephone with voicemail",
            "Hair Dryer",
            "Iron & Ironing Board",

            "DVD Player",
            "Washer & Dryer",
            "Soaker Tub",
            "Flat-Panel TV",

            "Coffee Maker",
            "Whirlpool Tub",
            "In-Room Safe",
          ],
        },

        {
          name: "2 Bedroom Villa - Theme Park View",
          imgs: [
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView4.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView2.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView1.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView6.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView3.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView8.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView5.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-1BedroomVillaThemeParkView7.webp"),
          ],
          description:
            "Sleeps up to 9 Adults Sleeps up to 9 Adults Great for large families, villas include 3 full bathrooms and a full kitchen with an island",
          amenities: [
            "Toaster",
            "Fully Equipped Kitchen with Refrigerator",
            "Internet - Free WiFi Service",
            "Microwave",

            "High Chair",
            "Telephone with voicemail",
            "Hair Dryer",
            "Iron & Ironing Board",

            "DVD Player",
            "Washer & Dryer",
            "Soaker Tub",
            "Flat-Panel TV",

            "Coffee Maker",
            "Whirlpool Tub",
            "In-Room Safe",
          ],
        },

        {
          name: "2 Bedroom Villa - Lake View",
          imgs: [
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaLakeView.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaLakeView1.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaLakeView2.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaLakeView3.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaLakeView4.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaLakeView5.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaLakeView6.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaLakeView7.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaLakeView8.webp"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-rooms-2BedroomVillaLakeView9.webp"),
          ],
          description:
            "Sleeps up to 9 Adults Sleeps up to 9 Adults Great for large families, villas include 3 full bathrooms and a full kitchen with an island",
          amenities: [
            "Toaster",
            "Fully Equipped Kitchen with Refrigerator",
            "Internet - Free WiFi Service",
            "Microwave",

            "High Chair",
            "Telephone with voicemail",
            "Hair Dryer",
            "Iron & Ironing Board",

            "DVD Player",
            "Washer & Dryer",
            "Soaker Tub",
            "Flat-Panel TV",

            "Coffee Maker",
            "Whirlpool Tub",
            "In-Room Safe",
          ],
        },
        {
          name: "3 Bedroom Grand Villa - Lake View",
          imgs: [
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview2.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview4.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview1.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview6.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview5.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview3.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview8.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview7.jpg"),
          ],
          description: "Sleeps up to 12 Adults",
          amenities: [
            "Toaster",
            "Fully Equipped Kitchen with Refrigerator",
            "Internet - Free WiFi Service",
            "Microwave",

            "High Chair",
            "Telephone with voicemail",
            "Hair Dryer",
            "Iron & Ironing Board",

            "DVD Player",
            "Washer & Dryer",
            "Soaker Tub",
            "Flat-Panel TV",

            "Coffee Maker",
            "Whirlpool Tub",
            "In-Room Safe",
          ],
        },
        {
          name: "3 Bedroom Grand Villa - Theme Park View",
          imgs: [
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview1.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview2.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview3.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview4.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview5.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview6.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview7.jpg"),
            require("../../assets/bay-lake-tower/bay-lake-tower-contemporary-overview8.jpg"),
          ],
          description: "Sleeps up to 12 Adults",
          amenities: [
            "Toaster",
            "Fully Equipped Kitchen with Refrigerator",
            "Internet - Free WiFi Service",
            "Microwave",

            "High Chair",
            "Telephone with voicemail",
            "Hair Dryer",
            "Iron & Ironing Board",

            "DVD Player",
            "Washer & Dryer",
            "Soaker Tub",
            "Flat-Panel TV",

            "Coffee Maker",
            "Whirlpool Tub",
            "In-Room Safe",
          ],
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
