<template>
  <div class="lg:px-16 md:px-8 px-4 pb-16">
     <h1 class="text-center text-3xl text-custom-blue6 pb-6 font-medium">
     ANNUAL DUES
    </h1>
    <div class="border overflow-x-scroll border-custom-blue6 rounded shadow-md">
      <div class="flex bg-custom-blue6 ">
        <template v-for="(head, index) in table_data.headings">
          <p
            class="w-full text-left text-white font-medium pl-2 py-1.5"
            :key="index"
          >
            {{ head }}
          </p>
        </template>
      </div>
      <template v-for="(data, index) in table_data.data">
        <div
          class="flex"
          :class="index % 2 === 0 ? 'bg-custom-light0' : ''"
          :key="index"
        >
          <p class="w-full text-left pl-3 text-custom-blue6 ">{{ data.name }}</p>
          <p class="w-full text-left pl-3 text-custom-blue6 ">{{ data.year }}</p>
          <p class="w-full text-left pl-3 text-custom-blue6 ">
            {{ data.exp_year }}
          </p>
          <p class="w-full text-left pl-3 text-custom-blue6 ">
            {{ data.year_left }}
          </p>
        </div>
      </template>
    </div>
    <div class="pt-4">
      <h5 class="text-center text-custom-blue6">
        Show/Hide Columns
      </h5>
      <div class="flex justify-center space-x-2 text-center text-custom-blue6">
        <template v-for="y in 4">
          <div class="flex items-center " :key="y">
            <input type="checkbox" id="checkbox" v-model="checked" />
            2015
          </div>
        </template>
      </div>
      <div class="flex justify-center pt-4">
      <button class="text-center text-white bg-custom-blue6 rounded px-4">
          Historical Dues
      </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      table_data: {
        headings: ["RESORT", "2021", "EXPIRATION YEAR", "YEAR'S LEFT"],
        data: [
          {
            name: "ANIMAL KINGDOM",
            year: "8.07",
            exp_year: "2057",
            year_left: "36",
          },
          {
            name: "AULANI",
            year: "8.35",
            exp_year: "2062",
            year_left: "41",
          },
          {
            name: "AULANI (SUB)",
            year: "6.28",
            exp_year: "2062",
            year_left: "41",
          },
          {
            name: "BAY LAKE TOWER",
            year: "6.90",
            exp_year: "2060",
            year_left: "39",
          },
          {
            name: "BEACH CLUB",
            year: "7.44",
            exp_year: "2042",
            year_left: "21",
          },
          {
            name: "BOARDWALK",
            year: "7.81",
            exp_year: "2042",
            year_left: "21",
          },
          {
            name: "BOULDER RIDGE",
            year: "8.11",
            exp_year: "2042",
            year_left: "21",
          },
          {
            name: "COPPER CREEK",
            year: "7.59",
            exp_year: "2068",
            year_left: "47",
          },
          {
            name: "GRAND CA",
            year: "6.99",
            exp_year: "2060",
            year_left: "39",
          },
          {
            name: "GRAND FLORIDIAN",
            year: "6.81",
            exp_year: "2064",
            year_left: "43",
          },
          {
            name: "HILTON HEAD",
            year: "9.97	",
            exp_year: "2042",
            year_left: "21",
          },
          {
            name: "OLD KEY WEST",
            year: "8.36",
            exp_year: "2042",
            year_left: "21",
          },
          {
            name: "POLYNESIAN",
            year: "7.05",
            exp_year: "2066",
            year_left: "45",
          },
          {
            name: "RIVIERA",
            year: "8.39",
            exp_year: "2070",
            year_left: "49",
          },
          {
            name: "SARATOGA SPRINGS",
            year: "7.11",
            exp_year: "2054",
            year_left: "33",
          },
          {
            name: "VERO BEACH",
            year: "11.23",
            exp_year: "2042",
            year_left: "21",
          },
        ],
      },
    };
  },
};
</script>

<style></style>
