<template>
  <div>
    <div class="mt-10 flex justify-between items-start">
      <ul class="bg-custom-light0 w-72 mt-20">
        <li
          class="py-2 px-4 border border-custom-blue4 "
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage === tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[40%] rounded">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div
              class="text-lg w-10/12 text-custom-blue4 mt-5 text-left mx-auto"
            >
              {{ tab.description }}
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Wind & Waves Grill",
      tabs: [
        {
          name: "Wind & Waves Grill",
          imgs: [
            require("../../assets/vero-beach/dining/wave/1.png"),
            require("../../assets/vero-beach/dining/wave/2.png"),
            require("../../assets/vero-beach/dining/wave/3.png"),
            require("../../assets/vero-beach/dining/wave/4.png"),
          ],
          description:
            "Feast on a delectable assortment of dishes at this lively seaside restaurant as you meet some of your favorite Disney Characters on select mornings. Later on, fresh seafood and locally sourced ingredients blend into entrees like Key West Shrimp and Roasted Salmon with braised red cabbage and spätzle. ",
        },
        {
          name: "The Green Cabin Room",
          imgs: [
            require("../../assets/vero-beach/dining/green/1.png"),
            require("../../assets/vero-beach/dining/green/2.png"),
            require("../../assets/vero-beach/dining/green/3.png"),
            require("../../assets/vero-beach/dining/green/4.png"),
          ],
          description:
            "Come “aboard” this inviting nautical lounge for cocktail hour or dessert. The decor is modeled after the Spanish galleons, who were known to frequent the waters around Vero Beach. Legend has it that one vessel, the San Martin, shipwrecked off the coast in the early 1600s.  ",
        },
        {
          name: "Wind & Waves Bar",
          imgs: [
            require("../../assets/vero-beach/dining/green/1.png"),
            require("../../assets/vero-beach/dining/green/2.png"),
            require("../../assets/vero-beach/dining/green/3.png"),
            require("../../assets/vero-beach/dining/green/4.png"),
          ],
          description:
            "Retreat at this poolside bar, which serves specialty cocktails, draft beers, wine, and high-end Florida liquors. Go with the flow and unwind while listening to the sounds of the ocean waves. ",
        },
        {
          name: "Wind & Waves Market",
          imgs: [
            require("../../assets/vero-beach/dining/green/1.png"),
            require("../../assets/vero-beach/dining/green/2.png"),
            require("../../assets/vero-beach/dining/green/3.png"),
            require("../../assets/vero-beach/dining/green/4.png"),
          ],
          description:
            "This grab-and-go snack bar serves light meals, baked goods, burgers, sandwiches, and sweets like Mickey Whoopie Pies. Take your order poolside or relax in your spacious Villa.  ",
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
