<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in images" :key="index">
                <div class="overflow-hidden relative w-full pb-[40%]">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Disney's Vero Beach Resort
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                For those who prefer a more secluded location, Disney’s Vero
                Beach Resort offers the perfect getaway. Escape the hustle and
                bustle of the Orlando theme parks at this Atlantic Coast
                paradise, located 2 hours southeast of Walt Disney World on the
                white sands of Vero Beach. Whether you stay in a Villa or a
                standalone cottage, the pristine white sandy beach lies on the
                other side of your door. Fill your days with plenty of
                recreational activities— both on and offshore, and enjoy the
                surf and turf menus at the world-renowned local restaurants.
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="
                  text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline
                "
              >
                What makes Disney's Vero beach Resort great!
              </h2>
            </div>
            <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      active: false,
      discriptions: [
        "Vero Beach is located on beachfront property along Florida's Treasure Coast, where guests can experience a getaway away from other tourist beach destinations.  ",
        "Miles of natural shoreline, sea turtle nesting grounds, and golf make up just some of the activities that will enhance this Florida beach escape. ",
        "kids of all ages will enjoy splashing into the Mickey-shaped pool and adventuring down the Pirates Plunge pool slide. Join the family for a round of mini-golf, or play pick-up basketball or volleyball game.  ",
      ],
      names: [
        "Beachside paradise",
        "Experience real Florida",
        "Family-friendly activities",
      ],
      images_b: [
        require("../../assets/vero-beach/3.png"),
        require("../../assets/vero-beach/4.png"),
        require("../../assets/vero-beach/5.png"),
      ],
      images: [
        require("../../assets/vero-beach/1.png"),
        require("../../assets/vero-beach/2.png"),
        require("../../assets/vero-beach/3.png"),
        require("../../assets/vero-beach/4.png"),
        require("../../assets/vero-beach/5.png"),
        require("../../assets/vero-beach/6.png"),
        require("../../assets/vero-beach/7.png"),
        require("../../assets/vero-beach/8.png"),
        require("../../assets/vero-beach/9.png"),
      ],
    };
  },
};
</script>
