<template>
  <div class="lg:px-16 md:px-8 px-4 pt-12">
    <p class="text-center text-3xl text-custom-blue6 pb-6 font-medium">
      RENT DVC POINTS
    </p>
    <p class="text-lg font-md text-custom-blue6 mt-4">
      Many sites offers both options i.e. to rent DVC points as well as to buy
      them. This is usually done under the guise that it gives you the chance to
      ‘test drive’ membership before committing to a full purchase. We feel this
      is NOT a good idea, and here’s is a good reason for that-
    </p>
    <p class="text-lg font-md text-custom-blue6">
      All things considered, it makes far more sense to purchase a Membership,
      as opposed to renting points. This way, you and your family can start
      enjoying the privileges of membership immediately. We hope you’ll trust
      DVC Sales to assist you with your purchase!
    </p>
    <div class="flex justify-center items-center flex-col">
      <button
        class="bg-custom-blue6 text-white text-lg px-12 py-3 rounded mt-4"
      >
        See Available Inventery
      </button>
      <img
        src="https://dvcsales.com/wp-content/uploads/2019/08/buyingvsrentingpicture.png"
      />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
