<template>
  <div class="flex flex-no-wrap bg-custom-bg1 h-screen">
    <div
      class="w-64 absolute sm:relative  shadow md:h-full flex-col justify-between hidden sm:flex"
    >
      <div class="">
        <div class="px-2 py-3">
          <div v-for="(side, index) in sidebarBuying" :key="index">
            <div
              class=" bg-white flex items-center  mt-2 cursor-pointer  p-2 rounded"
              :class="
                side.name === currentName ? 'border border-custom-blue6' : ''
              "
            >
              <p class="bg-custom-blue6 rounded-full px-2  h-6 text-white z``">
                {{ index + 1 }}
              </p>
              <p
                @click="currentName = side.name"
                class="text-sm pl-2 text-custom-blue6"
              >
                {{ side.name }}
              </p>
            </div>
            <template v-if="side.name === currentName">
              <div
                class="pl-10 space-y-2 py-2"
                v-for="(child, index) in side.child"
                :key="index"
              >
                <router-link :to="child.link">
                  <p
                    class="text-white px-1 py-1.5"
                    :class="
                      child.link.includes(currentRouteName)
                        ? 'bg-custom-blue6'
                        : 'text-custom-blue6'
                    "
                  >
                    {{ child.name }}
                  </p>
                </router-link>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-64 z-40 absolute bg-custom-bg1 shadow md:h-full flex-col justify-between sm:hidden transition duration-150 ease-in-out"
      id="mobile-nav"
    >
      <div
        id="openSideBar"
        class="h-10 w-10 bg-gray-800 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer"
        @click="sidebarHandler(true)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-adjustments"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#FFFFFF"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" />
          <circle cx="6" cy="10" r="2" />
          <line x1="6" y1="4" x2="6" y2="8" />
          <line x1="6" y1="12" x2="6" y2="20" />
          <circle cx="12" cy="16" r="2" />
          <line x1="12" y1="4" x2="12" y2="14" />
          <line x1="12" y1="18" x2="12" y2="20" />
          <circle cx="18" cy="7" r="2" />
          <line x1="18" y1="4" x2="18" y2="5" />
          <line x1="18" y1="9" x2="18" y2="20" />
        </svg>
      </div>
      <div
        id="closeSideBar"
        class="hidden h-10 w-10 bg-gray-800 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer text-white"
        @click="sidebarHandler(false)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-x"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" />
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </div>
      <div class="px-8">
        <div v-for="(side, index) in sidebarBuying" :key="index">
          <div
            class=" bg-white flex items-center  mt-2 cursor-pointer  p-2 rounded"
            :class="
              side.name === currentName ? 'border border-custom-blue6' : ''
            "
          >
            <p class="bg-custom-blue6 rounded-full px-2  h-6 text-white z``">
              {{ index + 1 }}
            </p>
            <p
              @click="currentName = side.name"
              class="text-sm pl-2 text-custom-blue6"
            >
              {{ side.name }}
            </p>
          </div>
          <template v-if="side.name === currentName">
            <div
              class="pl-10 space-y-2 py-2"
              v-for="(child, index) in side.child"
              :key="index"
            >
              <router-link :to="child.link">
                <p
                  class="text-white px-1 py-1.5"
                  :class="
                    child.link.includes(currentRouteName)
                      ? 'bg-custom-blue6'
                      : 'text-custom-blue6'
                  "
                >
                  {{ child.name }}
                </p>
              </router-link>
            </div>
          </template>
        </div>
      </div>
    </div>
    <!-- Sidebar ends -->
    <!-- Remove class [ h-64 ] when adding a card block -->
    <!-- <div class="container mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6">
      Remove class [ border-dashed border-2 border-gray-300 ] to remove dotted border
      <div class="w-full h-full rounded border-dashed border-2 border-gray-300">
        Place your content here
      </div>
    </div> -->
  </div>
</template>

<script>
export default {
  name: "LightWithIconsAtBottom",

  data() {
    return {
      moved: true,
      currentName: "",
      sidebarBuying: [
        {
          name: "HOW THE MEMBERSHIP WORKS",
          child: [
            {
              name: "FAQ'S for Buyers",
              link: "/buying/faq",
            },
            {
              name: "Resort Overview",
              link: "/",
            },
            {
              name: "Vacation Point Calculator",
              link: "/buying/calculator",
            },
            {
              name: "Renting DVC Points",
              link: "/buying/rentingDVC",
            },
          ],
        },
        {
          name: "ANALYTICAL DATA",
          child: [
            {
              name: "DEED EXPIRATION",
              link: "/buying/deed-expiration",
            },
            {
              name: "ANNUAL DUES",
              link: "/buying/annual-dues",
            },
            {
              name: "DISNEY RETAIL PRICES",
              link: "/buying/retail-prices",
            },
            {
              name: "RECENT SALES",
              link: "/buying/recent-sales",
            },
            {
              name: "COMPARE PRICE",
              link: "/buying/compare-price",
            },
          ],
        },
        {
          name: "ABOUT THE SALES PROCESS",
          child: [
            {
              name: "HOW THE BUYING PROCESS WORKS",
              link: "/buying/buying-process-works",
            },
            {
              name: "FINANCING",
              link: "/buying/finance",
            },
            {
              name: "PRODUCT UNDERSTANDING CHECKLIST",
              link: "/buying/product-checklist",
            },
          ],
        },
        {
          name: "WHY USE DVC SALES",
          child: [
            {
              name: "WE HAVE HELP THOUSANDS OF FAMILIES",
              link: "/buying/help-famlies",
            },
            {
              name: "ABOUT US",
              link: "/buying/about-us",
            },
            {
              name: "TESTIMONIALS",
              link: "/buying/testimonials",
            },
            {
              name: "CREATE A SPECIAL LIST",
              link: "/buying/create-list",
            },
          ],
        },
      ],
    };
  },
  methods: {
    sidebarHandler() {
      var sideBar = document.getElementById("mobile-nav");
      sideBar.style.transform = "translateX(-260px)";
      if (this.$data.moved) {
        sideBar.style.transform = "translateX(0px)";
        this.$data.moved = false;
      } else {
        sideBar.style.transform = "translateX(-260px)";
        this.$data.moved = true;
      }
    },
  },
};
</script>
