<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5">
        <div class="mx-4">
          <div class="py-5 w-full">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide>
                <div class="overflow-hidden relative w-full pb-[40%]">
                  <img
                    src="../../assets/grand-floridian/grand-floridian.jpg"
                    class="w-full h-full object-cover absolute"
                  />
                </div>
              </slide>
              <slide>
                <div class="overflow-hidden relative w-full pb-[40%]">
                  <img
                    src="../../assets/grand-floridian/Grand-Floridian-27.jpg"
                    class="w-full h-full object-cover absolute"
                  />
                </div>
              </slide>
              <slide>
                <div class="overflow-hidden relative w-full pb-[40%]">
                  <img
                    src="../../assets/grand-floridian/Grand-Floridian-Pool_2.jpg"
                    class="w-full h-full object-cover absolute"
                  />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Grand Floridian
              </h2>
            </div>
            <div class="px-5 mt-2 h-96 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                With luxurious accommodations, five-star dining, and plenty of
                amenities, the Villas at Disney’s Grand Floridian Resort and Spa
                are the perfect way to enjoy a family vacation fit for royalty.
                Styled with old-world charm and antique finishes, the Grand
                Floridian reminds guests of the days when the Victorian
                well-to-do flocked to Florida's sunny beaches to escape chilly
                winters up north. Everything about your stay is a pleasurable
                experience. Enjoy the sounds of a pianist or jazz band upon
                entering the main lobby, take a ride on the antique glass
                elevator, or shop 'til you drop at designer clothing and
                accessories stores. A white-sand beach and marina provide the
                perfect place to view nightly fireworks or the Electrical Water
                Pageant.
              </p>
            </div>

            <div class="mt-7">
              <h2
                class="text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline"
              >
                What makes Disney's Grand floridian Resort great!
              </h2>
              <div
                class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
              >
                <template v-for="(i, index) in discriptions">
                  <div
                    class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                    :key="index"
                  >
                    <div>
                      <img :src="images_b[index]" class="h-32 w-full" />
                    </div>

                    <div class="p-4 text-custom-blue4 font-medium h-full">
                      <h2 class="py-2 text-xl underline uppercase">
                        {{ names[index] }}
                      </h2>
                      {{ i }}
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      discriptions: [
        "Located on the shores of the Seven Seas Lagoon, choose your adventure to get to Magic Kingdom, whether you walk, take a short monorail ride, or board a ferry boat",
        'the essence of classic Victorian styling is in every detail thorughout the resort. Step back in time to the "golden age of travel" and create new memories together. ',
        "Relax with a massage or facial, sunbathe at two pools, and shop at a variety of designer stores. ",
      ],
      active: false,
      names: ["Walk, boat, or ride to Magic Kingdom", '"Grand" accommodations', "Pamper yourself"],
      images_b: [
        require("../../assets/animal-kingdom/b1.png"),
        require("../../assets/animal-kingdom/b4.png"),
        require("../../assets/animal-kingdom/b5.png"),
      ],
    };
  },
};
</script>
