<template>
  <div>
    <div class="mt-10 flex justify-between items-start px-4">
      <ul class="bg-custom-light0 mt-20 w-72 ">
        <li
          class="py-2 px-4 border border-custom-blue4 "
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
        <li
          class="py-2 px-4 border border-custom-blue4 "
          @click="changeView($event, 'Floor Plans')"
          :class="[
            { 'bg-custom-blue4 text-white': activePage == 'Floor Plans' },
          ]"
        >
          <a>
            Floor Plans
          </a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage == tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[50%] rounded">
                  <img :src="img" class="w-full h-full  absolute" />
                </div>
              </slide>
            </carousel>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ tab.description }}
            </span>
            <span class="text-custom-blue2 font-semibold text-2xl block mt-5">
              Amenities</span
            >
            <div class="ml-20 mt-5">
              <div
                class="mt-2 text-left flex justify-around list-disc text-custom-blue4"
              >
                <ul class="list-disc flex flex-wrap">
                  <li
                    v-for="(amenitie, index) in tab.amenities"
                    :key="index"
                    class="w-1/3 px-4"
                  >
                    {{ amenitie }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </template>
        <div v-if="activePage === 'Floor Plans'" class="w-full">
          <div class="text-center w-full">
            <h1 class="text-3xl font-semibold text-custom-blue4">
              Floor Plans
            </h1>
          </div>
          <div>
            <carousel
              :perPage="1"
              @page-change="(val) => navigation(val)"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>'
            >
              <slide v-for="(img, index) in floors.imgs" :key="index">
                <div class="overflow-hidden relative pb-[50%] rounded">
                  <img :src="img" class="w-full h-full  absolute" />
                </div>
              </slide>
            </carousel>
          </div>
          <div>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ floors.description[activeFloor].name }}
            </span>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ floors.description[activeFloor].size }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Deluxe Studio - Standard View",
      activeFloor: 0,
      floors: {
        name: "Floor Plans",
        imgs: [
          require("../../assets/grand-floridian/floor/1.png"),
          require("../../assets/grand-floridian/floor/2.png"),
          require("../../assets/grand-floridian/floor/3.png"),
          require("../../assets/grand-floridian/floor/4.png"),
        ],
        description: [
          {
            name: "Grand Floridian Floor plan One Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Grand Floridian Floor plan Studio Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Grand Floridian Floor plan Studio Kadani Village",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Grand Floridian Floor plan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Animal Kingdom Floorplan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Animal Kingdom Floorplan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Animal Kingdom Floorplan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
        ],
      },
      tabs: [
        {
          name: "Deluxe Studio - Standard View",
          imgs: [
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (3).jpg"),
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (4).jpg"),
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (5).jpg"),
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (1).jpg"),
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (2).jpg"),
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (6).jpg"),
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (7).jpg"),
          ],
          description:
            "Sleeps up to 5 Adults Sleeps up to 5 Adults Kitchenette With Small Refrigerator Spacious accommodations include a kitchenette with small fridge and microwave, and porch or balcony",
          amenities: [
            "Microwave",
            "Plush Bath Robes",
            "Hair Dryer",
            "Free WiFi Service",
            "Soaker Tub",
            "Mirror TVs in all Bathrooms",
            "Kitchenette",
            "Blu-Ray Player",
            "Telephone with voicemail",
            "Coffee Maker",
            "Iron and ironing board",
            "In-room safe",
          ],
        },
        {
          name: "Deluxe Studio - Lake View",
          imgs: [
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (1).jpg"),
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (2).jpg"),
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (3).jpg"),
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (4).jpg"),
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (5).jpg"),
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (6).jpg"),
            require("../../assets/grand-floridian/GrandFloridianDeluxeStudio (7).jpg"),
          ],
          description:
            "Sleeps up to 5 Adults Sleeps up to 5 Adults Kitchenette With Small Refrigerator Spacious accommodations include a kitchenette with small fridge and microwave, and porch or balcony",
          amenities: [
            "Microwave",
            "Plush Bath Robes ",
            "Hair Dryer",
            "Internet - Free WiFi Service",
            "Soaker Tub",
            "Mirror TVs in all Bathrooms",
            "Kitchenette",
            "Blu-Ray Player",
            "Telephone with voicemail",
            "Coffee Maker",
            "Iron and ironing board",
            "In-room safe",
          ],
        },
        {
          name: "1 Bedroom Villa - Standard View",
          imgs: [
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (1).jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (2).jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (3).jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (4).jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (5).jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (6).jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (7).jpg"),
          ],
          description:
            "1 king-size bed, 1 queen-size sleeper sofa, 1 single pull-down bed (29 x 67) Sleeps Up to 5",
          amenities: [
            "Fully equipped kitchen",
            "Dishwasher",
            "Dishes, glasses and utensils",
            "Pots and pans",
            "Refrigerator",
            "Stove and oven",
            "Toaster",
            "Washer and dryer",
            "Walk-in shower",
            "Private porch or balcony",
            "Microwave",
            "Blu-ray™ player",
            "Mirror TV in each bathroom",
            "Wireless Internet access",
            "Iron and ironing board",
            "Hair dryer",
            "In-room safe",
            "Voicemail",
            "Portable crib",
            "Bathrobes",
            "Coffee maker",
            "Flat screen television",
            "Alarm clock",
          ],
        },
        {
          name: "1 Bedroom Villa - Lake View",
          imgs: [
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake1.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake2.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake3.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake4.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake5.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake6.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake7.jpg"),
          ],
          description:
            "1 king-size bed, 2 queen-size beds, 1 queen-size sleeper sofa, 1 single pull-down bed (29 x 67) Sleeps Up to 9",
          amenities: [
            "Fully equipped kitchen",
            "Dishwasher",
            "Dishes, glasses and utensils",
            "Pots and pans",
            "Refrigerator",
            "Stove and oven",
            "Toaster",
            "Washer and dryer",
            "Walk-in shower",
            "Private porch or balcony",
            "Microwave",
            "Blu-ray™ player",
            "Mirror TV in each bathroom",
            "Wireless Internet access",
            "Iron and ironing board",
            "Hair dryer",
            "In-room safe",
            "Voicemail",
            "Portable crib",
            "Bathrobes",
            "Coffee maker",
            "Flat screen television",
            "Alarm clock",
          ],
        },
        {
          name: "2 Bedroom Villa - Standard View",
          imgs: [
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (3).jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (1).jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (5).jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (2).jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (4).jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (6).jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaStandard (7).jpg"),
          ],
          description:
            "1 king-size bed, 2 queen-size beds, 1 queen-size sleeper sofa, 1 single pull-down bed (29x67) Sleeps Up to 9",
          amenities: [
            "Fully equipped kitchen",
            "Dishwasher",
            "Dishes, glasses and utensils",
            "Pots and pans",
            "Refrigerator",
            "Stove and oven",
            "Toaster",
            "Washer and dryer",
            "Walk-in shower",
            "Private porch or balcony",
            "Microwave",
            "Blu-ray™ player",
            "Mirror TV in each bathroom",
            "Wireless Internet access",
            "Iron and ironing board",
            "Hair dryer",
            "In-room safe",
            "Voicemail",
            "Portable crib",
            "Bathrobes",
            "Coffee maker",
            "Flat screen television",
            "Alarm clock",
          ],
        },
        {
          name: "2 Bedroom Villa - Lake View",
          imgs: [
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake1.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake2.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake4.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake5.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake6.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake7.jpg"),
            require("../../assets/grand-floridian/GrandFloridianBedroomVillaLake3.jpg"),
          ],
          description:
            "1 king-size bed, 2 queen-size beds, 1 queen-size sleeper sofa, 1 single pull-down bed (29x67)Sleeps Up to 9",
          amenities: [
            "Fully equipped kitchen",
            "Dishwasher",
            "Dishes, glasses and utensils",
            "Pots and pans",
            "Refrigerator",
            "Stove and oven",
            "Toaster",
            "Washer and dryer",
            "Walk-in shower",
            "Private porch or balcony",
            "Microwave",
            "Blu-ray™ player",
            "Mirror TV in each bathroom",
            "Wireless Internet access",
            "Iron and ironing board",
            "Hair dryer",
            "In-room safe",
            "Voicemail",
            "Portable crib",
            "Bathrobes",
            "Coffee maker",
            "Flat screen television",
            "Alarm clock",
          ],
        },
        {
          name: "3 Bedroom Grand Villa - Lake View",
          imgs: [
            require("../../assets/grand-floridian/villas-grand-floridian-gallery01.jpg"),
            require("../../assets/grand-floridian/villas-grand-floridian-gallery02.jpg"),
            require("../../assets/grand-floridian/villas-grand-floridian-gallery03.jpg"),
            require("../../assets/grand-floridian/villas-grand-floridian-gallery05.jpg"),
            require("../../assets/grand-floridian/villas-grand-floridian-gallery06a.jpg"),
          ],
          description:
            "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          amenities: [
            "Fully equipped kitchen",
            "Dishwasher",
            "Dishes, glasses and utensils",
            "Pots and pan",
            "Refrigerator",
            "Stove and oven",
            "Toaster",
            "High chair",
            "Hair Dryer",
            "Laundry room with washer and dryer",
            "bathrooms – 1 with whirlpool tub and shower,1 with shower only, and 2 with combination tub/shower",
            "Media room with home theater system including flat panel TV and Blu-ray™ player",
            "Dining room with dining table and chairs",
            "Private porch or balcony",
            "Mirror TVs in all Bathrooms",
            "Wireless Internet access",
            "Iron and ironing board",
            "Coffee Maker",
            "In-room safe",
            "Voicemail",
            "Portable crib",
            "Bathrobes",
            "Coffee maker",
            "Flat screen television in living room and each bedroom, with Blu-ray™ player in living room",
            "Alarm clock",
          ],
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
