<template>
  <div>
    <div class="mt-10 flex justify-between items-start">
      <ul class="bg-custom-light0 w-max mt-20">
        <li
          class="py-2 px-4 border border-custom-blue4 whitespace-nowrap"
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage === tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[40%] rounded">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div
              class="text-lg w-10/12 text-custom-blue4 mt-5 text-left mx-auto"
            >
              {{ tab.description }}
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Flying Fish Café:",
      tabs: [
        {
          name: "Flying Fish Café:",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream1.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream2.jpg"),
          ],
          description:
            "Sizzling steaks and fresh seafood take center stage at this Signature Dining location. Festive decor like parachuting fish and roller coaster tracks create a high-energy atmosphere. ",
        },
        {
          name: "Big River Grille & Brewing Works:",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream1.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream2.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream3.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream4.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream5.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream6.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream7.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream8.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream9.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-beachesCream10.jpg"),
          ],
          description:
            "A microbrewery with a family-friendly vibe serves up award-winning brews and a full food menu that offers unique interpretations of classic American pub fare",
        },
        {
          name: "ESPN Club",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-BeachClubMarketplace1.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-BeachClubMarketplace2.jpg"),
          ],
          description:
            "This is the place to be for the sports lovers in your family. Dine on American pub classics while enjoying sporting events from around the world. Don't leave without taking a look at their branded merchandise. ",
        },
        {
          name: "Martha's Vineyard",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-Martha'sVineyard1.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-Martha'sVineyard2.jpg"),
          ],
          description:
            "Canoodle over a Cape Cod or any signature cocktail from the full bar menu at this mellow New England beach house-inspired lounge. Imported wines and draft beers, including Sam Adams Seasonal, enhance the mood. Appetizers are also available.",
        },
        {
          name: "BoardWalk Bakery: ",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-DisneyResortsPrivateDining.webp"),
          ],
          description:
            "A cozy stop along the boardwalk, munch on fresh baked goods, salads, sandwiches, and soups while strolling along. Enjoy a selection of hot and cold beverages to please your palate. ",
        },
        {
          name: "Trattoria Al Forno: ",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-DisneyResortsPrivateDining.webp"),
          ],
          description:
            "Take in this casual Italian eatery that serves both breakfast and dinner. For breakfast, sample dishes like poached eggs with fennel sausage, creamy polenta and toasted focaccia, and buttermilk pancakes. Reserve a spot for the Bon Voyage adventure breakfast and dine with royal couples from Tangled and The Little Mermaid. At dinner, enjoy classic Italian dishes like lasagna al-forno and chicken parmigiana. Pair your meal with an extensive array of authentic Italian wines. ",
        },
        {
          name: "Pizza Window: ",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse1.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse2.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse3.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse4.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse5.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse6.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse7.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-YachtsmanSteakhouse8.jpg"),
          ],
          description:
            "A walk-up pizza stand modeled after the many pizza slice shops that dot the Atlantic City boardwalk. Order a slice of cheese, pepperoni, or the Boardwalk Signature Pizza or entire pie to feed the family. Quench your thirst with sangria, draft beer, and soft drinks.  ",
        },
        {
          name: "AbracadaBar: ",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-AleCompass.jpg"),
          ],
          description:
            "Experience a lounge with mystery and intrigue with magical cocktails at this sophisticated bar and lounge, with an intriguing backstory as a watering hole for famous magicians. ",
        },
        {
          name: "Boardwalk Ice Cream:",
          imgs: [
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-AleCompassRestaurant1.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-AleCompassRestaurant2.jpg"),
            require("../../assets/beach-club-villas/beach-club-villas-resort-restorant-AleCompassRestaurant3.jpg"),
          ],
          description:
            "A traditional ice cream parlor, a sundae here is the perfect way to end a trip down the boardwalk. Taste delectable treats like the Shore-Side Sundae made with SNICKERS® and a brownie a la mode. ",
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
