<template>
	<div class="flex items-center justify-center mt-5">
		<img :src="require('../../assets/boardwalk-villas/map.jpg')" />
	</div>
</template>

<script>
	export default {
		data() {
			return {};
		},
	};
</script>