<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in images" :key="index">
                <div class="overflow-hidden relative w-full pb-[40%]">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Disney's BoardWalk Villas
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                Go back to the ragtime era when you stay at the BoardWalk
                Villas—Disney’s Atlantic City-inspired resort. Just a stone’s
                throw from Epcot and Disney’s Hollywood Studios, the carnival
                atmosphere of the Coney Island-style boardwalk will transport
                you to a time and place worlds away. Enjoy the elegance and
                charm of the early 1900s while still being conveniently located
                to a full-entertainment district just outside your room,
                including restaurants, shops, and recreational venues, plus all
                the amenities of the nearby Yacht and Beach Clubs.
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline"
              >
               What makes Disney's Boardwalk Villas great!
              </h2>
              <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      active: false,
      discriptions: [
        "You'll get to the magic faster as Epcot is only a short walk away, and a ferry provides scenic rides to Disney's Hollywood Studios. ",
        "Inspired by Atlantic City and Coney Island as they were in the early 1900s, you'll be transported back in time with Victorian decor, a Coney Island-themed pool area, and much more. ",
        "An authentic wooden boardwalk outside the resort provides plenty of shopping, dining, and entertainment opportunities. ",
      ],
      names: [
        "Quick access to theme parks",
        "Turn of the century charm",
        "Entertainment at your fingertips",
      ],
      images_b: [
        require("../../assets/boardwalk-villas/4.png"),
        require("../../assets/boardwalk-villas/5.png"),
        require("../../assets/boardwalk-villas/6.png"),
      ],
      images: [
        require("../../assets/boardwalk-villas/1.png"),
        require("../../assets/boardwalk-villas/2.png"),
        // require("../../assets/boardwalk-villas/3.png"),
        require("../../assets/boardwalk-villas/4.png"),
        require("../../assets/boardwalk-villas/5.png"),
        require("../../assets/boardwalk-villas/6.png"),
        require("../../assets/boardwalk-villas/7.png"),
        // require("../../assets/boardwalk-villas/8.png"),
        require("../../assets/boardwalk-villas/9.png"),
      ],
    };
  },
};
</script>
