<template>
  <div>
    <div class="mt-10 flex justify-between items-start px-4">
      <ul class="bg-custom-light0 mt-20 w-72 ">
        <li
          class="py-2 px-4 border border-custom-blue4 "
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
        <li
          class="py-2 px-4 border border-custom-blue4 "
          @click="changeView($event, 'Floor Plans')"
          :class="[
            { 'bg-custom-blue4 text-white': activePage == 'Floor Plans' },
          ]"
        >
          <a>
            Floor Plans
          </a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage == tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[50%] rounded">
                  <img :src="img" class="w-full h-full  absolute" />
                </div>
              </slide>
            </carousel>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ tab.description }}
            </span>
            <span class="text-custom-blue2 font-semibold text-2xl block mt-5">
              Amenities</span
            >
            <div class="ml-20 mt-5">
              <div
                class="mt-2 text-left flex justify-around list-disc text-custom-blue4"
              >
                <ul class="list-disc flex flex-wrap">
                  <li
                    v-for="(amenitie, index) in tab.amenities"
                    :key="index"
                    class="w-1/3 px-4"
                  >
                    {{ amenitie }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </template>
        <div v-if="activePage === 'Floor Plans'" class="w-full">
          <div class="text-center w-full">
            <h1 class="text-3xl font-semibold text-custom-blue4">
              Floor Plans
            </h1>
          </div>
          <div>
            <carousel
              :perPage="1"
              @page-change="(val) => navigation(val)"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>'
            >
              <slide v-for="(img, index) in floors.imgs" :key="index">
                <div class="overflow-hidden relative pb-[50%] rounded">
                  <img :src="img" class="w-full h-full  absolute" />
                </div>
              </slide>
            </carousel>
          </div>
          <div>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ floors.description[activeFloor].name }}
            </span>
            <span class="inline-block w-8/12 text-lg text-custom-blue4 mt-5">
              {{ floors.description[activeFloor].size }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Deluxe Studio",
      activeFloor: 0,
      floors: {
        name: "Floor Plans",
        imgs: [
          require("../../assets/boardwalk-villas/floor/1.png"),
          require("../../assets/boardwalk-villas/floor/2.png"),
          require("../../assets/boardwalk-villas/floor/3.png"),
          require("../../assets/boardwalk-villas/floor/4.png"),
        ],
        description: [
          {
            name: "Boardwalk Villas Floor plan One Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Boardwalk Villas Floor plan Studio Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Boardwalk Villas Floor plan Studio Kadani Village",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Boardwalk Villas Floor plan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Boardwalk Villas Floor plan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Animal Kingdom Floorplan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
          {
            name: "Animal Kingdom Floorplan Three Bedroom Jambo House",
            size:
              "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          },
        ],
      },
      tabs: [
        {
          name: "Deluxe Studio",
          imgs: [
            require("../../assets/boardwalk-villas/rooms/studio/BoardWalk Rooms Studio 5.png"),
            require("../../assets/boardwalk-villas/rooms/studio/BoardWalk Rooms Studio 6.png"),
            require("../../assets/boardwalk-villas/rooms/studio/BoardWalk Rooms Studio 7.jpg"),
            require("../../assets/boardwalk-villas/rooms/studio/BoardWalk Rooms Studio 8.jpg"),
            require("../../assets/boardwalk-villas/rooms/studio/BoardWalk Rooms Studio 9.jpg"),
          ],
          description:
            "1 queen-size bed, 1 full-size sleeper sofa, 1 single pull-down bed (29' x 67')",
          amenities: [
            "Kitchenette",
            "Paper plates and bowls, & plastic utensils",
            "Small refrigerator",
            "Full bathroom",
            "Hair dryer",
            "Portable crib",
            "Coffee maker",
            "Kitchenette",
            "Toaster",
            "Internet - Free WiFi Service",
            "Microwave",
            "Voicemail",
            "Iron & Ironing Board",
            "Hair Dryer",
            "Mini-refrigerator",
            "Flat screen television",
            "Coffee Maker",
            "In-Room Safe",
          ],
        },

        {
          name: "1 Bedroom Villa",
          imgs: [
            require("../../assets/boardwalk-villas/rooms/1bed/BoardWalk Rooms 1 Bedroom 3.png"),
            require("../../assets/boardwalk-villas/rooms/1bed/BoardWalk Rooms 1 Bedroom 4.png"),
            require("../../assets/boardwalk-villas/rooms/1bed/BoardWalk Rooms 1 Bedroom 5.png"),
            require("../../assets/boardwalk-villas/rooms/1bed/BoardWalk Rooms 1 Bedroom 6.png"),
            require("../../assets/boardwalk-villas/rooms/1bed/BoardWalk Rooms 1 Bedroom 7.png"),
            require("../../assets/boardwalk-villas/rooms/1bed/BoardWalk Rooms 1 Bedroom 8.png"),
            require("../../assets/boardwalk-villas/rooms/1bed/BoardWalk Rooms 1 Bedroom 9.png"),
            require("../../assets/boardwalk-villas/rooms/1bed/BoardWalk Rooms 1 Bedroom 10.png"),
          ],
          description:
            "5th Guest can be accommodated, but no additional bedding, linens or towels will be provided Sleeps Up to 4",
          amenities: [
            "Fully equipped kitchen",
            "Dishwasher",
            "Dishes, glasses and utensils",
            "Pots and pans",
            "Refrigerator",
            "Stove and oven",
            "Whirlpool tub",
            "Toaster",
            "Wireless Internet access",
            "Fully Equipped Kitchen with Refrigerator",
            "Microwave",
            "Voicemail",
            "High Chair",
            "Iron & Ironing Board",
            "Washer & Dryer",
            "Hair Dryer",
            "Flat screen television",
            "DVD Player",
            "Coffee Maker",
            "In-Room Safe",
          ],
        },
        {
          name: "2-Bedroom",
          imgs: [
            require("../../assets/boardwalk-villas/rooms/2bed/BoardWalk Rooms 2 Bedroom 5.jpg"),
            require("../../assets/boardwalk-villas/rooms/2bed/BoardWalk Rooms 2 Bedroom Master 4.jpg"),
            require("../../assets/boardwalk-villas/rooms/2bed/BoardWalk Rooms 2 Bedroom Master 5.jpg"),
            // require("../../assets/boardwalk-villas/rooms/2bed/BoardWalk Rooms 2 Bedroom Master Second Bedroom 3.jpg"),
          ],
          description:
            "1 king-size bed, 1 queen-size bed, 1 full-size sleeper sofa, 1 queen-size sleeper sofa, 1 single pull-down bed (29' x 67')",
          amenities: [
            "Fully equipped kitchen",
            "Dishwasher",
            "Dishes, glasses and utensils",
            "Pots and pans",
            "Refrigerator",
            "Stove and oven",
            "Whirlpool tub",
            "Toaster",
            "Wireless Internet access",
            "Microwave",
            "Voicemail",
            "Iron & Ironing Board",
            "Washer & Dryer",
            "Hair Dryer",
            "Flat screen television",
            "DVD Player",
            "Coffee Maker",
            "In-Room Safe",
          ],
        },
        {
          name: "3-Bedroom Grand Villa",
          imgs: [
            require("../../assets/boardwalk-villas/rooms/2bed/BoardWalk Rooms 2 Bedroom 5.jpg"),
            require("../../assets/boardwalk-villas/rooms/2bed/BoardWalk Rooms 2 Bedroom Master 4.jpg"),
            require("../../assets/boardwalk-villas/rooms/2bed/BoardWalk Rooms 2 Bedroom Master 5.jpg"),
            // require("../../assets/boardwalk-villas/rooms/2bed/BoardWalk Rooms 2 Bedroom Master Second Bedroom 3.jpg"),
          ],
          description:
            "1 king-size bed, 4 queen-size beds, 1 queen-size sleeper sofa Sleeps Up to 12",
          amenities: [
            "Fully equipped kitchen",
            "Dishwasher",
            "Dishes, glasses and utensils",
            "Pots and pans",
            "Refrigerator",
            "Stove and oven",
            "Whirlpool tub",
            "Toaster",
            "Wireless Internet access",
            "Microwave",
            "Voicemail",
            "Iron & Ironing Board",
            "Washer & Dryer",
            "Hair Dryer",
            "Flat screen television",
            "DVD Player",
            "Coffee Maker",
            "In-Room Safe",
            "Portable crib",
          ],
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
