<template>
  <div>
    <p class="text-center text-3xl text-custom-blue6   font-medium">
      MY SPECIAL REQUEST
    </p>
    <p class="text-center text-xl text-custom-blue6">
      Complete the form below and we will send you an email when we have a
      match. No other emails will be sent.
    </p>
    <div class="flex px-2 items-stretch space-x-2 pt-12">
      <div class=" flex flex-col items-center w-full">
        <div class="flex items-center space-x-3 ">
          <h1
            class="rounded-full bg-custom-orange5 text-white px-5 py-2 text-3xl"
          >
            1
          </h1>
          <img
            class="w-8 h-8"
            src="https://dvcsales.com/wp-content/themes/dvcsales/images/correctimg.png"
          />
        </div>
        <div class="bg-white shadow-md rounded p-4 w-full mt-4">
          <h1 class="text-custom-orange5 text-xl font-medium text-center">
            SELECT RESORT
          </h1>
          <div
            class="flex items-center text-custom-blue6 justify-between text-center "
          >
            <p class=" w-full cursor-pointer">
              Select Alls
            </p>
            <p class=" w-full cursor-pointer">
              Clear
            </p>
          </div>
          <div
            class=" grid grid-cols-2 gap-2 bg-white text-sm text-center w-full pt-2"
          >
            <template v-for="(opt, index) in resorts">
              <p
                class="border border-custom-blue6  font-medium py-2 rounded cursor-pointer"
                :class="
                  selected === opt
                    ? 'bg-custom-blue6 text-white '
                    : 'text-custom-blue6'
                "
                @click="(selected = opt), (toggle = !toggle)"
                :key="index"
              >
                {{ opt }}
              </p>
            </template>
          </div>
        </div>
      </div>
      <div class=" flex flex-col items-center w-full">
        <div class="flex items-center space-x-3 ">
          <h1
            class="rounded-full bg-custom-orange5 text-white px-5 py-2 text-3xl"
          >
            2
          </h1>
          <img
            class="w-8 h-8"
            src="https://dvcsales.com/wp-content/themes/dvcsales/images/correctimg.png"
          />
        </div>
        <div class="bg-white shadow-md rounded p-4 w-full mt-4 height">
          <h1 class="text-custom-orange5 text-xl font-medium text-center">
            POINT RANGE
          </h1>
          <div
            class="flex items-center text-custom-blue6 justify-between text-center space-x-3 pt-6"
          >
            <input class="border-2 border-custom-blue6 bg-white h-8 w-full rounded  px-3"/>
            <p>to</p>
            <input class="border-2 border-custom-blue6 bg-white h-8 w-full rounded px-3"/>
          </div>
        </div>
      </div>
      <div class=" flex flex-col items-center w-full">
        <div class="flex items-center space-x-3 ">
          <h1
            class="rounded-full bg-custom-orange5 text-white px-5 py-2 text-3xl"
          >
            3
          </h1>
          <img
            class="w-8 h-8"
            src="https://dvcsales.com/wp-content/themes/dvcsales/images/correctimg.png"
          />
        </div>
        <div class="bg-white shadow-md rounded p-4 w-full height mt-4">
          <h1 class="text-custom-orange5 text-xl font-medium text-center">
            USE YEAR
          </h1>
          <div
            class="flex items-center text-custom-blue6 justify-between text-center"
          >
            <p>
              Select Alls
            </p>
            <p>
              Clear
            </p>
          </div>
           <div
            class=" grid grid-cols-1 gap-2 bg-white text-sm text-center w-full px-10  pt-2"
          >
            <template v-for="(opt, index) in years">
              <p
                class="border border-custom-blue6 text-sm font-medium py-1 rounded cursor-pointer"
                :class="
                  selected_y === opt
                    ? 'bg-custom-blue6 text-white '
                    : 'text-custom-blue6'
                "
                @click="(selected_y = opt)"
                :key="index"
              >
                {{ opt }}
              </p>
            </template>
          </div>
        </div>
      </div>
      <div class=" flex flex-col items-center w-full">
        <div class="flex items-center space-x-3 ">
          <h1
            class="rounded-full bg-custom-orange5 text-white px-5 py-2 text-3xl"
          >
            4
          </h1>
          <img
            class="w-8 h-8"
            src="https://dvcsales.com/wp-content/themes/dvcsales/images/correctimg.png"
          />
        </div>
        <div class="bg-white shadow-md rounded p-4 w-full mt-4 height">
          <h1 class="text-custom-orange5 text-xl font-medium text-center">
           PRICE RANG
          </h1>
          <div
            class="flex items-center text-custom-blue6 justify-between text-center space-x-3 pt-6"
          >
            <input class="border-2 border-custom-blue6 bg-white h-8 w-full rounded  px-3"/>
            <p>to</p>
            <input class="border-2 border-custom-blue6 bg-white h-8 w-full rounded px-3"/>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center py-6">
        <div class="flex flex-col w-3/12 space-y-3">
             <div class="flex flex-col text-custom-blue6">
                 <label class="text-xl">
                     Full Name:
                 </label>
                 <input class="border-2 border-custom-blue6 h-10 rounded"/>
             </div>
             <div class="flex flex-col text-custom-blue6">
                 <label class="text-xl">
                    Email Address:
                 </label>
                 <input class="border-2 border-custom-blue6 h-10 rounded"/>
             </div>
             <div class="flex flex-col text-custom-blue6">
                 <label class="text-xl">
                    Phone Number(optional)
                 </label>
                 <input class="border-2 border-custom-blue6 h-10 rounded"/>
             </div>
             <div class="flex flex-col text-custom-blue6">
                 <label class="text-xl">
                    What does 10 - 1 =
                 </label>
                 <input class="border-2 border-custom-blue6 h-10 rounded"/>
             </div>
             <button class="w-full bg-custom-blue6 text-xl text-white py-2">
                 Submit Form
             </button>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selected: "",
      selected_y: "",
      years:[
       "February",
       "March",
       "April",
       "June",
       "July",
       "August",
       "September",
       "October",
       "December"
      ],
      resorts: [
        "Aulani",
        "Animal King",
        "Bay Lake Tower",
        "Beach Club",
        "Board Walk",
        "Boulder Ridge",
        "Copper Creek",
        "Grand CA",
        "Grand Flordian",
        "Hilton Road",
        "Old Key West",
        "Polynesian",
        "Riviera",
        "Saratoga Springs",
        "Vero Beach",
      ],
    };
  },
};
</script>

<style>
.height{
    height: 453px;
}
</style>
