<template>
  <div>
    <div class="mt-10 flex justify-between items-start">
      <ul class="bg-custom-light0 w-72 mt-20">
        <li
          class="py-2 px-4 border border-custom-blue4 "
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage === tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[40%] rounded">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div
              class="text-lg w-10/12 text-custom-blue4 mt-5 text-left mx-auto"
            >
              {{ tab.description }}
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Olivia's Cafe",
      tabs: [
        {
          name: "Olivia's Cafe",
          imgs: [
            require("../../assets/old-key-west/dining/olivia/1.png"),
            require("../../assets/old-key-west/dining/olivia/2.png"),
            require("../../assets/old-key-west/dining/olivia/3.png"),
            require("../../assets/old-key-west/dining/olivia/4.png"),
          ],
          description:
            "Caribbean flavors meet American favorites at this casual restaurant. It's truly a hidden gem! You're invited to Olivia's nautical-themed restaurant featuring Conch Fritters, sandwiches, and Havana Beef Sandwiches. ",
        },
        {
          name: "Good's Food To Go",
          imgs: [require("../../assets/old-key-west/dining/togo/1.png")],
          description:
            "A counter-service outdoor eatery where everything is 'all good!' Grab burgers, hot dogs, 'pizza nachos,' salads, or sandwiches to go and relax at the picnic table that overlooks the pool. Snacks and beverages are also available",
        },
        {
          name: "Turtle Shack Poolside Snacks",
          imgs: [
            require("../../assets/old-key-west/dining/pool/1.png"),
            require("../../assets/old-key-west/dining/pool/2.png"),
          ],
          description:
            "This seasonal snack shack includes full entrees like pizza, sandwiches, salads, and desserts and is steps away from one of the resort's four pools.  Draft and bottled beers, wines, and a selection of smoothies and soft drinks are also available. After finishing your meal, head to the nearby shuffleboards or game room for more adventures. ",
        },
        {
          name: "Gurgling Suitcase Libations & Spirits",
          imgs: [
            require("../../assets/old-key-west/dining/gurgling/1.png"),
            require("../../assets/old-key-west/dining/gurgling/2.png"),
            require("../../assets/old-key-west/dining/gurgling/3.png"),
            require("../../assets/old-key-west/dining/gurgling/4.png"),
          ],
          description:
            "Enjoy domestic and imported beers, wine, and signature drinks like the Turtle Krawl by the pool or inside this casual dining location. Are you getting hungry? Order off the menu from Olivia's Cafe and never have to leave your lounge chair",
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
