<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in images" :key="index">
                <div class="overflow-hidden relative w-full pb-[40%]">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Disney's Old Key West Resort
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                Embrace the ambiance and romance of the Florida Keys—in Central
                Florida! Old Key West was Disney's first Vacation Club resort,
                and it remains one of the most popular places to call "home"
                today. Serene waterways, iconic palm trees, and inviting golf
                fairways create a vista reminiscent of Hemingway’s home in Key
                West. Old Key West is a tropical oasis in the heart of the Walt
                Disney World property, complete with relaxing pools and casual
                dining. It's the definite choice for those who prefer a more
                laid-back environment to laze their days away.
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline"
              >
                What makes Disney's Old key west Resort great!
              </h2>
            </div>
            <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      active: false,
      discriptions: [
        "A scenic and relaxing boat ride will have you to all the excitement and entertainment available at Disney Springs in no time! ",
        "beachy hues, palm trees, and patios overlooking Disney's Lake Buena Vista Golf Course provide the backdrop for a vacation that invites you to slow down and relax—Florida style.",
        "Four pools featuring waterslides, a lighthouse, and jumping dolphins are just the beginning of what water enthusiasts have to look forward to at Old Key West. Throw in fishing excursions and jogging trails overlooking scenic canals, and you're in for a treat. ",
      ],
      names: [
        "Transportation to Disney Springs",
        "Old-Florida charm",
        "Water-lovers delight",
      ],
      images_b: [
        require("../../assets/old-key-west/3.png"),
        require("../../assets/old-key-west/4.png"),
        require("../../assets/old-key-west/5.png"),
      ],
      images: [
        require("../../assets/old-key-west/1.png"),
        require("../../assets/old-key-west/2.png"),
        require("../../assets/old-key-west/3.png"),
        require("../../assets/old-key-west/4.png"),
        require("../../assets/old-key-west/5.png"),
        require("../../assets/old-key-west/6.png"),
        // require("../../assets/old-key-west/7.png"),
        // require("../../assets/old-key-west/8.png"),
        require("../../assets/old-key-west/9.png"),
      ],
    };
  },
};
</script>
