<template>
  <div>
    <section class="mt-10 uppercase">
      <ul class="flex justify-center gap-1 flex-wrap">
        <li
          v-for="(item, index) in pages"
          class="bg-custom-light0 text-custom-blue4 p-3 hover:bg-custom-blue3 hover:text-white rounded"
          :class="[
            activePage == item.component
              ? '!bg-custom-blue4 !text-white'
              : 'text-custom-blue4',
          ]"
          :key="index"
          @click="activePage = item.component"
        >
          <a> {{ item.name }}</a>
        </li>
      </ul>
    </section>
    <div v-if="activePage === 'overview'" class="px-16">
      <p class="py-4 text-custom-blue6">
        RCI, Resort Condominiums International is a timeshare brokerage company.
        They do not own resorts. They have over 4,000 resorts for their members
        to exchange their timeshare from one resort to another. There is a
        $95.00 fee for this service paid to Disney Vacation Club Member Services
        when you make a reservation.
      </p>
      <img
        src="https://dvcsales.com/wp-content/themes/dvcsales/images/rci-resorts/RCI-map-large.jpg"
        class="w-full"
      />
    </div>
    <div v-if="activePage === 'Weekly'" class="px-16 pt-6">
      <img
        class="w-full h-94"
        src="https://dvcsales.com/wp-content/themes/dvcsales/images/rci-resorts/RCI-Weekly-Point-Chart.jpg"
      />
    </div>
    <div v-if="activePage === 'Nightly'" class="px-16 pt-6">
      <img
        class="w-full h-94"
        src="https://dvcsales.com/wp-content/themes/dvcsales/images/rci-resorts/RCI-Registry-Point-Chart.jpg"
      />
    </div>
    <div v-if="activePage === 'Registry Collection'" class="px-16 pt-6">
      <img
        class="w-full h-94"
        src="https://dvcsales.com/wp-content/themes/dvcsales/images/rci-resorts/RCI-Nightly-Point-Chart.jpg"
      />
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      activePage: "overview",
      pages: [
        { component: "overview", name: "overview" },
        { component: "Weekly", name: "Weekly" },
        { component: "Nightly", name: "Nightly" },
        { component: "Registry Collection", name: "Registry Collection" },
        { component: "Resort Directory", name: "Resort Directory" },
      ],
    };
  },
  watch: {
    activePage(newVal) {
      if (newVal === "Resort Directory") {
        this.$router.push("https://www.rci.com/dvc/");
      }
    },
  },
};
</script>
