<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in images" :key="index">
                <div class="overflow-hidden relative w-full pb-[40%]">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Disney's Boulder Ridge Villas
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                The Boulder Ridge Villas at Disney's Wilderness Lodge celebrate
                the rustic majesty of the Pacific Northwest and the grandeur of
                the National Parks. Modeled after the grand National Park lodges
                from the turn of the century, the Wilderness Lodge applauds
                American craftsmanship while honoring the untamed wilderness.
                Explore nature trails or relax on a rocking chair with a view of
                a nearby brook. Intricate and towering totem poles adorn the
                resort's interior, as well as a roaring fireplace complete with
                comfy armchairs.
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline"
              >
                What makes Disney's Boulder Ridge Resort great!
              </h2>
            </div>
            <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      active: false,
      discriptions: [
        "Located in the Magic Kingdom resort area, Wilderness Lodge is set far back enough to feel that you are genuinely in the Pacific Northwest while being a short bus or boat ride to the Magic Kingdom. ",
        "Natural wonder awaits when you call Wilderness Lodge 'home.' ",
        "From sailboat rentals to bike trails and fishing, there's never a shortage of things to do at The Wilderness Lodge. It's a vacation all in itself! ",
      ],
      names: [
        "An escape close to the magic",
        "Rustic surroundings",
        "Recreational activities enhance your stay",
      ],
      images_b: [
        require("../../assets/wl-boulder-ridge/3.png"),
        require("../../assets/wl-boulder-ridge/4.png"),
        require("../../assets/wl-boulder-ridge/5.png"),
      ],
      images: [
        require("../../assets/wl-boulder-ridge/1.png"),
        require("../../assets/wl-boulder-ridge/2.png"),
        require("../../assets/wl-boulder-ridge/3.png"),
        // require("../../assets/wl-boulder-ridge/4.png"),
        require("../../assets/wl-boulder-ridge/5.png"),
        require("../../assets/wl-boulder-ridge/6.png"),
        require("../../assets/wl-boulder-ridge/7.png"),
        require("../../assets/wl-boulder-ridge/8.png"),
        // require("../../assets/wl-boulder-ridge/9.png"),
      ],
    };
  },
};
</script>
