<template>
  <div class="bg-custom-light2 min-h-screen">
    <!-- <v-header /> -->
    <div class="mx-auto py-5">
      <section class="mt-10  text-xs flex justify-center uppercase">
        <div
          class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-1 gap-1 font-semibold text-custom-blue2 lg:w-7/12 w-full"
        >
          <div
            :class="currentData === 0 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 0"
            class="inline-block border border-custom-blue2 cursor-pointer  py-2 min-w-[7.4rem] text-center"
          >
            ANIMAL KINGDOM
          </div>

          <div
            :class="currentData === 1 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 1"
            class="inline-block border border-custom-blue2 py-2 min-w-[7.4rem] cursor-pointer text-center"
          >
            AULANI
          </div>
          <div
            :class="currentData === 2 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 2"
            class="inline-block border border-custom-blue2  py-2 min-w-[7.4rem] cursor-pointer text-center"
          >
            BAY LAKE TOWER
          </div>
          <div
            :class="currentData === 3 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 3"
            class="inline-block border border-custom-blue2  py-2 min-w-[7.4rem] cursor-pointer text-center"
          >
            BEACH CLUB VILLAS
          </div>
          <div
            :class="currentData === 4 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 4"
            class="inline-block border border-custom-blue2 cursor-pointer py-2 min-w-[7.4rem] text-center"
          >
            BOARDWALK VILLAS
          </div>
          <div
            :class="currentData === 10 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 10"
            class="inline-block border border-custom-blue2 cursor-pointer py-2 min-w-[7.4rem] text-center"
          >
            BOULDER RIDGE
          </div>
          <div
            :class="currentData === 9 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 9"
            class="inline-block border border-custom-blue2 cursor-pointer py-2 min-w-[7.4rem] text-center"
          >
            COPPER CREEK
          </div>
          <div
            :class="currentData === 13 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 13"
            class="inline-block border border-custom-blue2 cursor-pointer py-2 min-w-[7.4rem] text-center"
          >
            Grand California
          </div>
          <div
            :class="currentData === 11 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 11"
            class="inline-block border border-custom-blue2 cursor-pointer py-2 min-w-[7.4rem] text-center"
          >
            GRAND FLORIDIAN
          </div>
           
          <div
            :class="currentData === 12 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 12"
            class="inline-block border border-custom-blue2 cursor-pointer py-2 min-w-[7.4rem] text-center"
          >
            HILTON HEAD
          </div>
          <div
            :class="currentData === 5 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 5"
            class="inline-block border border-custom-blue2 cursor-pointer py-2 min-w-[7.4rem] text-center"
          >
            OLD KEY WEST
          </div>
          <div
            :class="currentData === 6 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 6"
            class="inline-block border border-custom-blue2 cursor-pointer py-2 min-w-[7.4rem] text-center"
          >
            POLYNESIAN
          </div>
          <div
            :class="currentData === 7 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 7"
            class="inline-block border border-custom-blue2 cursor-pointer py-2 min-w-[7.4rem] text-center"
          >
            SARATOGA SPRINGS
          </div>

          
          
         
          <div
            :class="currentData === 14 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 14"
            class="inline-block border border-custom-blue2 cursor-pointer py-2 min-w-[7.4rem] text-center"
          >
            Rivera
          </div>
          <div
            :class="currentData === 8 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 8"
            class="inline-block border border-custom-blue2 cursor-pointer py-2 min-w-[7.4rem] text-center"
          >
            VERO BEACH
          </div>
          <div
            :class="currentData === 15 ? 'bg-custom-blue1 text-white' : ''"
            @click="currentData = 15"
            class="inline-block border border-custom-blue2 cursor-pointer py-2 min-w-[7.4rem] text-center"
          >
            RCI RESORTS
          </div>
        </div>
      </section>
      <AnimalKingdom v-if="currentData === 0" />
      <Aulani v-if="currentData === 1" />
      <BayLackTower v-if="currentData === 2" />
      <BeachClub v-if="currentData === 3" />
      <BoardWalkVillas v-if="currentData === 4" />
      <OldKey v-if="currentData === 5" />
      <Polynesian v-if="currentData === 6" />
      <Saratoga v-if="currentData === 7" />
      <VeroBeach v-if="currentData === 8" />
      <Copper v-if="currentData === 9" />
      <Boulderridge v-if="currentData === 10" />
      <GrandFlor v-if="currentData === 11" />
      <HiltonHead v-if="currentData === 12" />
      <GrandCalifornian v-if="currentData === 13" />
      <Riveria v-if="currentData === 14" />
      <RCI v-if="currentData===15"/>
    </div>
  </div>
</template>
<script>
// import VHeader from "../../components/v-header.vue";
import BayLackTower from "../bay-lake-tower/index.vue";
import AnimalKingdom from "../animal-kingdom/index.vue";
import Aulani from "../aulani/index.vue";
import BoardWalkVillas from "../boardwalk-villas/index.vue";
import BeachClub from "../beach-club-villas/index.vue";
import GrandFlor from "../grand-floridian/index.vue";
import OldKey from "../old-key-west/index.vue";
import Polynesian from "../polynesian/index.vue";
import Saratoga from "../saratoga-springs/index.vue";
import VeroBeach from "../vero-beach/index.vue";
import Copper from "../wl-copper-creek/index.vue";
import Boulderridge from "../wl-boulder-ridge/index.vue";
import HiltonHead from "../hilton-head/index.vue";
import GrandCalifornian from "../grand-californian/index.vue";
import Riveria from "../riveria/index.vue";
import RCI from "../rci/index.vue";
export default {
  components: {
    // VHeader,
    RCI,
    HiltonHead,
    Boulderridge,
    Copper,
    VeroBeach,
    Saratoga,
    GrandFlor,
    OldKey,
    BayLackTower,
    AnimalKingdom,
    Aulani,
    BoardWalkVillas,
    BeachClub,
    Polynesian,
    GrandCalifornian,
    Riveria,
  },
  data() {
    return {
      currentData: 0,
    };
  },
};
</script>
<style>
.VueCarousel-dot[data-v-438fd353]:focus,
.VueCarousel-navigation-button[data-v-453ad8cd]:focus {
  outline: none;
}
</style>
