<template>
  <div class="px-16 pb-8">
    <h1 class="text-center text-3xl text-custom-blue6 font-medium">
      DVC SALES FINANCING
    </h1>
    <p class="text-custom-blue6 text-lg pt-4">
      We recommend that you review their loan offerings if you are considering
      financing. You may also contact the below. They are independent companies
      so you will need to contact them for the most current rates and terms.
      Additional information and site links are listed below:
    </p>

    <div
      class="flex md:flex-row flex-col items-center justify-center md:space-x-6 space-x-0 md:space-y-0 space-y-4 pt-6 pb-6"
    >
      <div class="w-1/3 border border-custom-blue6 rounded-md">
        <div class="w-full bg-white p-3 rounded-md">
          <img
            class="w-full"
            src="https://dvcsales.com/wp-content/themes/dvcsales/images/vacation-club-loans-resize.png"
          />
        </div>
        <div
          class="bg-custom-light0 border-t border-b border-custom-blue6 text-center text-custom-blue6"
        >
          <p>
            Financing all DVC Resorts
          </p>
          <p class="text-sm">
            Available Interest Rate
          </p>
          <img class="w-full" src="../../../assets/loan1.png" />
        </div>
        <div
          class="flex items-center px-4 justify-between border-b border-custom-blue6 bg-custom-light0 text-custom-blue6 py-1.5"
        >
          <p>
            Credit Check
          </p>
          <p class="text-lg">
            YES
          </p>
        </div>
        <div
          class="flex items-center px-4 justify-between border-b border-custom-blue6 bg-custom-light0 text-custom-blue6 py-1.5"
        >
          <p>
            Loan Origination Fee
          </p>
          <p class="text-lg">
            NONE
          </p>
        </div>
        <div class="border-b border-custom-blue6">
          <img class="w-full" src="../../../assets/loan_term1.png" />
        </div>
        <div class="bg-white text-center text-custom-blue6 rounded-b-md py-2">
          <p>
            vacationclubloans.com
          </p>
          <p>
            (800) 334-2334
          </p>
          <p>
            Debbie Ely
          </p>
        </div>
      </div>
      <div class="w-1/3 border border-custom-blue6 rounded-md">
        <div class="w-full bg-white p-3 rounded-md px-12">
          <img
            class="w-full h-10"
            src="https://dvcsales.com/wp-content/themes/dvcsales/images/logo_2.png"
          />
        </div>
        <div
          class="bg-custom-light0 border-t border-b border-custom-blue6 text-center text-custom-blue6"
        >
          <p>
            Financing Only Florida Resorts
          </p>
          <p class="text-sm">
            Avalable Interest Rate
          </p>
          <img class="w-full" src="../../../assets/loan2.png" />
        </div>
        <div
          class="flex items-center px-4 justify-between border-b border-custom-blue6 bg-custom-light0 text-custom-blue6 py-1.5"
        >
          <p>
            Credit Check
          </p>
          <p class="text-lg">
            OPTIONAL
          </p>
        </div>
        <div
          class="flex items-center px-4 justify-between border-b border-custom-blue6 bg-custom-light0 text-custom-blue6 py-1.5"
        >
          <p>
            Loan Origination Fee
          </p>
          <p class="text-lg">
            $199
          </p>
        </div>
        <div class="border-b border-custom-blue6">
          <img class="w-full" src="../../../assets/loan_term1.png" />
        </div>
        <div class="bg-white text-center text-custom-blue6 rounded-b-md py-2">
          <p>
            monerafinancial.com
          </p>
          <p>
            (317) 245-8800
          </p>
          <p>
            Sam Comstand
          </p>
        </div>
      </div>
    </div>
    <p class="text-custom-orange1 text-lg text-center py-4">
      All the lenders share the following terms: No Pre-Payment Penalty,
      No Monthly Loan Service Fee.
    </p>
    <div class="pb-1 border-4 border-custom-blue6"></div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
