<template>
  <div>
    <div class="mt-10 flex justify-between items-start">
      <ul class="bg-custom-light0 w-72 mt-20">
        <li
          class="py-2 px-4 border border-custom-blue4 "
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage === tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[40%] rounded">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div
              class="text-lg w-10/12 text-custom-blue4 mt-5 text-left mx-auto"
            >
              {{ tab.description }}
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Best Friends Breakfast at ʻOhana",
      tabs: [
        {
          name: "Best Friends Breakfast at ʻOhana",
          imgs: [
            require("../../assets/polynesian/dining/ohana/1.png"),
            require("../../assets/polynesian/dining/ohana/2.png"),
          ],
          description:
            `"'Ohana means family," and you're treated as such at this restaurant, which serves family-style breakfast and dinner. Catch a glimpse of Cinderella Castle while you dine, and enjoy the sounds of Hawaiian music and marvel as your meal is prepared in an open-air kitchen. Mickey and pals greet you at breakfast as you take your pick from Mickey and Stitch waffles, scrambled eggs, breakfast potatoes, pineapple bread, and more in an all-you-care-to-enjoy setting. For dinner, enjoy Polynesian-inspired entrees with seasoned meats, island shrimp casserole, Kielbasa sausage, noodles, and more. Top it off with pineapple coconut bread pudding a la mode for dessert! ` },
        {
          name: "Disney's Spirit of Aloha Dinner Show",
          imgs: [
            require("../../assets/polynesian/dining/aloha/1.png"),
            require("../../assets/polynesian/dining/aloha/2.png"),
            require("../../assets/polynesian/dining/aloha/3.png"),
          ],
          description:
            "Enjoy this spectacular, Hawaiian-inspired luau without leaving the east coast! Hula and fire dancers wow audiences along with songs and traditions from Tahiti, New Zealand, Hawaii, Samoa, and Tonga. Platters of pulled pork, ribs, and roasted chicken are brought to your table at this all-you-care-to-enjoy feast. Beer, wine, and soft drinks are included in the meal pricing. Make sure you save room for Pineapple Guava Cake for dessert! ",
        },
        {
          name: "Kona Café",
          imgs: [
            require("../../assets/polynesian/dining/kona/1.png"),
            require("../../assets/polynesian/dining/kona/2.png"),
            require("../../assets/polynesian/dining/kona/3.png"),
            require("../../assets/polynesian/dining/kona/4.png"),
          ],
          description:
            "Breakfast, lunch, and dinner are all available at this relaxing cafe with Asian inspirations—including an on-site sushi kitchen. ",
        },
        {
          name: "Tambu Lounge – Great Ceremonial House",
          imgs: [
            require("../../assets/polynesian/dining/tambu/1.png"),
            require("../../assets/polynesian/dining/tambu/2.png"),
            require("../../assets/polynesian/dining/tambu/3.png"),
            require("../../assets/polynesian/dining/tambu/4.png"),
          ],
          description:
            "A tiki-style hut located in the main lobby of the Great Ceremonial House, it's the perfect place to grab a drink and a bite after arriving at the resort. Sample Hawaiian-inspired appetizers like flatbreads and barbecue pork ribs, along with specialty cocktails.",
        },
        {
          name: "Trader Sam's Grog Grotto",
          imgs: [
            require("../../assets/polynesian/dining/trader/1.png"),
            // require("../../assets/polynesian/dining/trader/2.png"),
            require("../../assets/polynesian/dining/trader/3.png"),
            require("../../assets/polynesian/dining/trader/4.png"),
          ],
          description:
            "Stop by this popular, tropical tiki bar with unique menu items that honor the cuisine of the South Seas. ",
        },
        {
          name: "Capt. Cook's",
          imgs: [
            require("../../assets/polynesian/dining/capt/1.png"),
            require("../../assets/polynesian/dining/capt/2.png"),
            require("../../assets/polynesian/dining/capt/3.png"),
          ],
          description:
            "This quick-service restaurant serves breakfast, lunch, and dinner. Start your morning with a Mickey waffle or banana-stuffed french toast. Then, stop by for a unique array of sandwiches, salads, and sides later in the day",
        },
        {
          name: "Barefoot Pool Bar",
          imgs: [
            require("../../assets/polynesian/dining/lanai/1.png"),
            require("../../assets/polynesian/dining/barefoot/2.png"),
            require("../../assets/polynesian/dining/barefoot/3.png"),
            require("../../assets/polynesian/dining/barefoot/4.png"),
          ],
          description:
            "Smoothies, beer, wine, and tiki cocktails are served up at this outdoor, open-air bar overlooking a white-sand beach and the Seven Seas Lagoon. ",
        },
        {
          name: "Pineapple Lanai",
          imgs: [
            require("../../assets/polynesian/dining/lanai/1.png"),
            require("../../assets/polynesian/dining/lanai/2.png"),
          ],
          description:
            "Can't get enough DOLE Whip®? Get this Magic Kingdom staple, soft-serve ice cream, and more at this sweet stop just outside the Great Ceremonial House. Get it served in a souvenir Tiki bowl to take home! ",
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
