<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in images" :key="index">
                <div class="overflow-hidden relative w-full pb-[40%]">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Disney's Polynesian Villas & Bungalows
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                Discover a South Pacific paradise at Disney's Polynesian Villas
                & Bungalows. Enjoy the Tiki torches and the white-sand beaches
                of this getaway, inspired by the mysterious island of Bora Bora.
                With spacious rooms and all the amenities of home, you can
                unwind after a day of adventure at the Magic Kingdom—just a
                short boat or monorail ride away. Relax in a plunge pool on your
                private deck while you watch fireworks over Cinderella Castle as
                the night descends.
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline"
              >
                What makes Disney's Polynesian Resort great!
              </h2>
            </div>
            <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      active: false,
      discriptions: [
        "Spend even more time playing at Magic Kingdom, with quick access via monorail, ferry boat, or bus.",
        "The Polynesian Villas & Bungalows offer the largest Deluxe Studios on property and overwater Bungalows that sleep up to eight guests.",
        "With a plethora of tiki lounges, bars, and full-service Polynesian-inspired restaurants, dining at the resort is second to none. ",
      ],
      names: [
        "In the heart of it all",
        "Spacious accommodations",
        "Tiki-inspired dining",
      ],
      images_b: [
        require("../../assets/old-key-west/3.png"),
        require("../../assets/old-key-west/4.png"),
        require("../../assets/old-key-west/5.png"),
      ],
      images: [
        require("../../assets/old-key-west/1.png"),
        require("../../assets/old-key-west/2.png"),
        require("../../assets/old-key-west/3.png"),
        require("../../assets/old-key-west/4.png"),
        require("../../assets/old-key-west/5.png"),
        require("../../assets/old-key-west/6.png"),
        // require("../../assets/old-key-west/7.png"),
        // require("../../assets/old-key-west/8.png"),
        require("../../assets/old-key-west/9.png"),
      ],
    };
  },
};
</script>
