<template>
  <div class="bg-custom-light1 p-4 shadow-lg rounded">
    <div
      class="flex justify-between px-3 py-1  font-medium text-custom-blue6 items-center border-b border-custom-blue6 pb-2"
    >
      <p>
        PURCHASE FROM:
      </p>
      <p>
        Walt Disney Co.
      </p>
      <img
        src="https://www.dvcsales.com/wp-content/uploads/2019/11/DVC-Sales-Navy-03-08-2018.png"
        class="w-24"
      />
    </div>
    <div class="pt-3" >
      <div
        class="  grid grid-cols-3 rounded text-custom-blue6  items-center font-medium "
      >
        <p class=" pl-3 py-2 bg-custom-bg1 rounded-l">
          Purchase Price per Point:
        </p>
        <p class="text-right  py-2 py- bg-custom-bg1">
          $186.00
        </p>
        <p class="text-right pr-2 py-2 py- bg-custom-bg1 text-custom-orange1 font-bold rounded-r flex justify-end space-x-2">
          <img class="w-6 transform rotate-180 " :src="require('../../../assets/next.svg')"/>
          <span class="">
          $116.00
          </span>
           <img class="w-6 " :src="require('../../../assets/next.svg')"/>
         
        </p>
         <p class="pl-3 py-2">
          Contract price:
        </p>
        <p class="text-right">
          $28,830.00
        </p>
        <p class="text-right pr-10">
          $17,980.00
        </p>
      </div>
      <div
        class="flex justify-between bg-custom-bg1 pl-3 pr-2 py-2 rounded text-custom-blue6 items-center font-medium pb-2"
      >
        <p>
          Saving per point:
        </p>
        <p class="pr-8">
          $70.00
        </p>
      </div>
      <div
        class="flex justify-between pl-3 pr-2 py-2 rounded text-custom-blue6 items-center font-medium pb-2"
      >
        <p>
          Saving per contract:
        </p>
        <p class="pr-8">
          $10,850.00
        </p>
      </div>
      <div
        class="flex justify-between p-3 py-2 rounded bg-custom-bg1 text-custom-blue6 items-center font-medium pb-2"
      >
        <p>
          Saving percentage:
        </p>
        <p class="pr-6">
          38%
        </p>
      </div>
      <p class="text-custom-orange1  font-medium pt-4 px-3"> <span >*</span> Estimated secondary market price</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
