<template>
  <div class="px-16 pb-8">
    <h1 class="text-center text-3xl text-custom-blue6 pb-6 font-medium">
      It seems that we did good work for these clients
    </h1>
    <template v-for="(data, index) in currentData">
      <div :key="index">
        <div class="px-12 mb-4 border-b-2 pb-4">
          <p class="text-md text-custom-blue6 italic">{{ data.description }}</p>
          <span class="text-lg text-custom-blue6 font-medium"
            >-{{ data.aurthor }}</span
          >
        </div>
      </div>
    </template>
    <div class="flex justify-center space-x-4">
      <button
        :class="
          page === 1
            ? 'py-4 px-3 rounded bg-custom-blue6 text-white text-xl'
            : 'border border-custom-blue6 py-4 px-3 rounded text-custom-blue6'
        "
        @click="(page = 1), (currentData = page1)"
      >
        1
      </button>
      <button
        :class="
          page === 2
            ? 'py-4 px-3 rounded bg-custom-blue6 text-white text-xl'
            : 'border border-custom-blue6 py-4 px-3 rounded text-custom-blue6'
        "
        @click="(page = 2), (currentData = page2)"
      >
        2
      </button>
      <button
        :class="
          page === 3
            ? 'py-4 px-3 rounded bg-custom-blue6 text-white text-xl'
            : 'border border-custom-blue6 py-4 px-3 rounded text-custom-blue6'
        "
        @click="(page = 3), (currentData = page3)"
      >
        3
      </button>
      <button
        :class="
          page === 4
            ? 'py-4 px-3 rounded bg-custom-blue6 text-white text-xl'
            : 'border border-custom-blue6 py-4 px-3 rounded text-custom-blue6'
        "
        @click="(page = 4), (currentData = page4)"
      >
        4
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      page: 1,
      currentData: [],
      page1: [
        {
          aurthor: "Bob C",
          description:
            "Throughout the past 25+ years my family enjoyed the benefits and value of DVC membership. But earlier this year we determined that continuing with DVC was not practical for us and I began investigating finding other families that could take advantage of what we have enjoyed over the past years. That is how I came across DVC Sales. I must admit I was skeptical at first but after speaking with Lori I was reassured things would go smoothly. Now that the sales of our two contracts are complete, all I can say is – WOW! Your team sure made this a quick, easy and a positive experience.",
        },
        {
          aurthor: "Erin Witzig, IL.",
          description:
            "I want to give a huge thanks to Lori Webb for making our first DVC purchase smooth, uncomplicated, and remarkably fast!! My husband & I researched long and hard before deciding to buy a resale DVC contract, and we were still a little uneasy making such a large purchase from a distance. Thankfully, we found DVC Sales who answered all of our questions and worked through the process with sincerity and integrity. Lori worked closely with us to make sure we were comfortable and clear with every step. She absolutely went above and beyond for us! If we get to add on in the future, we will definitely come back to DVC Sales.",
        },
        {
          aurthor: "Brian Tesoroni",
          description:
            "I was always hesitant to purchase a DVC resale, but after speaking to Mark and Lori, I’m so glad I did! They made the process so simple and stress free. They went out of their way to help with any concerns. They explained the fundamentals of owning DVC and helped me understand the pros and cons of the process. I would recommend them to anyone who’s interested in purchasing DVC. After working with them, I consider them more like friends than a sales team.",
        },
        {
          aurthor: "Brian Wilkinson",
          description:
            "Lori and Mark were great to work with and the process was really smooth. They were ALWAYS available whenever I had a question….I put in my original offer on a Sunday night at 9pm and Mark was online with me helping me through the process. Both Mark and Lori are former Sales Guides for DVC and are extremely knowledgeable about DVC as well as Disney in general, which is a huge plus. I highly recommend using them for your DVC resale needs.",
        },
      ],
      page2: [
        {
          aurthor: "Dana G. San Diego CA",
          description:
            "I came across Mark, Lori and DVCsales.com by chance. I am so happy that I did. To be honest several times during the process I wanted to give up on the contract I had chosen. My seller was a bit slow. Mark and Lori worked hard to get things done for me and encouraged me to hold on. From the start they had my trust and business, all my questions were answered thoroughly and honestly. I was given sage advice that I will hold onto. When I am ready to add on points I know who I will be calling, thank you so much for all your time and assistance Mark and Lori.",
        },
        {
          aurthor: "Dana Agar, Florida",
          description:
            "It was a difficult decision, but my husband and I decided to sell our DVC contract after being members for more than 10 years. With one son in college and another son heading away in the fall, we felt this was the best decision for our family. Lori explained the whole process and kept us in the loop from start to finish. They found someone to buy our membership within a couple weeks- it was easier than we thought! Hopefully, we can come back to DVC Sales in a few years to purchase a resale! ",
        },
        {
          aurthor: "Peter G. Colonel, USAF, Ret",
          description:
            "My wife and I met Mark Webb three years ago while visiting the Disney Vacation Club models at Walt Disney World and immediately liked and trusted him to listen to our wishes and give us the solution that best met what we wanted from DVC. Unlike our previous visit to DVC, Mark thoroughly discussed the pros and cons of all DVC properties – not just the locations where DVC management wanted customers to purchase points. Mark made clear how the value of DVC points remained stable and often increased over time. He got us started with points at properties we truly enjoy visiting and kept in contact as we waited for and purchased more points to increase our remarkable stays with DVC. We look forward to continuing to work with Mark in his new business as our interest and excitement in DVC grows. ",
        },
        {
          aurthor: "Mary Ann T, Newtown Square, PA",
          description:
            "Talk about luck of the draw – Mark was the sales associate I met on my 2012 trip to Disney. I was a little interested in DVC and Mark told me all about it. He explained it perfectly, answered all my questions and gave me lots of options. I never felt pressured and trusted him right away. A few years after my initial purchase, I decided to buy some more points and talked directly with Mark. Again, he listened to me and provided some options. You see, I’m a caregiver and have been for almost 10 years now. DVC gives me the opportunity to get away and I absolutely love it! When Mark said he was going to go out on his own with resale, I was ecstatic! I knew I had someone to talk to about more points if I wanted them and if I ever did want to sell (or had to) in the future, I would have someone I could trust. I worked with the website, checked out what was available, talked to Mark and sure enough – I’m getting more points! This has been a “magical” experience and I hope one that will continue for years to come. Thanks for everything, Mark. I wish you nothing but success. ",
        },
      ],
      page3: [
        {
          aurthor: "Steve and Sue Roso, Stoughton WI.",
          description:
            "Sue and I have known Mark for almost 25 years. We met him when we bought our first points at Old Key West.He has always been in contact with us for all these years. He has become not only our go to Guy for all things DVC, but has also become a good friend of ours. Mark has always gone out of his way to make sure our membership was nothing less than perfect. Thank You Mark,",
        },
        {
          aurthor: "Becky and Tom M., Deer Park, Il.",
          description:
            "Back in 1996, my husband Tom and I heard about the Disney Vacation Club from a fellow teacher. He referred us to his sales person, Mark Webb. Mark told us all about DVC on the phone, and we ended up buying 210 points at Old Key West, even though we had never seen the resort! Since then, our Disney Vacations have never been the same! Now that our family is bigger, we’ve added more points, because we often take our kids and grandkids with us. We often stop in to say hello to Mark, and he has always taken the time to visit with us. We were a bit sad to hear he had left Disney, but feel sure he will be successful in whatever he does. Best of luck to you, Mark! ",
        },
        {
          aurthor: "Bill and Suzanne Reynolds NJ",
          description:
            "We’ve been on Disneys’ wait list to purchase additional points at the Grand Floridian for months. Mark was able to help us purchase more points at the Grand for a lower price than Disney would sell them for.",
        },
        {
          aurthor: "Marty Dignard",
          description:
            "In the world of buying and selling timeshares, there are an endless supply of scam websites and businesses. It is extremely encouraging to find one company out there that really does what it says it will do — and does it with integrity. Thank you, DVC Sales! ",
        },
      ],
      page4: [
        {
          aurthor: "Linda Hinson",
          description:
            "Listing and selling some of our Disney Vacation Club points through DVC Sales was easy and seamless. They were very helpful in setting a reasonable price and all the way through the process. I recommend them highly.",
        },
      ],
    };
  },
  mounted() {
    this.currentData = this.page1;
  },
};
</script>

<style></style>
