<template>
  <div class="pt-10">
    <h1 class="text-center text-3xl text-custom-blue6 pb-6 font-medium">
      FREQUENTLY ASKED QUESTIONS MEMBERS
    </h1>
    <div class="flex space-x-4 items-center justify-center mt-3">
      <button
      @click="active=0"
        :class="active===0?'bg-custom-blue6 text-white ':'text-custom-blue6  bg-white '"
        class=" px-3 py-1.5 border border-custom-blue6  rounded-md focus:outline-none"
      >
        BUYING A DVC MEMBERSHIP
      </button>
      <p class="text-custom-blue6">or</p>
      <button
       @click="active=1"
       :class="active===1?'bg-custom-blue6 text-white':'text-custom-blue6  bg-white '"
        class="border border-custom-blue6 px-3 py-1.5  rounded-md  focus:outline-none "
      >
        SELLING A DVC MEMBERSHIP
      </button>
    </div>
    <Buying v-if="active===0"/>
    <Selling v-if="active===1"/>
  </div>
</template>

<script>
import Buying from  "./buying-dvc/index.vue"
import Selling from "./selling-dvc/index.vue"
export default {
  data(){
    return{
      active:0
    }
  },
  components:{
    Buying,
    Selling
  }
};
</script>

<style></style>
