<template>
	<nav
		class="text-white font-semibold text-lg uppercase tracking-tighter py-1 bg-gradient-to-r from-custom-blue5 to-custom-blue1"
	>
		<div class="px-4 flex md:flex-row flex-col md:justify-between justify-center">
			<div class="space-x-2 flex items-center">
				<router-link to="/buying/faq"><a class="px-4"> BUYING </a></router-link>
				<span>|</span>
				<a href="#" class="px-4"> selling </a>
				<span>|</span>
				<a href="#" class="px-4"> home </a>
			</div>
			<!-- <img
				src="../../.../public../../assets/DVC-Sales-White-radius.png"
				class="w-40"
				alt=""
			/> -->
			<div class="flex items-center">
				<a href="#" class="px-4"> listings </a>
				<span>|</span>
				<a href="#" class="px-4"> testimonial </a>
				<span>|</span>
				<a href="#" class="px-4"> log in </a>
				<svg
					class="h-12 w-12 rounded-full ml-5"
					viewBox="0 0 20 20"
					fill="currentColor"
				>
					<path
						fill-rule="evenodd"
						d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
						clip-rule="evenodd"
					/>
				</svg>
			</div>
		</div>
	</nav>
</template>