<template>
  <div class="px-6">
    <div class="grid lg:grid-cols-6 md:grid-cols-3 sm:grid-cols-2 gap-4 mt-4">
      <div
        @click="(current = 0), (current_desc = description_data_basics)"
        class=" flex flex-col rounded items-center cursor-pointer justify-start py-3 px-2"
        :class="
          current === 0
            ? 'bg-custom-blue6 text-white '
            : 'border1 bg-white text-custom-blue6'
        "
      >
        <font-awesome-icon icon="briefcase" class="text-5xl" />
        <h5 class="text-sm">
          About selling a DVC membership
        </h5>
      </div>
      <div
        @click="(current = 1), (current_desc = description_data_resale)"
        class=" flex flex-col rounded h-38 items-center cursor-pointer justify-start py-3 px-2"
        :class="
          current === 1
            ? 'bg-custom-blue6 text-white '
            : 'border1 bg-white text-custom-blue6'
        "
      >
        <font-awesome-icon icon="briefcase" class="text-5xl" />
        <h5 class="text-sm text-center">
          Selling Process
        </h5>
      </div>
      <div
        @click="(current = 2), (current_desc = description_data_prcess)"
        class=" flex flex-col rounded h-38 items-center cursor-pointer justify-start py-3 px-2"
        :class="
          current === 2
            ? 'bg-custom-blue6 text-white '
            : 'border1 bg-white text-custom-blue6'
        "
      >
        <font-awesome-icon icon="briefcase" class="text-5xl" />
        <h5 class="text-sm text-center">
          Creating & Maintaining Listings
        </h5>
      </div>
      <div
        @click="(current = 3), (current_desc = description_data_finance)"
        class=" flex flex-col rounded h-38 items-center cursor-pointer justify-start py-3 px-2"
        :class="
          current === 3
            ? 'bg-custom-blue6 text-white '
            : 'border1 bg-white text-custom-blue6'
        "
      >
        <font-awesome-icon icon="briefcase" class="text-5xl" />
        <h5 class="text-sm text-center">
          Taxes, Fees, and Finances
        </h5>
      </div>
      <div
        @click="(current = 4), (current_desc = description_data_contact)"
        class=" flex flex-col rounded h-38 items-center cursor-pointer justify-start py-3 px-2"
        :class="
          current === 4
            ? 'bg-custom-blue6 text-white '
            : 'border1 bg-white text-custom-blue6'
        "
      >
        <font-awesome-icon icon="briefcase" class="text-5xl" />
        <h5 class="text-sm text-center">
          Contact & Support
        </h5>
      </div>
      <div
        @click="(current = 5), (current_desc = description_data_quest)"
        class=" flex flex-col rounded h-38 items-center cursor-pointer justify-start py-3 px-2"
        :class="
          current === 5
            ? 'bg-custom-blue6 text-white '
            : 'border1 bg-white text-custom-blue6'
        "
      >
        <font-awesome-icon icon="briefcase" class="text-5xl" />
        <h5 class="text-sm text-center">
          More Questions
        </h5>
      </div>
    </div>
    <Description :description="current_desc" />
  </div>
</template>

<script>
import Description from "../buying-dvc/description/index.vue";
export default {
  data() {
    return {
      current: 0,
      current_desc: [],
      description_data_quest: [
        {
          name: "How do I determine the best real estate broker to sell my membership?",
          description: `Buying and selling a DVC membership is a real estate transaction, so you must have a licensed real estate broker guide you through the process. You’ll want to make sure the broker is experienced with the process of selling DVC memberships specifically.

Our team at DVC Sales has 25 years of experience selling DVC memberships for the Walt Disney Company. We have assisted thousands of families through the process and have the knowledge and expertise required to make the process smooth and easy!

`,
        },
        {
          name: "What happens if I want to sell my contract at Disney’s Riviera Resort?",
          description:
            "The resale value of a Riviera contract remains unknown. Due to the newest restrictions, members who purchase a DVC resale at Riviera will only be able to stay at Riviera. One of the biggest benefits of being a DVC member is the ability to book stays at many different resorts, so this restriction will significantly reduce the value of a Riviera contract on the resale market. We strongly encourage all members looking to purchase Riviera contracts directly to consider this before purchasing.",
        },
        {
          name: "Will I receive a copy of the contract? ",
          description: `Yes. Once you accept an offer, a contract will be automatically generated and sent to both you and the buyer. You will then be able to sign the contract online and we will send you a copy for your files. `,
        },
        {
          name: "Will I receive a copy of the contract? ",
          description: `Yes. Once you accept an offer, a contract will be automatically generated and sent to both you and the buyer. You will then be able to sign the contract online and we will send you a copy for your files. `,
        },
          {
          name: "Does Disney Vacation Club have a resale department? ",
          description: `No. Disney Vacation Club does not have a resale department to assist with selling your Membership. Disney does, however, purchase resale contracts that are sold on the resale market through the right of first refusal process. DVC Sales is a Licensed Real Estate Broker specializing assisting members who are interested in selling their contracts on the secondary market. `,
        },
      ],
      description_data_contact: [
        {
          name: "How will I be notified when I receive an offer?",
          description: `Our automated system notifies both buyers and sellers immediately upon receiving offers or couter-offers. We know it's important for you to receive this information in 'real-time'. You will receive a text message and/or email immediately after an offer has been placed, depending on your communication preferences. No waiting around for the next business day to get updates on your listing!`,
        },
        {
          name: "How do I list my contract for sale?",
          description:
            "Listing your membership for sale is simple. You’ll need to create an account in order to create a listing, place an offer, sign closing documents, and receive payment. Simply click the button on the top right-hand corner of this screen. You’ll be guided through a few prompts to create an account so you can place an offer or list your membership for sale. If selling, you'll need your contract number and member number available to input into the system. It's also important to verify your current availability of points as it's essential that all listings on our website are represented accurately.",
        },
        {
          name: "How do I change my password? ",
          description: `After logging into your account, click the gear wheel in the left-hand corner of the page to access your settings. Then, click the “edit password” button.`,
        },
        {
          name: "Why do you need my personal information?",
          description:
            "Buying or selling a DVC membership means that you are entering into a real estate transaction. Certain essential information is required so that we can verify your identity, membership accuracy, and forms of payment. If you have any questions, please feel free to contact us or send us a message through our live chat feature.",
        },
        {
          name: "Is my personal information safe?",
          description:
            "Absolutely. We take your privacy and security seriously. We will not share your information with any third party other than as necessary to complete a real estate transaction. View our privacy policy here.",
        },
        {
          name: "How often will I receive notifications?",
          description:
            "Once you log in to your account, you can set up your communication preferences. You may add a mobile number to receive text messages and email notifications related to your offer. We’ll notify you throughout the closing and ROFR process.",
        },
        {
          name:
            "How do I contact you?",
          description:
            "We have several ways for you to get in touch with our team! All of our contact information is listed here. Also, you can always use our built-in chat feature to speak with us directly!",
        },
        {
          name: "What is the best way to contact DVC Sales?",
          description:
            "We encourage you to call us with any questions! Our phone numbers are (407) 205-1435 and 844-382-7253",
        },
      ],
      description_data_finance: [
        {
          name:
            "How much are closing costs and what is included?",
          description:
            "Typically, closing costs average between $500 and $700 based on the purchase price on the contract, but these fees are almost always paid by the buyer. This fee is what the title company charges for completing a title search, providing the buyer with title insurance and includes all of the document preparation and recording fees with the county where your property is based. Closing costs will differ from state to state. Florida, California, South Carolina, and Hawaii all have different laws to abide by and the fees differ as well.",
        },
        {
          name: "How much will I receive at closing?",
          description:
            "At closing, you can expect to receive the sale proceeds less a $150 Right of First Refusal and Estoppel Fee (charged by Disney), and a real estate commission of 8%.Any outstanding liens, mortgages, maintenance fees, or late fees that may have been assessed to your property will also be deducted at that time. Other taxes may be taken out of the final payment (such as FIRPTA and HARPTA tax withholdings), depending on your specific situation.You may view (or change) your asking price to see how this will affect your estimated net to seller proceeds at any time. This will help give you a clear idea of how much you will receive at closing. Of course, call us at any time if you have questions!",
        },
        {
          name: "How much are closing costs and what is includedAre there any upfront fees or hidden costs when selling my membership?",
          description:
            "Our company doesn’t charge any upfront fees to sell your Membership. In fact, any resale company who does may not have your best interests in mind. We work hard to market and ultimately sell the contracts we have listed on our site. We get paid when you do- at closing. We are committed to being completely transparent throughout every aspect of the buying and selling process. You’ll know what costs you are responsible for before you sign a contract. We will never add on additional fees you were not expecting.",
        },
        {
          name: "What is the Estoppel fee?",
          description:
            "This includes providing the title company with information required for closing- such as, is the seller current on all dues? Does the seller have a loan that needs to be paid off and if so, how much is owed? This fee is paid by the seller and taken out of the seller’s final payment at closing. ",
        },
        {
          name: "What is FIRPTA?",
          description:
            "Our licensed and insured attorney owned title company can complete closings for sellers worldwide. There may be some applicable fees associated with non-US sales, including FIRPTA. FIRPTA stands for Foreign Investment Real Property Tax Act. It’s a federal tax withholding that applies to real property when the seller is not a U.S. citizen. According to the tax law, all non-residents selling U.S. property must withhold 15% of the sales price and send it to the IRS. Read more about FIRPTA and whether it applies to you here. Keep in mind that the FIRPTA tax has to do with the financial gain a seller receives over how much they initially paid when purchasing their membership initially.To avoid paying the FIRPTA tax as a non-U.S. seller, you must have a U.S. Social Security Number OR an Individual Taxpayer Identification Number (ITIN). If the seller has neither of these, an application to obtain an ITIN must also be filed along with the other FIRPTA paperwork. The process of obtaining an ITIN can take some time, so we suggest you contact a FIRPTA compliance company as soon as possible.",
        },
        {
          name: "What is HARPTA?",
          description:
            "Like FIRPTA, HARPTA is based on the profit that is realized over what the seller initially paid to purchase the DVC membership. HARPTA stands for Hawaii Real Property Tax Act. It’s a Hawaii state tax withholding that applies to all real estate transactions in Hawaii. The act states that all non-resident sellers must withhold 7.25% of the “realized” price (usually the property’s sales price) and pay it directly to the Department of Taxation in Hawaii. Once proper documents are files, most sellers receive the withholding back unless a profit is made. ",
        },
      ],
      description_data_prcess: [
        {
          name: "How do I list my membership for sale?",
          description: `Simply click the 'Create Account' button on the top right corner of this screen. You’ll be guided through a few prompts to create an account and publish your listing on our website. To save time, make sure you have your contract number and member number as well as your current availability of points. Disney no longer verifies members point availability so we ask sellers to either go to their online account or call member services (800-800-9800) to confirm their current point availability. Point accuracy is essential to every listing. At point of sale, sellers are asked again to verify their point availability so there is not discrepency at closing. `},
        {
          name: "What information do I need to create my listing?",
          description:
            "You’ll need your contract and member ID number on hand to create a listing, as well as the names of anyone who is on the deed. We’ll also ask for an electronic signature so we can request a PAS statement on your behalf. No other additional information is required.",
        },
        {
          name: "May I adjust the price of my listing?",
          description:
            "Yes, simply log in to your account at any time to adjust your price up or down. The price you list and sell your membership for is completely your decision",
        },
        {
          name: "What actions can I take after I receive an offer?",
          description: `Once a buyer makes an offer, you have the option to accept, decline, or make a counteroffer. Log into your account to select your choice`,
        },
        {
          name: "What’s the likelihood someone will see my listing?",
          description: `80% of our website visitors are buyers. There is a great chance an ideal buyer will see your listing within a few days. Most of our inventory is sold within 30-40 days.`,
        },
      ],
      description_data_resale: [
        {
          name:
            "How does the selling process work? ",
          description: `Once you create an account, you'll be prompted to answer a few questions to publish your listing on our website. You will need your member number and contract number handy as well as your current point availability. 

When a buyer places an offer on your contract, you'll receive an email or text immediately. You may then accept or place a counter-offer with the buyer. Sellers have three (3) days to respond to an offer once it's made.

If both parties agree, a contract will be automatically generated. You'll be able to sign the agreement electronically and will be sent a copy of the fully executed agreement for your records. We will also send copies of the contract to our title company and to Disney to start the ROFR process. Disney Vacation Club Review Board has 30 days once they receive a contract to look it over and determine whether they want to exercise their right to buy your contract back. Remember, should Disney decide to buy your contract, this in no way effects you as a seller- you will receive the same price you agreed to with your buyer.  `},
        {
          name:
            "What is ROFR?",
          description: `ROFR stands for "Right Of First Refusal" and is the process of sending an accepted DVC resale contract to the DVC Review Board. The Board reviews the contract and decides whether to enact ROFR. If they do, Disney will step in and buy the contract themselves. This process aims to ensure the price of DVC properties stays in line with current resale market values.

The exact criteria Disney uses to enact ROFR isn't public. However, one important factor is whether DVC feels that the selling price, including who pays closing costs and annual dues, is below their established market price. If Disney enacts ROFR on a contract you're selling, Disney becomes the buyer and will purchase the contract for the same price that you agreed upon with your buyer. The buyer will need to start the buying process over and search for a new contract. `},
        {
          name:
            "How long does the sales process take?",
          description: `Once a contract has been signed and the deposit received, closing typically takes 45-50 days. The paperwork, once executed by both buyer and seller, then goes to Disney for ROFR. They have 30 days to decide if they would like to buy it back for that agreed-upon price or allow the sale to go through. This is called the Right of First Refusal (ROFR). This has little bearing on the seller because the seller will receive the exact same amount of money as the agreed-upon price, regardless of who is purchasing the contract. The buyer, however, will need to find another contract to purchase. We will keep you up-to-date the entire way through the sales process. `,
        },
        {
          name: "How long does it take to sell my membership?",
          description: `Most of the memberships listed with us sell within 30-45 days. About 80% of our daily site visitors are buyers. This means there’s a great chance an ideal buyer will see your listing within a short time.Once you have agreed to a price with a buyer, the closing process takes about 30-45 days`,
        },
        {
          name:
            "How long does closing take once an offer is accepted?",
          description:
            "Closing typically takes between 40-50 days once an offer is accepted, the contract signed, and the deposit received.",
        },
        {
          name: "Do I need to show up in person in order to close?",
          description: `No. Buying and selling your DVC membership with DVC Sales is done entirely online using our automated system. You can buy or sell your DVC membership from anywhere in the world!`,
        },
        {
          name: "How will I receive my payment after closing?",
          description:
            "Sellers typically elect for a wire transfer directly into the account after closing. YOu may also request to receive a check from the title company via FedEx. ",
        },
      ],
      description_data_basics: [
        {
          name: "Why should I list my Membership with DVC Sales?",
          description:
            "We are former Disney Vacation Club cast members and sold directly for Disney for 25 years. We have helped thousands of families make their DVC dreams come true! We now have the opportunity to assist both buyers and sellers on the resale market. We know the process of selling DVC memberships inside and out, and we use this knowledge to help close your transaction quickly. Our automated online system makes creating a listing easy! With roughly 800-1,000 daily website visitors (80% of which are buyers), your listing will be seen by many potential buyers. Most of our inventory is sold within 30-40 days",
        },
        {
          name: "How do I determine the value of my contract?",
          description:
            "There are several factors involved in determining what your contract may be worth on the resale market. These include your Home Resort, yearly point allotment, and very importantly, the number of points currently available. Buyers like to see contracts with a large number of unused points available with a per-point price range that fits their budget. We suggest all sellers use our resale value calculator to help price their DVC membership when listing on our website. This tool will give you a range of per-point prices based on current DVC resale market trends for your specific membership.Another helpful idea is to visit our listings page. It's important to see at what price other contracts similar to yours are listed. And last but not least, please call or email a member of our team to discuss a pricing. This is what we do every day, and we are here to help you sell your membership for the highest possible price! We are former Disney Vacation Club cast members and sold directly for Disney for 25 years. We are happy to discuss your contract in detail and help you determine an appropriate listing price.Another important point is that the price is entirely up to you- the seller! We can give advice, but we want you to make the final decision as to the price you are looking for. Our site's tools are here to assist you in determining the relevant prices of today's resale market.We keep our calculator as up to date as possible, as values change from time to time. Just call or email us if you have any questions. We're here to help in any way possible. ",
        },
        {
          name: "Are resale prices negotiable?",
          description:
            "Just like general real estate, some sellers will negotiate, and some are firm on their asking price. By law, we are required to present all offers made. That being said, it’s the seller’s prerogative to ask whatever price they choose for their Membership. One of our favorite tools on our site is the Resale Value Calculator. This is a great resource for sellers to determine what their points are worth on the resale market. Also, it's important to take a look at our current listings to find other contracts similar to yours~ this helps sellers determine an appropriate sales price. ",
        },
        {
          name: "What if Disney buys my contract through ROFR?",
          description:
            "If Disney buys a contract back through ROFR, the seller will receive the exact same amount of money that they agreed to with their buyer. Disney must follow the details of the contract exactly. The buyer, however, will need to start the process of searching for a new contract and will have their escrow deposit returned.  ",
        },
       
      ],
    };
  },
  mounted() {
    this.current_desc = this.description_data_basics;
  },
  components: {
    Description,
  },
};
</script>

<style>
.border1 {
  border: 1px solid #214f73;
}
</style>
