<template>
  <div class="grid grid-cols-2">
    <div class="p-4 border bg-custom-blue6"></div>
    <div class="p-4 border bg-custom-blue6"></div>
    <div class="bg-custom-blue7 border py-1.5 text-white text-center font-bold">
      STUDIO
    </div>
    <div class="border py-1.5 text-custom-blue6 text-center font-bold">246</div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
