<template>
  <div>
    <div class="grid grid-cols-2 bg-custom-blue6">
      <div class=""></div>
      <div class="grid grid-cols-2 text-center text-white">
        <p class="col-span-2 border border-white ">
          Studio
        </p>
        <p class="border border-white">
          Standard
        </p>
        <p class="border border-white">
          Preferred
        </p>
      </div>
    </div>
    <div
      class="grid grid-cols-2 border border-custom-blue6"
      v-for="index in 4"
      :key="index"
    >
      <div class="flex justify-between items-center px-3 text-custom-blue6">
        <p>
          Sep 1 - 19
        </p>
        <div class="font-medium text-lg space-y-2">
          <p>Sun - Thu</p>
          <p>Fri - Sat</p>
        </div>
      </div>
      <div class="grid grid-cols-2 text-center text-custom-blue6">
        <p class="border border-custom-blue6 ">
          9
        </p>
        <p class="border border-custom-blue6">14</p>
        <p class="border border-custom-blue6">
          16
        </p>
        <p class="border border-custom-blue6">
          17
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
