<template>
  <div
    class="w-full bg-white flex flex-col h-54 items-center p-3 shadow-md rounded"
  >
    <p
      class="rounded-full bg-custom-orange5 text-white px-5 py-2 -mt-10 text-3xl"
    >
      2
    </p>
  
    <p class="text-custom-orange5 text-xl font-medium mt-6">
      TRAVEL DATES
    </p>
    <div class="flex space-x-6">
    <p class="text-custom-blue6">
      Check in Dates
    </p>
    <p class="text-custom-blue6">
      38 nights
    </p>
    </div>
    <div
      @click="togle = !togle"
      class=" mb-2 border border-2 border-custom-blue6 flex justify-between items-center   w-full cursor-pointer text-custom-blue6 font-medium py-2 rounded px-2 mt-4 "
    >
      {{ date(range.start) }} || {{ date(range.end) }}
    </div>
    <vc-date-picker v-if="togle" v-model="range" is-range />
  </div>
</template>

<script>
import moment from "moment";
export default {
  data() {
    return {
      togle: false,
      range: {
        start: new Date(),
        end: new Date(),
      },
    };
  },
  watch: {
    range(newVal) {
      if (newVal) {
        this.togle=false;
      }
    },
  },
  methods: {
    date(val) {
      return moment(val).format("MMM Do YYYY");
      // moment().format("MMM Do YY");
    },
  },
};
</script>

<style>
.vc-container {
  @apply w-full;
}
</style>
