<template>
  <div>
    <p class="text-center text-3xl text-custom-blue6 pb-6 font-medium">
      Vacation Point Calculator
    </p>
    <div
      class="flex md:flex-row flex-col md:items-start items-center justify-center items-start pt-16 md:space-x-4 space-x-0 md:space-y-0 space-y-12 lg:px-6 md:px-8 px-4"
    >
      <SelectResort class="lg:w-1/3 md:w-1/2 w-full" :options="resorts" />
      <TravelDate class="lg:w-1/3 md:w-1/2 w-full " />
    </div>
    <div class="mt-4 lg:px-16 md:px-8 px-4">
      <Roomstable />
    </div>
    <div class="mt-4 lg:px-16 md:px-8 px-4 md:w-full w-90vw">
      <DescRooms />
    </div>
    <div class="flex md:flex-row flex-col justify-between lg:px-16 md:px-8 px-4 mt-5 pb-6">
      <div class="flex md:flex-row flex-col justify-between w-full md:space-y-0 space-y-3">
        <button
          class="bg-white text-custom-blue6 border border-custom-blue6 px-12 text-lg py-2 rounded-md hover:bg-custom-blue6 hover:text-white"
        >
          2019
        </button>
        <button
          class="bg-white text-custom-blue6 border border-custom-blue6 px-12 text-lg py-2 rounded-md hover:bg-custom-blue6 hover:text-white"
        >
          2020
        </button>
        <button
          class="bg-white text-custom-blue6 border border-custom-blue6 px-12 text-lg py-2 rounded-md hover:bg-custom-blue6 hover:text-white"
        >
          2021
        </button>
      </div>
      <div class="w-full  flex justify-end md:pt-0 pt-3">
        <button
          class="bg-custom-blue7 text-white border md:w-1/2 w-full border-custom-bue6 px-5 py-2 rounded-md"
        >
          Show weekly total
        </button>
      </div>
    </div>
    <div class="lg:px-16 md:px-8 px-4 pb-5">
      <p class="text-custom-orange5 text-xl font-md">
        HOW TO USE THE VACATION POINT CALCULATOR
      </p>
      <p class="text-lg text-custom-blue6">
        This is our Vacation Point Calculator. The purpose of this tool is to
        assist buyers as they determine the right size membership for their
        family. There are Point Charts for each of the 14 Resorts, and the
        points per night will vary, depending on several factors. A two bedroom
        villa will naturally require more points per night than a deluxe studio.
        Do you typically travel during peak or off season? The number of points
        for each of the Disney Vacation Club Resorts will appear as you input
        the different dates and room sizes. As always, please let us know if you
        have any questions. We look forward to assisting you in any way we can!
      </p>
    </div>
  </div>
</template>

<script>
import SelectResort from "../../../components/calculator/select-resort/index.vue";
import TravelDate from "../../../components/calculator/travel-dates/index.vue";
import Roomstable from "../../../components/calculator/rooms-table/index.vue";
import DescRooms from "../../../components/calculator/desc-rooms/index.vue";
export default {
  data() {
    return {
      resorts: [
        "Aulani",
        "Animal King",
        "Bay Lake Tower",
        "Beach Club",
        "Board Walk",
        "Boulder Ridge",
        "Copper Creek",
        "Grand CA",
        "Grand Flordian",
        "Hilton Road",
        "Old Key West",
        "Polynesian",
        "Riviera",
        "Saratoga Springs",
        "Vero Beach",
      ],
    };
  },
  components: {
    SelectResort,
    TravelDate,
    Roomstable,
    DescRooms,
  },
};
</script>

<style></style>
