<template>
  <div>
    <div class="mt-10 flex justify-between items-start px-3">
      <ul class="bg-custom-light0 w-max mt-20">
        <li
          class="py-2 px-4 border border-custom-blue4 whitespace-nowrap"
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage === tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[40%] rounded">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div
              class="text-lg w-10/12 text-custom-blue4 mt-5 text-left mx-auto"
            >
              {{ tab.description }}
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Artist Points",
      tabs: [
        {
          name: "Artist Points",
          imgs: [require("../../assets/wl-boulder-ridge/dining/1.png")],
          description:
            "Dine with beloved characters from Snow White and the Seven Dwarfs at the Story Book Dinner at Artist Point. The restaurant is transformed into an enchanted forest while you dine under twinkling lights. Enjoy a wide variety of cocktails, mocktails, and storybook-themed entrees, including Mushroom Bisque soup and Grimm Roasted Chicken. Top it all off with a 'poison' apple or Gooseberry pie for dessert.",
        },
        {
          name: "Whispering Canyon Cafe",
          imgs: [
            require("../../assets/wl-copper-creek/dining/canyon/1.png"),
            require("../../assets/wl-copper-creek/dining/canyon/2.png"),
            require("../../assets/wl-copper-creek/dining/canyon/3.png"),
            require("../../assets/wl-copper-creek/dining/canyon/4.png"),
          ],
          description:
            "Round up the whole family for a rootin’ tootin’ good time with hearty western fare and antics from Cast Members. Serving breakfast, lunch, and dinner, Whispering Canyon Café offers entrees the entire family will love.  ",
        },
        {
          name: "Roaring Fork: ",
          imgs: [
            require("../../assets/wl-copper-creek/dining/roaring/1.png"),
            require("../../assets/wl-copper-creek/dining/roaring/2.png"),
            require("../../assets/wl-copper-creek/dining/roaring/3.png"),
            require("../../assets/wl-copper-creek/dining/roaring/4.png"),
          ],
          description:
            "Rush by for a rapid refuel. Continental and hot breakfast are served, along with gourmet sandwiches, grill items, and pizza for lunch and dinner. Try a roast beef bleu cheese sandwich or a signature Wilderness Salad. Beer and wine are also available.",
        },
        {
          name: "Territory Lounge",
          imgs: [
            require("../../assets/wl-copper-creek/dining/gayser/1.png"),
            require("../../assets/wl-copper-creek/dining/gayser/2.png"),
            require("../../assets/wl-copper-creek/dining/gayser/3.png"),
          ],
          description:
            "Rustic décor, northwestern wines, and delicious appetizers like flatbreads and wings are welcome, familiar territory. Specialty cocktails like the pear blossom cosmo and beers such as Moosehead and Red Hook are featured. ",
        },
        {
          name: "Geyser Point Bar and Grill ",
          imgs: [
            require("../../assets/wl-copper-creek/dining/teritory/1.png"),
            require("../../assets/wl-copper-creek/dining/teritory/2.png"),
            require("../../assets/wl-copper-creek/dining/teritory/3.png"),
            require("../../assets/wl-copper-creek/dining/teritory/4.png"),
          ],
          description:
            "A poolside restaurant with a wilderness theme, Geyser Point allows diners to explore spirits and quick bites while overlooking Bay Lake. ",
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
