<template>
  <div>
    <section class="mt-10 uppercase">
      <ul class="flex justify-center gap-1 flex-wrap">
        <li
          v-for="(item, index) in pages"
          class="bg-custom-light0 text-custom-blue4 p-3 hover:bg-custom-blue3 hover:text-white rounded"
          :class="[
            activePage == item.component
              ? '!bg-custom-blue4 !text-white'
              : 'text-custom-blue4',
          ]"
          :key="index"
          @click="activePage = item.component"
        >
          {{ item.name }}
        </li>
      </ul>
    </section>
    <section class="mt-1">
      <component :is="activePage"></component>
    </section>
  </div>
</template>
<script>
import Overview from "./overview.vue";
import Rooms from "./rooms.vue";
import Dining from "./dining.vue";
import PointChart from "./point-chart.vue";
import Map from "./map.vue";
export default {
  components: {
    Overview,
    Dining,
    Rooms,
    PointChart,
    Map,
  },
  data() {
    return {
      activePage: "overview",
      pages: [
        { component: "overview", name: "overview" },
        { component: "rooms", name: "rooms" },
        { component: "dining", name: "dining" },
        { component: "point-chart", name: "point chart" },
        { component: "Map", name: "map" },
        { component: "inventory-for-sale", name: "inventory for sale" },
      ],
    };
  },
};
</script>
