<template>
  <div class="flex items-center justify-center mt-5">
    <img :src="require('../../assets/wl-copper-creek/map.jpg')" />
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>
