<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in images" :key="index">
                <div class="overflow-hidden relative w-full pb-[40%]">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Disney's Copper Creek Villas & Cabins
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                Escape to a rustic retreat where your family can relax and
                reconnect while enjoying all the amenities and benefits of a
                Disney Resort. Structured as a "base camp" and modeled after the
                legendary National Park lodges of the 20th century, Copper Creek
                Villas & Cabins at Disney’s Wilderness Lodge is a fantastic
                place to call home. Though you're immersed in natural
                surroundings, you're just around the river bend from Magic
                Kingdom. The Copper Creek Villas include 26 waterfront cabins
                with screened wrap-around porches and hot tubs. Settle into your
                Disney Vacation Club villa and enjoy all of the amenities and
                recreational offerings available at this second DVC location at
                Disney’s Wilderness Lodge.
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline"
              >
                What makes Disney's Copper Creek great!
              </h2>
            </div>
            <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      active: false,
      names: [
        "An escape close to the magic",
        "Rustic surroundings",
        "Recreational activities enhance your stay",
      ],
      images_b: [
        require("../../assets/wl-copper-creek/10.png"),
        require("../../assets/wl-copper-creek/11.png"),
        require("../../assets/wl-copper-creek/12.png"),
      ],
      discriptions: [
        "Located in the Magic Kingdom resort area, Wilderness Lodge is set far back enough to feel that you are genuinely in the Pacific Northwest while being a short bus or boat ride to the Magic Kingdom. ",
        "Natural wonder awaits when you call Wilderness Lodge 'home.' ",
        "From sailboat rentals to bike trails and fishing, there's never a shortage of things to do at The Wilderness Lodge. It's a vacation all in itself! ",
      ],
      images: [
        // require("../../assets/wl-copper-creek/1.png"),
        require("../../assets/wl-copper-creek/2.png"),
        // require("../../assets/wl-copper-creek/3.png"),
        require("../../assets/wl-copper-creek/4.png"),
        // require("../../assets/wl-copper-creek/5.png"),
        // require("../../assets/wl-copper-creek/6.png"),
        require("../../assets/wl-copper-creek/7.png"),
        require("../../assets/wl-copper-creek/8.png"),
        // require("../../assets/wl-copper-creek/9.png"),
        // require("../../assets/wl-copper-creek/10.png"),
        // require("../../assets/wl-copper-creek/11.png"),
        require("../../assets/wl-copper-creek/12.png"),
        require("../../assets/wl-copper-creek/13.png"),
        // require("../../assets/wl-copper-creek/14.png"),
      ],
    };
  },
};
</script>
