<template>
  <div>
    <div class="mt-10 flex justify-between items-start px-3">
      <ul class="bg-custom-light0 w-72 mt-20">
        <li
          class="py-2 px-4 border border-custom-blue4 "
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage === tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[40%] rounded">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div
              class="text-lg w-10/12 text-custom-blue4 mt-5 text-left mx-auto"
            >
              {{ tab.description }}
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Topolino's Terrace – Flavors of the Riviera",
      tabs: [
        {
          name: "Topolino's Terrace – Flavors of the Riviera",
          imgs: [
            require("../../assets/polynesian/dining/ohana/1.png"),
            require("../../assets/polynesian/dining/ohana/2.png"),
          ],
          description:
            "Modeled after cliffside restaurants dotting the Riviera, Topolino's Terrace provides a stunning backdrop for European and Meditteranean-inspired dishes at this rooftop eatery. Time your dinner so that you can view nighttime fireworks from nearby Epcot or Disney's Hollywood Studios. At breakfast, Disney characters will greet you as you enjoy a prix-fixe menu",
        },
        {
          name: "Le Petit Café",
          imgs: [
            require("../../assets/polynesian/dining/aloha/1.png"),
            require("../../assets/polynesian/dining/aloha/2.png"),
            require("../../assets/polynesian/dining/aloha/3.png"),
          ],
          description:
            "This small cafe transforms from a coffee and pastry shop in the morning into a wine and appetizer bar at night—all inspired by the sophistication and elegance of Paris. From lattes, freshly brewed coffee, and pastries to sparkling wine and appetizers, take your bites and dine alfresco! ",
        },
        {
          name: "Bar Riva",
          imgs: [
            require("../../assets/polynesian/dining/kona/1.png"),
            require("../../assets/polynesian/dining/kona/2.png"),
            require("../../assets/polynesian/dining/kona/3.png"),
            require("../../assets/polynesian/dining/kona/4.png"),
          ],
          description:
            "Spend a relaxing afternoon sampling sandwiches, salads, cocktails, and more at this poolside lounge. Take a cue from Riviera natives and enjoy long-lunches with Mediterranean and European-infused dishes. Sip on a frozen drink, spritzer, or rosé and munch on delectable hand-crafted sandwiches. ",
        },
        {
          name: "Primo Piatto",
          imgs: [
            require("../../assets/polynesian/dining/tambu/1.png"),
            require("../../assets/polynesian/dining/tambu/2.png"),
            require("../../assets/polynesian/dining/tambu/3.png"),
            require("../../assets/polynesian/dining/tambu/4.png"),
          ],
          description:
            "Enjoy gourmet breakfast, lunch, or dinner in a quick-service setting that offers specialties like blueberry-lemon pancakes, Margherita pizza, plus hot and cold sandwiches. ",
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
