<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in images" :key="index">
                <div class="overflow-hidden relative w-full pb-[40%]">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                Disney's Riveria
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                The grandeur of historic European villages and fairy-tale
                castles have inspired Disney's greatest stories. That
                inspiration has been taken across the pond and transformed into
                Disney's 15th Disney Vacation Club resort. Grand archways, a
                stunning façade, porticos, and terraces come together to create
                this unique and striking resort that draws upon European and
                Medittearnan influences. This new resort includes various
                updates and amenities that add modern elements to classic
                surroundings. Artist touches are seen throughout the resort,
                including an art gallery in the main lobby. Beautiful gardens
                and a peaceful waterfront make the resort shine from the inside
                out.
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline"
              >
                What makes Disney's Riveria Resort great! 
              </h2>
            </div>
            <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      active: false,
      discriptions: [
        "As part of Disney's Skyliner system, you can travel via gondolas to nearby attractions and get a birds-eye view along the way.",
        "Lush gardens, Mediterranean-style pools, and decor fashioned after European villages will make you believe you've traveled to a different country",
        "Stay in shape at the state-of-the-art fitness center, which includes Technogym® equipment, treadmills, and more. Take advantage of the jogging trails, chess lawn, and bocce ball court as well!",
      ],
      names: [
        "Soar to Epcot and Hollywood Studios",
        "European elegance",
        "Fitness and activity centers",
      ],
      images_b: [
        require("../../assets/old-key-west/3.png"),
        require("../../assets/old-key-west/4.png"),
        require("../../assets/old-key-west/5.png"),
      ],
      images: [
        require("../../assets/riveria/1.png"),
      ],
    };
  },
};
</script>
