<template>
  <div>
    <div class="mt-10 flex justify-between items-start">
      <ul class="bg-custom-light0 w-max mt-20">
        <li
          class="py-2 px-4 border border-custom-blue4 whitespace-nowrap"
          :class="[{ 'bg-custom-blue4 text-white': activePage == tab.name }]"
          v-for="tab in tabs"
          @click="changeView($event, tab.name)"
          :key="tab.name"
        >
          <a :href="'#' + tab.name"> {{ tab.name }}</a>
        </li>
      </ul>
      <div class="w-full text-center flex min-h-screen">
        <template v-for="(tab, index) in tabs">
          <div :key="index" v-if="activePage === tab.name">
            <div>
              <h1 class="text-3xl font-semibold text-custom-blue4">
                {{ tab.name }}
              </h1>
            </div>
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in tab.imgs" :key="index">
                <div class="overflow-hidden relative pb-[40%] rounded">
                  <img :src="img" class="w-full h-full object-cover absolute" />
                </div>
              </slide>
            </carousel>
            <div
              class="text-lg w-10/12 text-custom-blue4 mt-5 text-left mx-auto"
            >
              {{ tab.description }}
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      activePage: "Tide Me Over",
      tabs: [
        {
          name: "Tide Me Over",
          imgs: [require("../../assets/hilton-head/dining/tide/1.jpg")],
          description:
            "A quick pit stop and snack bar featuring burgers, sandwiches, salads, and South Carolina favorites. Nestled near the Board Creek Mercantile, stop by Tide Me Over to refuel between activities. Order ahead for an even faster pick-up!",
        },
        {
          name: "Signals Seaside Grill",
          imgs: [require("../../assets/hilton-head/dining/signal/1.jpg")],
          description:
            "Purchase a refillable mug and get free refills during your entire stay at this quick-service eatery located inside Disney's Beach House. Offerings include salads, sandwiches, and sweet treats. ",
        },
      ],
    };
  },
  methods: {
    changeView(e, tab) {
      e.preventDefault();
      this.activePage = tab;
    },
  },
};
</script>
