<template>
  <div>
    <div class="flex items-center gap-x-2">
      <div class="mt-5 w-screen">
        <div class="mx-4">
          <div class="py-5">
            <carousel
              :perPage="1"
              :navigationEnabled="true"
              paginationColor="#337ab7"
              class="w-10/12 mx-auto mt-5"
              navigationPrevLabel='<svg  class="h-8 w-8 -mt-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
</svg>'
              navigationNextLabel='<svg  class="h-8 w-8 -mt-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>'
            >
              <slide v-for="(img, index) in images" :key="index">
                <div
                  class="overflow-hidden relative w-full pb-[50%] rounded-md"
                >
                  <img
                    :src="img"
                    class="w-full h-full object-cover object-bottom absolute"
                  />
                </div>
              </slide>
            </carousel>
            <div class="text-center mt-5">
              <h2
                class="text-custom-blue4 text-4xl font-semibold uppercase mt-2"
              >
                BEST DVC Hilton Head Island Resort
              </h2>
            </div>
            <div class="mt-2 overflow-auto text-lg">
              <p class="text-custom-blue4 font-medium">
                Take a trip back in time when you stay at Disney’s Hilton Head
                Resort. Fashioned after a hunting and fishing lodge from the
                1940s, Disney's Hilton Head Resort offers white sand beaches
                contrasted by giant oak trees surrounding Shelter Cove Harbor.
                Enjoy spacious vacation homes in the seclusion of this 15-acre
                island nestled in South Carolina’s southernmost tip. Only 5
                hours from Walt Disney World, this quiet getaway is the perfect
                spot for a taste of classic southern charm. Explore the town of
                Hilton Head with a variety of activities just outside the
                resort.
              </p>
            </div>
            <div class="mt-7">
              <h2
                class="text-custom-orange1 font-body text-3xl  text-center font-semibold uppercase mt-2 underline"
              >
                What makes Disney's Hilton head Resort great!
              </h2>
            </div>
            <div
              class="w-full flex md:flex-row flex-col mt-7 items-stretch md:space-x-3 space-x-0 md:space-y-0 space-y-3"
            >
              <template v-for="(i, index) in discriptions">
                <div
                  class="md:w-1/3 w-full p-5 bg-white shadow rounded-lg "
                  :key="index"
                >
                  <div>
                    <img :src="images_b[index]" class="h-32 w-full" />
                  </div>

                  <div class="p-4 text-custom-blue4 font-medium h-full">
                    <h2 class="py-2 text-xl underline uppercase">
                      {{ names[index] }}
                    </h2>
                    {{ i }}
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      active: false,
      discriptions: [
        "Situated on 12 miles of pristine beachfront property, Disney's Hilton Head Resort gives you exclusive access to the best beach in South Carolina.",
        "The service and attention to detail you expect from Disney, combined with southern charm, create a resort that epitomizes family-friendliness. ",
        "Choose from over 30 public golf courses in the local area, rent a bike or fishing pole, sing songs by the campfire, or sunbathe at the beach. Plus, enjoy board games, arts and crafts, video games, and more at the Community Hall and Disney's Beach House.",
      ],
      names: [
        "Private, beachfront oasis",
        "Southern hospitality",
        "Recreation abounds",
      ],
      images_b: [
        require("../../assets/hilton-head/1.png"),
        require("../../assets/hilton-head/2.png"),
        require("../../assets/hilton-head/3.png"),
      ],
      images: [
        require("../../assets/hilton-head/1.png"),
        // require("../../assets/hilton-head/2.png"),
        require("../../assets/hilton-head/3.png"),
      ],
    };
  },
};
</script>
