<template>
  <div>
    <Header />
    <div class="flex flex-no-wrap bg-custom-bg1 h-screen">
      <Sidebar class="" />
      <div class="container overflow-y-auto h-full  mx-auto py-10  ">
        <div class="w-full h-full ">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../../components/v-header.vue";
import Sidebar from "../../components/sidebar-buying/index.vue";
export default {
  components: {
    Sidebar,
    Header,
  },
};
</script>

<style></style>
