<template>
  <div class="px-16 pb-16">
     <h1 class="text-center text-3xl text-custom-blue6 pb-6 font-medium">
    DISNEY RETAIL PRICES
    </h1>
    <div class="border border-custom-blue6 rounded shadow-md">
      <div class="flex bg-custom-blue6 ">
        <p class="w-full text-left pl-3 text-white font-medium py-1.5">
          RESORT NAME
        </p>
        <template v-for="(head, index) in table_data.headings">
          <p
            v-if="checkedOptions.some((val) => val === head)"
            class="w-full text-left text-white font-medium py-1.5"
            :key="index"
          >
            {{ head }}
          </p>
        </template>
      </div>
      <template v-for="(data, index) in table_data.data">
        <div
          class="flex cursor-pointer"
          :class="index % 2 === 0 ? 'bg-custom-light0' : ''"
          :key="index"
        >
          <p class="w-full text-left pl-3 text-custom-blue6 ">
            {{ data.name }}
          </p>
          <p
            v-if="checkedOptions.some((val) => val === 'RETAIL 2017')"
            class="w-full text-left pl-3 text-custom-blue6 "
          >
            {{ data.RETAIL_2017 }}
          </p>
          <p
            v-if="checkedOptions.some((val) => val === 'RETAIL 2018')"
            class="w-full text-left pl-3 text-custom-blue6 "
          >
            {{ data.RETAIL_2018 }}
          </p>
          <p
            v-if="checkedOptions.some((val) => val === 'RETAIL 2019')"
            class="w-full text-left pl-3 text-custom-blue6 "
          >
            {{ data.RETAIL_2019 }}
          </p>
          <p
            v-if="checkedOptions.some((val) => val === 'RETAIL 2019 N')"
            class="w-full text-left pl-3 text-custom-blue6 "
          >
            {{ data.RETAIL_2019_N }}
          </p>
          <p
            v-if="checkedOptions.some((val) => val === 'RETAIL 2021')"
            class="w-full text-left pl-3 text-custom-blue6 "
          >
            {{ data.RETAIL_2021 }}
          </p>
          <p
            v-if="checkedOptions.some((val) => val === 'YEARS LEFT')"
            class="w-full text-left pl-3 text-custom-blue6 "
          >
            {{ data.YEARS_LEFT }}
          </p>
          <p
            v-if="checkedOptions.some((val) => val === 'ANNUAL DUES')"
            class="w-full text-left pl-3 text-custom-blue6 "
          >
            {{ data.ANNUAL_DUES }}
          </p>
        </div>
      </template>
    </div>
    <div class="pt-4">
      <h5 class="text-center text-custom-blue6">
        Show/Hide Columns
      </h5>
      <div class="flex justify-center space-x-2 text-center text-custom-blue6">
        <div class="flex items-center">
          <input
            type="checkbox"
            id="RETAIL 2017"
            value="RETAIL 2017"
            v-model="checkedOptions"
          />
          <label for="RETAIL 2017">Retail 2017</label>
        </div>
        <div class="flex items-center">
          <input
            type="checkbox"
            id="RETAIL 2018"
            value="RETAIL 2018"
            v-model="checkedOptions"
          />
          <label for="RETAIL 2018">RETAIL 2018</label>
        </div>
        <div class="flex items-center">
          <input
            type="checkbox"
            id="RETAIL 2019"
            value="RETAIL 2019"
            v-model="checkedOptions"
          />
          <label for="RETAIL 2019">RETAIL 2019</label>
        </div>
        <div class="flex items-center">
          <input
            type="checkbox"
            id="RETAIL 2019 N"
            value="RETAIL 2019 N"
            v-model="checkedOptions"
          />
          <label for="RETAIL 2019 N">RETAIL 2019 N</label>
        </div>
        <div class="flex items-center">
          <input
            type="checkbox"
            id="RETAIL 2021"
            value="RETAIL 2021"
            v-model="checkedOptions"
          />
          <label for="RETAIL 2021">RETAIL 2021</label>
        </div>
        <div class="flex items-center">
          <input
            type="checkbox"
            id="YEARS LEFT"
            value="YEARS LEFT"
            v-model="checkedOptions"
          />
          <label for="YEARS LEFT">YEARS LEFT</label>
        </div>
        <div class="flex items-center">
          <input
            type="checkbox"
            id="ANNUAL DUES"
            value="ANNUAL DUES"
            v-model="checkedOptions"
          />
          <label for="ANNUAL DUES">ANNUAL DUES</label>
        </div>
      </div>
      <div class="flex justify-center pt-4">
        <button class="text-center text-white bg-custom-blue6 rounded px-4">
          Historical Dues
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      checkedOptions: [],
      table_data: {
        headings: [
          "RESORT",
          "RETAIL 2017",
          "RETAIL 2018",
          "RETAIL 2019",
          "RETAIL 2019 N",
          "RETAIL 2021",
          "YEARS LEFT",
          "ANNUAL DUES",
        ],
        data: [
          {
            name: "ANIMAL KINGDOM",
            RETAIL_2017: "$165",
            RETAIL_2018: "$171",
            RETAIL_2019: "$176",
            RETAIL_2019_N: "$186",
            RETAIL_2021: "$186	",
            YEARS_LEFT: "36",
            ANNUAL_DUES: "$ 7.43",
          },
          {
            name: "AULANI",
            RETAIL_2017: "$176",
            RETAIL_2018: "$182",
            RETAIL_2019: "$188",
            RETAIL_2019_N: "$188",
            RETAIL_2021: "$201",
            YEARS_LEFT: "41",
            ANNUAL_DUES: "$ 7.86",
          },
          {
            name: "BAY LAKE TOWER",
            RETAIL_2017: "$185",
            RETAIL_2018: "$191",
            RETAIL_2019: "$225",
            RETAIL_2019_N: "$235",
            RETAIL_2021: "$245",
            YEARS_LEFT: "39",
            ANNUAL_DUES: "$ 6.39",
          },
          {
            name: "BEACH CLUB",
            RETAIL_2017: "$165",
            RETAIL_2018: "$185",
            RETAIL_2019: "$225",
            RETAIL_2019_N: "$235",
            RETAIL_2021: "$245",
            YEARS_LEFT: "21",
            ANNUAL_DUES: "$ 6.94",
          },
          {
            name: "BOARDWALK",
            RETAIL_2017: "$165",
            RETAIL_2018: "$171",
            RETAIL_2019: "$190",
            RETAIL_2019_N: "$200",
            RETAIL_2021: "$210",
            YEARS_LEFT: "21",
            ANNUAL_DUES: "$ 7.17",
          },
          {
            name: "BOULDER RIDGE",
            RETAIL_2017: "$165",
            RETAIL_2018: "$171",
            RETAIL_2019: "$176",
            RETAIL_2019_N: "$186",
            RETAIL_2021: "$190",
            YEARS_LEFT: "21",
            ANNUAL_DUES: "$ 7.32",
          },
          {
            name: "COPPER CREEK",
            RETAIL_2017: "$176",
            RETAIL_2018: "$182",
            RETAIL_2019: "$188",
            RETAIL_2019_N: "$220",
            RETAIL_2021: "$225",
            YEARS_LEFT: "47",
            ANNUAL_DUES: "$ 7.43",
          },
          {
            name: "GRAND CA",
            RETAIL_2017: "$185",
            RETAIL_2018: "$235",
            RETAIL_2019: "$260",
            RETAIL_2019_N: "$280",
            RETAIL_2021: "$310",
            YEARS_LEFT: "39",
            ANNUAL_DUES: "$ 6.26",
          },
          {
            name: "GRAND FLORIDIAN",
            RETAIL_2017: "$185",
            RETAIL_2018: "$220",
            RETAIL_2019: "$245",
            RETAIL_2019_N: "$255",
            RETAIL_2021: "$255",
            YEARS_LEFT: "43",
            ANNUAL_DUES: "$ 6.38",
          },
          {
            name: "HILTON HEAD",
            RETAIL_2017: "$115",
            RETAIL_2018: "$121",
            RETAIL_2019: "$125",
            RETAIL_2019_N: "$135",
            RETAIL_2021: "$140",
            YEARS_LEFT: "21",
            ANNUAL_DUES: "$ 8.56",
          },
          {
            name: "OLD KEY WEST(57)",
            RETAIL_2017: "$145",
            RETAIL_2018: "$151",
            RETAIL_2019: "$156",
            RETAIL_2019_N: "$165",
            RETAIL_2021: "$170",
            YEARS_LEFT: "36",
            ANNUAL_DUES: "$ 7.22",
          },
          {
            name: "POLYNESIAN",
            RETAIL_2017: "$165",
            RETAIL_2018: "$171",
            RETAIL_2019: "$176",
            RETAIL_2019_N: "$186",
            RETAIL_2021: "$186	",
            YEARS_LEFT: "36",
            ANNUAL_DUES: "$ 7.43",
          },
          {
            name: "RIVIERA",
            RETAIL_2017: "$176",
            RETAIL_2018: "$220",
            RETAIL_2019: "$235",
            RETAIL_2019_N: "$250",
            RETAIL_2021: "$250",
            YEARS_LEFT: "49",
            ANNUAL_DUES: "$ 8.31",
          },
          {
            name: "SARATOGA SPRINGS",
            RETAIL_2017: "$145",
            RETAIL_2018: "$151",
            RETAIL_2019: "$160",
            RETAIL_2019_N: "$165",
            RETAIL_2021: "$180",
            YEARS_LEFT: "33",
            ANNUAL_DUES: "$ 6.40",
          },
          {
            name: "VERO BEACH",
            RETAIL_2017: "$115",
            RETAIL_2018: "$100",
            RETAIL_2019: "$110",
            RETAIL_2019_N: "$120",
            RETAIL_2021: "$125",
            YEARS_LEFT: "21",
            ANNUAL_DUES: "$ 9.47",
          },
        ],
      },
    };
  },
};
</script>

<style></style>
