<template>
  <div>
    <p class="text-center text-3xl text-custom-blue6 pb-4 font-medium">
      HOW IT WORKS FOR
    </p>
    <div class="flex justify-center space-x-4">
      <button
        @click="current = 0"
        :class="
          current === 0
            ? 'bg-custom-blue6 text-white px-4 py-2 rounded-md'
            : 'border border-custom-blue6 text-custom-blue6 px-4 py-2 rounded-md'
        "
      >
        Buying
      </button>
      <button
        @click="current = 1"
        :class="
          current === 1
            ? 'bg-custom-blue6 text-white px-4 py-2 rounded-md'
            : 'border border-custom-blue6 text-custom-blue6 px-4 py-2 rounded-md'
        "
      >
        Selling
      </button>
    </div>
    <div class="px-16 pb-10 pt-10 space-y-3">
      <template
        v-for="(content, index) in current === 0 ? buyingData : sellingData"
      >
        <div class="flex space-x-10" :key="index">
          <p
            class="bg-custom-orange1 h-8 px-4 text-white rounded text-center pt-1"
          >
            {{ index + 1 }}
          </p>
          <div>
            <p class="text-custom-orange1 text-2xl italic">
              {{ content.head }}
            </p>
            <div class="flex items-center space-x-4">
              <img class="w-16" :src="content.image" />
              <p>
                {{ content.description }}
              </p>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      current: 0,
      buyingData: [
        {
          head: "CREATE YOUR ACCOUNT",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/createaccount.png",
          description:
            "The first step in placing an offer is to create an account. The information requested is necessary should your offer result in an agreement with the seller.",
        },
        {
          head: "FIND THE RIGHT CONTRACT",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/searchlisting.png",
          description:
            "Visit our LISTINGS page to find the perfect contract for your family. This page is updated daily in real-time. By clicking on the PLUS sign, you will see all costs associated with purchasing the membership, including closing costs and reimbursement of the dues.",
        },
        {
          head: "SUBMIT YOUR OFFER",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/megaphone.png",
          description:
            "Once you find the contract that interests you, simply select the MAKE OFFER button to enter your offer. Then press submit. Your offer will be automatically sent to the seller for their review. Once the seller responds, you will be notified by email.",
        },
        {
          head: "ESIGN YOUR AGREEMENT",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/esign.png",
          description:
            "If your reach an agreement with the seller, you will notice the AGREEMENT tab. You will click to review the details of the contract and sign using your mouse as a pen. Once signed by all parties, we will submit the contract to Disney for ROFR.",
        },
        {
          head: "MAKE YOUR DEPOSIT",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/moneyhand.png",
          description:
            "After signing your agreement, you will be directed to the DEPOSIT page. The required escrow deposit is a minimum of 10% up to $5,000 with no service fee. Typically, this amount is charged to your credit card.",
        },
        {
          head: "WAIT ON DISNEY'S RIGHT OF FIRST REFUSAL (ROFR)",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/search.png",
          description:
            "After Disney receives the contract, they will confirm all details of the contract. They check for any errors in the names on the deed, verify the available points, ownership status, etc. It typically takes up to 30 days for Disney to decide if they are going to buy the contract back themselves.",
        },
        {
          head: "SIGN YOUR CLOSING DOCUMENTS",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/stamp.png",
          description:
            "Once Disney has waived their Right of First Refusal (ROFR) the title company will generate the closing documents and email them to you. As a buyer, you may sign electronically and submit the funds that are due by wire transfer or send a cashier's check.",
        },
        {
          head: "START PLANNING YOUR FIRST VACTION",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/travel.png",
          description:
            "Roughly 2-3 weeks after the contract is closed, the transfer of ownership is complete and the points will populate in your new DVC account. Disney will mail a welcome package with your new member number (unless you are a member already). Now it's time to plan your next Disney vacation!",
        },
      ],
      sellingData: [
        {
          head: "CREATE YOUR ACCOUNT",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/createaccount.png",
          description:
            "We need your information to communicate with you regarding reviewing offers and to populate a contract. Disney also has some required information we collect to prepare our package when we have a contract to submit",
        },
        {
          head: "ADD YOUR LISTING(S)",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/addlisting.svg",
          description:
            "Tell us about your membership you want to sell. Resort name, number of points on the contract, Use year, the number of available points for last, current and next use year, your asking price.",
        },
        {
          head: "VERIFY YOUR AVAILABLE POINTS",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/verifypoints.png",
          description:
            "Disney will reject an contract submitted of the available points for the previous, current and next year are not properly represented so we will need you to review your DVC online member account to provide the most current information.",
        },
        {
          head: "REVIEW OFFERS",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/reviewoffer.png",
          description:
            "When we have an offer on your contract(s) we will email, text or call with the details. We are available to help you make sure you are getting the most money for your membership the market will allow. You may decide to accept or counter any offer. It is 100% your decision.",
        },
        {
          head: "ESIGN YOUR AGREEMENT",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/esign.png",
          description:
            "Once you have an agreement, just login to your portal and follow the prompts to review and esign your agreement. You can use your mouse as a pen to sign.",
        },
        {
          head: "WAIT ON DISNEY'S RIGHT OF FIRST REFUSAL (ROFR)",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/search.png",
          description:
            "After both the buyers and sellers have signed we will submit your contract to Disney for their review. They will check for errors and start their 30 day Right of First Refusal (ROFA) process. Should they elect to step in and purchase your contract you will receive the exact same dollar amount. Typical Disney purchases about 10% of the contract. We will notify you the day Disney sent us their response.",
        },
        {
          head: "SIGN YOUR CLOSING DOCUMENTS",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/stamp.png",
          description:
            "Once Disney has waived their Right of First Refusal (ROFR) the title company will generate the closing documents and email them to you. As a buyer, you may sign electronically and submit the funds that are due by wire transfer or send a cashier's check.",
        },
        {
          head: "START PLANNING YOUR FIRST VACTION",
          image:
            "https://dvcsales.com/wp-content/themes/dvcsales/images/newicons/travel.png",
          description:
            "Roughly 2-3 weeks after the contract is closed, the transfer of ownership is complete and the points will populate in your new DVC account. Disney will mail a welcome package with your new member number (unless you are a member already). Now it's time to plan your next Disney vacation!",
        },
      ],
    };
  },
};
</script>

<style></style>
